Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

Migrate updated EIP-712 algorithm from Evmos (#1746)
  app/ante/ante_test.go
  app/ante/eip712.go
  app/ante/utils_test.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/domain.go
  ethereum/eip712/eip712_fuzzer_test.go
  ethereum/eip712/eip712_legacy.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding_legacy.go
  ethereum/eip712/message.go
  ethereum/eip712/preprocess.go
  ethereum/eip712/preprocess_test.go
  ethereum/eip712/types.go
  go.mod
  go.sum
  gomod2nix.toml
  testutil/tx/eip712.go
Due: app, core

add missing entries to changelog
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

add missing entries to changelog (#1748)
  CHANGELOG.md
Due: none

add release date
  CHANGELOG.md
Due: none

add commetbft on changelog
  CHANGELOG.md
Due: none

Facs95/v0.22.0 (#1749)
  CHANGELOG.md
Due: none

rm AppendJournalEntry
  x/evm/statedb/interfaces.go
  x/evm/statedb/statedb.go
Due: modules

fix resolve
  gomod2nix.toml
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
Due: modules

revert cache store refactor
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  app/app.go
  go.mod
  store/cachekv/README.md
  store/cachekv/bench_helper_test.go
  store/cachekv/benchmark_test.go
  store/cachekv/internal/btree.go
  store/cachekv/internal/btree_test.go
  store/cachekv/internal/memiterator.go
  store/cachekv/internal/mergeiterator.go
  store/cachekv/store.go
  store/cachekv/store_bench_test.go
  store/cachekv/store_test.go
  store/cachemulti/store.go
  store/cachemulti/store_test.go
  tests/importer/importer_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb_test.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: app, modules

fix writeCache
  x/evm/statedb/native.go
  x/evm/statedb/statedb.go
Due: modules

check nil for writeCache and ms
  x/evm/statedb/statedb.go
Due: modules

upgrade sdk to 47.1.0
  go.mod
  go.sum
Due: none

add bank msg utility cmd
  client/bank.go
  client/bank/msg_utility.go
  cmd/ethermintd/root.go
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/hardhat/contracts/TestBank.sol
  tests/integration_tests/test_precompiles.py
  x/evm/keeper/precompiles/bank.go
  x/evm/types/interfaces.go
Due: modules, clients

fix simapp
  app/ante/ante_test.go
  app/ante/utils_test.go
  app/app.go
  app/app_test.go
  app/benchmark_test.go
  app/export.go
  app/utils.go
  cmd/ethermintd/root.go
  encoding/config.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
  indexer/kv_indexer_test.go
  testutil/network/network.go
  x/evm/handler_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/integration_test.go
Due: app, modules

fix simapp imports
  app/app_test.go
  go.mod
  go.sum
Due: app

fix module imports
  app/app.go
  server/start.go
  testutil/network/network.go
Due: app

upgrade to ibc-go v7
  app/ante/eip712.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  app/app.go
  go.mod
  go.sum
  gomod2nix.toml
Due: app

update proto
  CONTRIBUTING.md
  crypto/ethsecp256k1/keys.pb.go
  go.mod
  go.sum
  gomod2nix.toml
  proto/buf.gen.gogo.yaml
  proto/buf.gen.swagger.yaml
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/evm/handler_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/types/evm.pb.go
  x/evm/types/codec.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/evm/types/utils.go
  x/evm/types/utils_test.go
  x/feemarket/migrations/v4/types/feemarket.pb.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/tx.pb.go
Due: modules

run make proto-gen
  Makefile
  crypto/ethsecp256k1/keys.pb.go
  go.mod
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/tx.pb.go
Due: none

update proto types
  Makefile
  proto/buf.yaml
  proto/ethermint/types/v1/account.proto
  types/account.pb.go
Due: none

update proto files
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/types/evm.pb.go
  x/feemarket/migrations/v4/types/feemarket.pb.go
Due: none

run make proto all
  go.sum
Due: none

fix: remove duplicate paragraph in the doc feemarket concepts
  x/feemarket/spec/01_concepts.md
Due: modules

fix: remove duplicate paragraph in the doc feemarket concepts (#1763)
  x/feemarket/spec/01_concepts.md
Due: modules

update nix
  gomod2nix.toml
Due: none

fix blk number for next base fee
  rpc/backend/utils.go
Due: clients

add test
  tests/integration_tests/test_fee_history.py
Due: none

add change doc
  CHANGELOG.md
Due: none

cross check next fee
  tests/integration_tests/test_fee_history.py
Due: none

calc base fee based on params
  rpc/backend/utils.go
  tests/integration_tests/configs/fee-history.jsonnet
  tests/integration_tests/test_fee_history.py
Due: clients

concurrent call with maxBlockFetchers
  rpc/backend/chain_info.go
Due: clients

test with get feemarket params
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/test_fee_history.py
Due: none

fix test
  rpc/backend/chain_info_test.go
Due: clients

Update CHANGELOG.md
  CHANGELOG.md
Due: none

align request beyond head block
  rpc/backend/chain_info.go
  tests/integration_tests/test_fee_history.py
Due: clients

align invalid reward percentile
  rpc/backend/chain_info.go
  tests/integration_tests/test_fee_history.py
Due: clients

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

feat: integrate tendermint bootstrap cmd
  CHANGELOG.md
  cmd/ethermintd/root.go
  go.mod
  go.sum
  gomod2nix.toml
  server/util.go
Due: none
