Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

add TestParamChanges
  x/evm/simulation/params.go
  x/evm/simulation/params_test.go
Due: modules

add TestAppStateFn TestRandomAccounts
  app/utils_test.go
Due: app

add paramschange for enableCreate and enableCall
  x/evm/simulation/genesis.go
  x/evm/simulation/params.go
Due: modules

resolve conflict
  CHANGELOG.md
Due: none

update godoc
  x/evm/simulation/decoder_test.go
  x/evm/simulation/params_test.go
Due: modules

use estimateGas to calculate max transferableAmount
  x/evm/simulation/operations.go
Due: modules

use random gasCap to estimate gas
  x/evm/simulation/operations.go
Due: modules

TestAppStateFn -> TestStateFn
  app/utils_test.go
Due: app

fix london hardfork check logic in json-rpc apis
  CHANGELOG.md
  app/ante/eth.go
  app/ante/interfaces.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  rpc/ethereum/backend/backend.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/simulation/operations.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
Due: app, modules, clients

fix comment
  rpc/ethereum/backend/backend.go
Due: clients

rpc: refactor rpc packages and backend to support cosmos namespace
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/backend/utils.go
  rpc/ethereum/backend/feebackend.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/trace_fallback.go
  rpc/namespaces/ethereum/debug/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
  rpc/namespaces/ethereum/eth/filters/utils.go
  rpc/namespaces/ethereum/miner/api.go
  rpc/namespaces/ethereum/miner/unsupported.go
  rpc/namespaces/ethereum/net/api.go
  rpc/namespaces/ethereum/personal/api.go
  rpc/namespaces/ethereum/txpool/api.go
  rpc/namespaces/ethereum/web3/api.go
  rpc/types/addrlock.go
  rpc/types/block.go
  rpc/types/block_test.go
  rpc/types/query_client.go
  rpc/types/types.go
  rpc/types/utils.go
  rpc/websockets.go
  server/start.go
  tests/e2e/integration_test.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  x/evm/client/cli/query.go
  x/evm/client/cli/tx.go
  x/evm/client/rest/rest.go
Due: modules, clients

changelog
  CHANGELOG.md
Due: none

add unit test
  CHANGELOG.md
  x/evm/keeper/grpc_query_test.go
Due: modules

typo
  rpc/namespaces/ethereum/eth/filters/subscription.go
Due: clients

changed module declaration from github.com/tharsis/ethermint to github.com/Canto-Network/ethermint
  go.mod
Due: none

Update x/evm/keeper/grpc_query_test.go
  x/evm/keeper/grpc_query_test.go
Due: modules

fix!: london hardfork check logic in json-rpc apis (#1068)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/interfaces.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  rpc/ethereum/backend/backend.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/simulation/operations.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
Due: app, modules, clients

Update x/evm/simulation/genesis.go
  x/evm/simulation/genesis.go
Due: modules

Update rpc/backend/backend.go
  rpc/backend/backend.go
Due: clients

rpc: refactor rpc packages and backend to support cosmos namespace (#1070)
  CHANGELOG.md
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/backend/utils.go
  rpc/ethereum/backend/feebackend.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/trace_fallback.go
  rpc/namespaces/ethereum/debug/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
  rpc/namespaces/ethereum/eth/filters/utils.go
  rpc/namespaces/ethereum/miner/api.go
  rpc/namespaces/ethereum/miner/unsupported.go
  rpc/namespaces/ethereum/net/api.go
  rpc/namespaces/ethereum/personal/api.go
  rpc/namespaces/ethereum/txpool/api.go
  rpc/namespaces/ethereum/web3/api.go
  rpc/types/addrlock.go
  rpc/types/block.go
  rpc/types/block_test.go
  rpc/types/query_client.go
  rpc/types/types.go
  rpc/types/utils.go
  rpc/websockets.go
  server/start.go
  tests/e2e/integration_test.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  x/evm/client/cli/query.go
  x/evm/client/cli/tx.go
  x/evm/client/rest/rest.go
Due: modules, clients

comment
  CHANGELOG.md
  x/evm/simulation/decoder.go
  x/evm/simulation/genesis.go
Due: modules

imp, ci: address pending issues from EVM simulation (#1063)
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  app/utils.go
  app/utils_test.go
  x/evm/simulation/decoder.go
  x/evm/simulation/decoder_test.go
  x/evm/simulation/genesis.go
  x/evm/simulation/genesis_test.go
  x/evm/simulation/operations.go
  x/evm/simulation/params.go
  x/evm/simulation/params_test.go
Due: app, modules

ci: bump simulations timeout
  .github/workflows/test.yml
  CHANGELOG.md
Due: none

remove unused bank keeper dependency from account verification decorator
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
Due: app

remove unused bank keeper dependency from account verification decorator (#1074)
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
Due: app

Check EnableCreate/EnableCall in ante handler
  CHANGELOG.md
  app/ante/eth.go
Due: app

add unit tests
  app/ante/ante_test.go
  app/ante/utils_test.go
Due: app

Modify docker files to work with existing genesis.json (#45)
  .github/workflows/docker-build-test.yml
  init.sh
Due: none

ci: bump simulations timeout (#1073)
  .github/workflows/test.yml
  CHANGELOG.md
Due: none

refactor NewTx usage in ante test w/ fee market disabled to ensure we are creating transactions with gas greater than the minimum
  app/ante/ante_test.go
  app/ante/utils_test.go
Due: app

fix - enable mempool fee check against minimum-gas-price when fee market is disabled
  app/ante/ante_test.go
  app/ante/eth.go
Due: app

update changelog
  CHANGELOG.md
Due: none

ante: check `EnableCreate`/`EnableCall` in ante handler (#1060)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/utils_test.go
Due: app

fix: eip712 support for pubkey any messages
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
Due: app

fix merge conflict
  app/ante/ante_test.go
Due: app

respect min gas gas in eth_gasPrice when london is enabled and feemarket is not
  rpc/namespaces/ethereum/eth/api.go
Due: clients

update CHANGELOG
  CHANGELOG.md
Due: none

release: update CHANGELOG (#1078)
  CHANGELOG.md
Due: none

add unreleased section to changelog
  CHANGELOG.md
Due: none

release: merge release branch changes back to main (#1079)
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
