Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

fix: moving tests to integration_test.go
  tests/e2e/integration_test.go
  tests/rpc/rpc_test.go
Due: none

keeper integration
  app/ante/eth.go
  app/ante/interfaces.go
  x/evm/genesis.go
  x/evm/keeper/abci.go
  x/evm/keeper/context_stack.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/keeper/utils.go
  x/evm/types/key.go
Due: app, modules

initial statedb module
  x/evm/statedb/access_list.go
  x/evm/statedb/config.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/journal.go
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: modules

Apply suggestions from code review
  app/ante/eth.go
  x/evm/statedb/config.go
Due: app, modules

fix unit tests
  app/ante/ante_test.go
  app/ante/eth_test.go
  app/ante/sigs_test.go
  app/ante/utils_test.go
  tests/importer/importer_test.go
  x/evm/genesis_test.go
  x/evm/handler_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
  x/feemarket/keeper/keeper_test.go
Due: app, modules

fixup! initial statedb module
  x/evm/statedb/mock_test.go
Due: modules

GetBlock rpc api report wrong gasUsed
  rpc/ethereum/backend/backend.go
Due: clients

Update rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/backend.go
Due: clients

changelog
  CHANGELOG.md
Due: none

fix: GetBlock rpc api reports wrong gasUsed (#878)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
Due: clients

evm: refactor statedb implementation (#729)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/interfaces.go
  app/ante/sigs_test.go
  app/ante/utils_test.go
  tests/importer/importer_test.go
  x/evm/genesis.go
  x/evm/genesis_test.go
  x/evm/handler_test.go
  x/evm/keeper/abci.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/context_stack.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/statedb/access_list.go
  x/evm/statedb/config.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/journal.go
  x/evm/statedb/mock_test.go
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
  x/evm/types/key.go
  x/feemarket/keeper/keeper_test.go
Due: app, modules

fix: moving rpc tests to integration_test.go (#875)
  tests/e2e/integration_test.go
  tests/rpc/rpc_test.go
Due: none

deps: IBC v3 alpha2
  app/app.go
  go.mod
  go.sum
Due: app

deps: IBC v3 alpha2 (#882)
  app/app.go
  go.mod
  go.sum
Due: app

evm: improve error message for invalid account
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/types/errors.go
Due: modules

fix
  x/evm/keeper/keeper.go
Due: modules

evm: improve error message for invalid account (#883)
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/types/errors.go
Due: modules

types,evm: refactor accounts
  app/ante/eth.go
  app/ante/interfaces.go
  types/account.go
  x/evm/genesis.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/mock_test.go
  x/evm/statedb/statedb.go
Due: app, modules, core

fix
  types/code.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
  x/evm/statedb/statedb_test.go
Due: modules, core

fix panic
  x/evm/keeper/statedb.go
Due: modules

fix
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
Due: modules

lint, rm dbErr
  x/evm/keeper/statedb_test.go
  x/evm/statedb/statedb.go
Due: modules

types, evm: refactor accounts (#884)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/interfaces.go
  types/account.go
  types/code.go
  x/evm/genesis.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/mock_test.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: app, modules, core

update evm spec to cover statedb refactoring changes
  x/evm/spec/02_state.md
Due: modules

Update x/evm/spec/02_state.md
  x/evm/spec/02_state.md
Due: modules

docs: update evm spec to cover statedb refactoring changes (#885)
  x/evm/spec/02_state.md
Due: modules

Impove test coverage of x/evm/statedb package
  x/evm/statedb/access_list.go
  x/evm/statedb/mock_test.go
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: modules

evm: improve test coverage of `statedb` package (#888)
  x/evm/statedb/access_list.go
  x/evm/statedb/mock_test.go
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: modules

Make gas estimation test reproducible
  x/evm/keeper/keeper_test.go
Due: modules

fix: make gas estimation test reproducible (#890)
  x/evm/keeper/keeper_test.go
Due: modules

release: v0.10.0-alpha changelog
  CHANGELOG.md
Due: none

deps: IBC v3 alpha2
  go.mod
  go.sum
Due: none

deps: IBC v3 alpha2 (#892)
  go.mod
  go.sum
Due: none

release: v0.10.0-alpha changelog (#891)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

GetTransactionByHash don't find tx in mempool
  rpc/ethereum/backend/backend.go
Due: clients

Problem: newPendingTransactions filter don't return ethereum tx hash
  rpc/websockets.go
  server/json_rpc.go
Due: clients
