Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

add getblockvalue for chain config fork
  app/ante/utils_test.go
  x/evm/keeper/keeper_test.go
  x/evm/types/chain_config.go
Due: app, modules

deps: upgrade geth to v1.10.15 (#935)
  CHANGELOG.md
  app/ante/interfaces.go
  app/ante/utils_test.go
  app/app.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/types/chain_config.go
  x/evm/types/evm.pb.go
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: app, modules

fix lint
  x/evm/keeper/state_transition.go
Due: modules

fix: base fee check logic in state transition (#932)
  CHANGELOG.md
  x/evm/keeper/state_transition.go
Due: modules

add release v.0.10.x Changelog
  CHANGELOG.md
Due: none

add release v0.10.0-beta1 CHANGELOG
  CHANGELOG.md
Due: none

release: v0.10.0-beta1 changelog (#941)
  .github/workflows/build.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  app/ante/eth.go
  app/ante/interfaces.go
  app/ante/utils_test.go
  app/app.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  rpc/websockets.go
  scripts/integration-test-all.sh
  scripts/start.sh
  tests/e2e/integration_test.go
  tests/solidity/yarn.lock
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/spec/08_params.md
  x/evm/types/chain_config.go
  x/evm/types/evm.pb.go
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: app, modules, clients

danburck/release changelog (#942)
  CHANGELOG.md
Due: none

change basefee to a module params
  app/ante/utils_test.go
  docs/api/proto-docs.md
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/types/utils.go
  x/evm/keeper/keeper_test.go
  x/feemarket/genesis.go
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/params.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/genesis_test.go
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
Due: app, modules, clients

add changelog and fix linter
  CHANGELOG.md
  app/ante/utils_test.go
  client/docs/statik/statik.go
  x/evm/keeper/keeper_test.go
  x/feemarket/genesis.go
  x/feemarket/keeper/params.go
  x/feemarket/types/genesis.go
  x/feemarket/types/genesis_test.go
  x/feemarket/types/params.go
Due: app, modules, clients

add extra param to config rules
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
Due: modules

change params type of basefee and remove default base fee
  app/ante/utils_test.go
  docs/api/proto-docs.md
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  x/evm/keeper/keeper_test.go
  x/feemarket/genesis.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query.go
  x/feemarket/keeper/params.go
  x/feemarket/simulation/genesis.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/genesis_test.go
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
Due: app, modules

restaure event
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/types/utils.go
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/grpc_query.go
  x/feemarket/keeper/params.go
Due: modules, clients

clean code
  x/feemarket/types/params.go
Due: modules

fix proto
  proto/ethermint/feemarket/v1/genesis.proto
  x/feemarket/types/genesis.pb.go
Due: none

deps: bump IBC v3-rc0
  go.mod
  go.sum
Due: none

rm strict
  .mergify.yml
Due: none

deps: bump IBC v3-rc0 (#947)
  .mergify.yml
  go.mod
  go.sum
Due: none

update changelog
  CHANGELOG.md
Due: none

update comments
  server/config/toml.go
Due: none

fix protos
  docs/api/proto-docs.md
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
Due: none

fix logic
  x/feemarket/keeper/eip1559.go
  x/feemarket/simulation/genesis.go
  x/feemarket/types/genesis.go
  x/feemarket/types/genesis_test.go
Due: modules

redirect go-ethereum's logs to cosmos logger
  server/json_rpc.go
Due: none

changelog
  CHANGELOG.md
Due: none

Apply suggestions from code review
  server/json_rpc.go
Due: none

imp: redirect go-ethereum's logs to cosmos logger (#948)
  CHANGELOG.md
  server/json_rpc.go
Due: none

update rpc tests
  tests/rpc/rpc_test.go
Due: none

correct payload
  app/ante/eip712.go
  app/ante/handler_options.go
  ethereum/eip712/eip712.go
  ethereum/eip712/signed_data.go
Due: app

eip712 working with evmos.me
  app/ante/eip712.go
  app/ante/handler_options.go
  ethereum/eip712/eip712.go
  ethereum/eip712/signed_data.go
Due: app

use geth TypedData types
  app/ante/eip712.go
  ethereum/eip712/eip712.go
  ethereum/eip712/signed_data.go
  go.mod
  go.sum
Due: app

fix linter
  app/ante/eip712.go
  ethereum/eip712/eip712.go
Due: app

fix comment
  x/feemarket/keeper/params.go
Due: modules

minor cleanup
  x/evm/genesis.go
  x/evm/genesis_test.go
Due: modules

add genesis test and minor optimization
  x/evm/genesis.go
  x/evm/genesis_test.go
Due: modules

allow adding code at genesis
  x/evm/genesis.go
Due: modules

minor refactor
  app/ante/eip712.go
  ethereum/eip712/eip712.go
Due: app

feemarket: change basefee to be a module param (#943)
  CHANGELOG.md
  app/ante/utils_test.go
  client/docs/statik/statik.go
  docs/api/proto-docs.md
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  tests/rpc/rpc_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/genesis.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/params.go
  x/feemarket/simulation/genesis.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/genesis_test.go
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
Due: app, modules, clients

add signTypedData api
  rpc/ethereum/namespaces/eth/api.go
Due: clients

fix typo
  rpc/ethereum/namespaces/eth/api.go
Due: clients
