Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

Problem: unwrap context panic in BlockMaxGasFromConsensusParams (#16)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/types/utils.go
Due: clients

Improvement(Ethermint): Replace PersistentFlags with Flags
  server/flags/flags.go
Due: none

Apply suggestions from code review
  rpc/ethereum/namespaces/debug/trace.go
Due: clients

ci: enable backport for v0.8 and v0.7
  .clang-format
  .mergify.yml
Due: none

changelog
  .mergify.yml
  CHANGELOG.md
Due: none

ci: enable backport for v0.8 and v0.7 (#784)
  .clang-format
  .mergify.yml
  CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

fix: web3 rpc api returns wrong block gas limit (#782)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/types/utils.go
Due: clients

Improvement(Ethermint): Use persisentFlags again and remove required attribute for chain id
  server/flags/flags.go
Due: none

fix: gosec issues (#779)
  app/export.go
  client/testnet.go
  cmd/ethermintd/root.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  rpc/ethereum/namespaces/debug/utils.go
  server/flags/flags.go
  server/start.go
  testutil/network/network.go
Due: app, clients

fix error message in `SendTransaction` json-rpc api
  CHANGELOG.md
  app/ante/ante.go
  app/ante/eth.go
  go.mod
  go.sum
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/miner/api.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/utils.go
  x/evm/types/chain_config.go
Due: app, modules, clients

Update x/evm/keeper/msg_server.go
  x/evm/keeper/msg_server.go
Due: modules

fix: improve error message in `SendTransaction` json-rpc api (#786)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/eth.go
  go.mod
  go.sum
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/miner/api.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/utils.go
  x/evm/types/chain_config.go
Due: app, modules, clients

conflicts
  CHANGELOG.md
Due: none

h3
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

Fix get block (#781)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
Due: clients

fix error message in `SendTransaction` json-rpc api (#17)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/eth.go
  go.mod
  go.sum
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/miner/api.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/utils.go
  x/evm/types/chain_config.go
Due: app, modules, clients

update changelog for v0.7.2-cronos-3 release
  CHANGELOG.md
Due: none

feat: store migration setup
  x/evm/keeper/migrations.go
  x/evm/module.go
  x/feemarket/keeper/migrations.go
  x/feemarket/module.go
Due: modules

comment
  cmd/ethermintd/root.go
Due: none

feat: store migration setup (#794)
  CHANGELOG.md
  cmd/ethermintd/root.go
  x/evm/keeper/migrations.go
  x/evm/module.go
  x/feemarket/keeper/migrations.go
  x/feemarket/module.go
Due: modules

Remove unused AccessListDecorator
  app/ante/eth.go
  app/ante/eth_test.go
Due: app

Problem: ForEachStorage sematic not compatible with go-ethereum
  testutil/network/util.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Due: modules

ante: remove unused AccessListDecorator (#797)
  app/ante/eth.go
  app/ante/eth_test.go
Due: app

docs: re-license to LGPLv3
  LICENSE
Due: none

docs: re-license to LGPLv3 (#800)
  CHANGELOG.md
  LICENSE
Due: none

Clear access list for each transaction
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
Due: modules

tests: geth client wrapper (#774)
  server/config/config.go
  tests/e2e/integration_test.go
  testutil/network/network.go
Due: none

evm: `ForEachStorage` semantic not compatible with go-ethereum (#798)
  CHANGELOG.md
  testutil/network/util.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Due: modules

evm: clear access list for each transaction (#802)
  CHANGELOG.md
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
Due: modules
