Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

imp(rpc) Add support for EVM RPC metrics
  .github/workflows/semgrep.yml
  CHANGELOG.md
  go.mod
  go.sum
  gomod2nix.toml
  server/config/config.go
  server/config/toml.go
  server/json_rpc.go
Due: none

WIP GetTransactionCount with RegisterABCIQueryWithOptions
  rpc/backend/account_info_test.go
Due: clients

remove TODO
  rpc/backend/account_info_test.go
  rpc/backend/mocks/auth_query_client.go
Due: clients

go mod tidy
  go.mod
  go.sum
Due: none

tests(rpc): Add account info unit tests (#1339)
  rpc/backend/account_info_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/mocks/evm_query_client.go
Due: clients

update go2modnix
  gomod2nix.toml
Due: none

update gomod2nix
  gomod2nix.toml
Due: none

bank genesis params
  testutil/network/util.go
Due: none

imp(rpc) Add support for EVM RPC metrics
  .github/workflows/semgrep.yml
  CHANGELOG.md
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
Due: none

Update as per PR feedback
  server/flags/flags.go
  server/start.go
Due: none

upgrade sdk to v0.45.9
  go.mod
  go.sum
Due: none

upgrade ics23 go version
  go.mod
  go.sum
Due: none

fix util issues
  server/util.go
Due: none

update changelog
  CHANGELOG.md
Due: none

imp(rpc) Add support for EVM RPC metrics (#1378)
  .github/workflows/semgrep.yml
  CHANGELOG.md
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
Due: none

Bump sdk to `v0.45.9` (#1381)
  CHANGELOG.md
  go.mod
  go.sum
  gomod2nix.toml
  server/util.go
Due: none

upgrade to ibc-go v3.3.0
  go.mod
  go.sum
Due: none

wip geth update
  gomod2nix.toml
  nix/go-ethereum.nix
  x/evm/keeper/grpc_query.go
Due: modules

evm.InitGenesis skip codehash check when the code has been deleted in the evm state
  x/evm/genesis.go
Due: modules

just ignore all the codehash check when the evm account code is empty
  x/evm/genesis.go
Due: modules

fix lint
  x/evm/genesis.go
Due: modules

add test
  x/evm/genesis_test.go
Due: modules

nit
  x/evm/genesis.go
Due: modules

bump sdk
  go.mod
  go.sum
Due: none

undo go.sum
  go.mod
Due: none

bump
  go.sum
Due: none

deps: upgrade to ibc-go v3.3.0 (#1384)
  go.mod
  go.sum
Due: none

fix(testutils): fix blank bank genesis params (#1379)
  testutil/network/util.go
Due: none

wip
  x/evm/vm/ethermint/evm.go
  x/evm/vm/ethermint/precompiles.go
  x/evm/vm/interface.go
Due: modules

Bump SDK to 0.46.2 (#1386)
  go.mod
  go.sum
Due: none

refactor: antehandler order and params optimization
  app/ante/eth.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  x/evm/keeper/params.go
  x/evm/keeper/state_transition.go
  x/feemarket/keeper/params.go
Due: app, modules

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
