Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

Update preprocess_test
  ethereum/eip712/preprocess_test.go
Due: none

Add tests and fix lint
  ethereum/eip712/preprocess.go
  ethereum/eip712/preprocess_test.go
Due: none

update tm
  go.mod
  go.sum
  gomod2nix.toml
Due: none

replace ws with rpc
  rpc/apis.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
  rpc/websockets.go
  server/json_rpc.go
  server/start.go
  server/util.go
  testutil/network/util.go
Due: clients

rm unused NewPendingTransactions
  rpc/namespaces/ethereum/eth/filters/api.go
Due: clients

keep poll
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

avoid poll when ws close
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

add wait filter for stable test
  tests/integration_tests/test_filters.py
Due: none

add time for after
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
Due: clients

fix mock
  rpc/backend/mocks/client.go
Due: clients

Update docs/architecture/adr-003-stateful-precompiles.md
  docs/architecture/adr-003-stateful-precompiles.md
Due: none

add changelog
  CHANGELOG.md
Due: none

test: add integration test for the rollback cmd (#1311)
  CHANGELOG.md
  go.mod
  go.sum
  gomod2nix.toml
  server/util.go
  tests/integration_tests/configs/broken-ethermintd.nix
  tests/integration_tests/configs/broken-ethermintd.patch
  tests/integration_tests/configs/rollback-test.jsonnet
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/network.py
  tests/integration_tests/test_rollback.py
  tests/integration_tests/utils.py
Due: none

tests: improve x/evm/types coverage (#1302)
  x/evm/types/access_list_tx_test.go
  x/evm/types/chain_config_test.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/genesis_test.go
  x/evm/types/legacy_tx_test.go
  x/evm/types/logs_test.go
  x/evm/types/tx_args_test.go
  x/evm/types/utils_test.go
Due: modules

Change the fallback priority mechanism to be based on gas price (#1289)
  CHANGELOG.md
  app/ante/fee_checker.go
Due: app

fix lint
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
Due: clients

add max retry
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

update to fix get events api
  go.mod
  go.sum
  gomod2nix.toml
Due: none

no need seq and avoid wait response till max items
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

Revert "rm unused NewPendingTransactions"
  rpc/namespaces/ethereum/eth/filters/api.go
Due: clients

Specificy that the endpoints are getting Etherum transactions in comments
  rpc/backend/blocks.go
Due: clients

Refactor shared logic into GetBlockTransactionCount
  rpc/backend/blocks.go
Due: clients

rename BlockFromTendermintBlock to RPCBlockFromTendermintBlock
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
Due: clients

add CHangelog
  CHANGELOG.md
Due: none

add quick poll for latest cursor on empty after
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

poll with returned newest cursor waitscan if no moreitems
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

tests(rpc): add backend blocks tests (#1296)
  CHANGELOG.md
  rpc/backend/account_info.go
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/filters.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
Due: clients

fix batch requests with ws
  rpc/websockets.go
Due: clients

reverse order to get items in desc
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

fasten to get newest cursor
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

add defaultAfter const to be clearer
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

clean up
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
Due: clients

avoid send data to channel when context cancelled
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

Problem: nix binary cache is not uploaded for macos
  .github/workflows/test.yml
Due: none

Refactor preprocess test
  ethereum/eip712/preprocess_test.go
Due: none

refactor
  rpc/websockets.go
Due: clients

wip
  x/evm/vm/ethermint/evm.go
  x/evm/vm/geth/evm.go
Due: modules

rm 1st call
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  tests/integration_tests/configs/default.jsonnet
Due: clients

Implement minor fix and add changelog entry
  CHANGELOG.md
  ethereum/eip712/preprocess.go
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
