Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

tmp
  Makefile
  scripts/proto-tools-installer.sh
Due: none

working tmp
  third_party/proto/amino/amino.proto
  third_party/proto/cosmos/app/runtime/v1alpha1/module.proto
  third_party/proto/cosmos/app/v1alpha1/config.proto
  third_party/proto/cosmos/app/v1alpha1/module.proto
  third_party/proto/cosmos/app/v1alpha1/query.proto
Due: none

fix rebase conflict
  app/ante/ante_test.go
  app/ante/eip712.go
  app/ante/utils_test.go
  app/app.go
  app/utils.go
  app/utils_test.go
  crypto/ethsecp256k1/keys.pb.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
  go.mod
  go.sum
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/evm/module.go
  x/evm/types/codec.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/module.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/tx.pb.go
Due: app, modules, clients

fix merge conflict
  app/simulation_test.go
  app/utils_test.go
  rpc/backend/client_test.go
  server/start.go
  tests/e2e/integration_test.go
  x/evm/module.go
  x/evm/simulation/params.go
Due: app, modules, clients

fix test
  rpc/backend/chain_info_test.go
Due: clients

fix parse for websocket connID
  rpc/websockets.go
  tests/integration_tests/test_websockets.py
Due: clients

update nix
  gomod2nix.toml
Due: none

update doc
  CHANGELOG.md
Due: none

retry once for flaky test_event_log_filter_by_topic
  tests/integration_tests/poetry.lock
  tests/integration_tests/pyproject.toml
  tests/integration_tests/test_filters.py
Due: none

recover makefile changes
  Makefile
Due: none

fix lint
  app/app.go
  app/export.go
  app/utils.go
  client/testnet.go
  rpc/backend/chain_info.go
  rpc/types/utils.go
  testutil/network/util.go
  x/evm/module.go
  x/feemarket/module.go
Due: app, modules, clients

fix protoc-gen-tool script
  go.mod
  go.sum
  scripts/proto-tools-installer.sh
Due: none

align filter rule for debug_traceBlockByNumber
  rpc/backend/tracing.go
Due: clients

test debug_traceBlockByNumber
  tests/integration_tests/test_account.py
  tests/integration_tests/test_debug_trace.py
  tests/integration_tests/utils.py
Due: none

fix lint
  tests/integration_tests/test_debug_trace.py
Due: none

fix test
  rpc/backend/tracing_test.go
Due: clients

update tendermint dependency
  go.mod
  go.sum
Due: none

replace ws with rpc
  rpc/apis.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
  rpc/websockets.go
  server/json_rpc.go
  server/start.go
  server/util.go
  testutil/network/util.go
Due: clients

keep poll
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

avoid poll when ws close
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

add wait filter for stable test
  tests/integration_tests/test_filters.py
Due: none

add time for after
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
Due: clients

fix mock
  rpc/backend/mocks/client.go
Due: clients

fix lint
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
Due: clients

add max retry
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

no need seq and avoid wait response till max items
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

add quick poll for latest cursor on empty after
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

poll with returned newest cursor waitscan if no moreitems
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

fasten to get newest cursor
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

reverse order to get items in desc
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

add defaultAfter const to be clearer
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

clean up
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
Due: clients

avoid send data to channel when context cancelled
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

rm 1st call
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  tests/integration_tests/configs/default.jsonnet
Due: clients

update mod
  go.mod
  go.sum
  gomod2nix.toml
Due: none

nix-action fail in CI
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

update btcsuite/btcutil path
  crypto/hd/algorithm.go
  go.mod
  go.sum
Due: core
