Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

ante: move deduct gas to EVM keeper (#584)
  app/ante/ante.go
  app/ante/eth.go
  app/ante/eth_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
Due: app, modules

rpc: geth v1.10.8 changes
  ethereum/rpc/backend/backend.go
  ethereum/rpc/backend/utils.go
  ethereum/rpc/namespaces/personal/api.go
  ethereum/rpc/types/query_client.go
Due: none

adds benchmark for state_transition
  x/evm/keeper/state_transition_benchmark_test.go
Due: modules

adds more erc20 token benchmark tests
  x/evm/keeper/benchmark_test.go
Due: modules

add more benchmark for statedb
  x/evm/keeper/statedb_benchmark_test.go
Due: modules

refactor state_transition_benchmark_test
  x/evm/keeper/state_transition_benchmark_test.go
Due: modules

fix typo
  x/evm/keeper/benchmark_test.go
Due: modules

apply the bloom filter when query the ethlogs with a range of blocks
  ethereum/rpc/backend/backend.go
  ethereum/rpc/namespaces/eth/filters/api.go
  ethereum/rpc/namespaces/eth/filters/filters.go
  tests/rpc/rpc_test.go
Due: none

fix lint
  ethereum/rpc/namespaces/eth/filters/filters.go
Due: none

error handling in calcBloomIVs
  ethereum/rpc/namespaces/eth/filters/filters.go
Due: none

print error log in createBloomFilters
  ethereum/rpc/namespaces/eth/filters/filters.go
Due: none

update newSignedEthTx input argument
  x/evm/keeper/state_transition_benchmark_test.go
Due: modules

revises tx template type
  x/evm/keeper/state_transition_benchmark_test.go
Due: modules

modify tests for both LegacyTx and AccessListTx
  x/evm/keeper/state_transition_benchmark_test.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

evm: benchmark evm keeper (#586)
  CHANGELOG.md
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_benchmark_test.go
Due: modules

fix &T{} to (*T)(nil) in error message
  app/ante/eth.go
Due: app

UPDATE Unlock keyring on start
  server/start.go
Due: none

ADD comment
  server/start.go
Due: none

Problem: import/export roundtrip test fail contract storage
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/types/key.go
Due: modules

changelog
  CHANGELOG.md
Due: none

try to fix estimate-gas undeterministics Closes #536
  x/evm/keeper/grpc_query_test.go
Due: modules

evm: fix import/export genesis for contract storage (#590)
  CHANGELOG.md
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/types/key.go
Due: modules

ante: fix &T{} to (*T)(nil) in error message (#592)
  app/ante/eth.go
Due: app

evm, rpc: apply bloom filter when querying ethlogs with a range of blocks (#587)
  CHANGELOG.md
  ethereum/rpc/backend/backend.go
  ethereum/rpc/namespaces/eth/filters/api.go
  ethereum/rpc/namespaces/eth/filters/filters.go
  tests/rpc/rpc_test.go
Due: none

rpc: geth v1.10.8 changes (#585)
  ethereum/rpc/backend/backend.go
  ethereum/rpc/backend/utils.go
  ethereum/rpc/namespaces/personal/api.go
  ethereum/rpc/types/query_client.go
Due: none

fix: use global []byte slice to avoid conversions in loop
  ethereum/rpc/backend/backend.go
Due: none

refactor evm.proto
  proto/ethermint/evm/v1/evm.proto
Due: none

generate pb
  x/evm/types/evm.pb.go
Due: none

update docs
  docs/api/proto-docs.md
Due: none

fix usage in grpc_query
  x/evm/keeper/grpc_query.go
Due: modules

add changelog record
  CHANGELOG.md
Due: none

fix: use global []byte slice to avoid conversions in loop (#595)
  ethereum/rpc/backend/backend.go
Due: none

rpc: fix gas price
  ethereum/rpc/backend/backend.go
Due: none

rpc: fix gas price (#596)
  ethereum/rpc/backend/backend.go
Due: none

evm: check height overflow
  types/validation.go
  types/validation_test.go
  x/evm/keeper/state_transition.go
Due: modules, core

rm
  types/validation.go
Due: core

c++
  CHANGELOG.md
Due: none

evm: check height overflow (#597)
  CHANGELOG.md
  types/validation.go
  types/validation_test.go
  x/evm/keeper/state_transition.go
Due: modules, core
