Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

remove old newKeeper param
  x/evm/simulation/genesis.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/feemarket/keeper/abci.go
Due: modules

update proto comment
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/feemarket/v1/genesis.proto
  x/feemarket/types/genesis.pb.go
Due: none

fix test
  x/feemarket/keeper/abci_test.go
Due: modules

update comments
  x/feemarket/keeper/abci.go
Due: modules

Update x/feemarket/keeper/abci.go
  x/feemarket/keeper/abci.go
Due: modules

move CanTransfer decorator before GasConsume
  app/ante/handler_options.go
Due: app

update changelog
  CHANGELOG.md
Due: none

Move CanTransfer decorator before GasConsume (#1111)
  CHANGELOG.md
  app/ante/handler_options.go
Due: app

address comments from review
  app/ante/fee_market.go
  app/ante/fee_market_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/utils.go
  x/feemarket/migrations/v011/migrate.go
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
Due: app, modules

tidy
  app/ante/fee_market_test.go
  go.mod
  go.sum
Due: app

tests
  x/feemarket/migrations/v011/migrate_test.go
Due: modules

avoid invalid account error on create vesting account
  types/account.go
Due: core

add change doc
  CHANGELOG.md
Due: none

add comment
  types/account.go
Due: core

change under unreleased
  CHANGELOG.md
Due: none

fix(types): avoid invalid account error on create vesting account (#1112)
  CHANGELOG.md
  types/account.go
Due: core

ante: refactor
  CHANGELOG.md
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/handler_options.go
Due: app

ante: refactor (#1113)
  CHANGELOG.md
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/handler_options.go
Due: app

release: changelog
  CHANGELOG.md
Due: none

release: changelog (#1114)
  CHANGELOG.md
Due: none

tests: update consensus params
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/integration_test.go
Due: modules

fix
  x/evm/handler_test.go
Due: modules

tests: update consensus params (#1117)
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/integration_test.go
Due: modules

fix account type method
  types/account.go
  types/account_test.go
Due: core

fix(types): account type method (#1118)
  CHANGELOG.md
  types/account.go
  types/account_test.go
Due: core

release: v0.16.1 changes (#1119)
  CHANGELOG.md
  go.mod
  go.sum
  types/account.go
  types/account_test.go
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/integration_test.go
Due: modules, core

min-gas-multiplier parameter should accept zero value
  x/feemarket/types/params.go
Due: modules

fix unit test
  x/feemarket/types/params_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

imp(feemarket): min-gas-multiplier parameter should accept zero value (#1120)
  CHANGELOG.md
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
Due: modules

merge main
  CHANGELOG.md
  go.sum
Due: none

Reject not replay-protected tx to prevent replay attack
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
Due: app

add build args
  docker/Dockerfile
  docker/debug.Dockerfile
Due: none

disable ledger on builds
  docker/Dockerfile
  docker/debug.Dockerfile
Due: none

no fancy cross compile
  docker/Dockerfile
Due: none

clean rebase on tharsis/ethermint v0.16.0
  docker/fast-build.Dockerfile
  go.mod
  go.sum
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/feebackend.go
Due: clients
