Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix(ante): add changelog entry
  CHANGELOG.md
Due: none

Fix broken link in README
  README.md
Due: none

Problem: personal_newAccount don't work (#1561)
  rpc/backend/node_info.go
Due: clients

fix(ante): fix reCheckTx gas wanted (#1566)
  CHANGELOG.md
  app/ante/eth.go
Due: app

fix ledger signing algo validation
  client/keys/add.go
Due: clients

changelog
  CHANGELOG.md
  client/keys/add.go
Due: clients

Update README.md
  README.md
Due: none

fix(docs): broken link in README (#1567)
  README.md
Due: none

replace evmos.dev links with docs.evmos.org links
  README.md
  x/evm/spec/02_state.md
  x/evm/spec/06_hooks.md
Due: modules

fix(cli): fix Ledger signature algorithm verification (#1550)
  CHANGELOG.md
  client/keys/add.go
Due: clients

update open positions link
  README.md
Due: none

make missing key error message during SendTransaction more verbose (#1563)
  rpc/backend/sign_tx.go
Due: clients

debug(app): add flag to disable optimized build for remote debugging (#1549)
  Makefile
Due: none

update changelog
  CHANGELOG.md
Due: none

fix (docs): replace evmos.dev links with docs.evmos.org links (#1568)
  README.md
  x/evm/spec/02_state.md
  x/evm/spec/06_hooks.md
Due: modules

Release `v0.20-rc5` (#1569)
  CHANGELOG.md
  Makefile
  app/ante/eth.go
  client/keys/add.go
  go.mod
  go.sum
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
Due: app, clients

fix(ante): add test case
  app/ante/eth_test.go
Due: app

test(ante): add test case for `gasWanted` on ReCheckTx mode (#1570)
  app/ante/eth_test.go
Due: app

tests(integration): enable recheck tx mode
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/test_upgrade.py
Due: none

use v1 mempool as default
  cmd/ethermintd/root.go
Due: none

fix config
  cmd/ethermintd/root.go
Due: none

update gomod2nix
  gomod2nix.toml
Due: none

tests: make integration test more stable (#1488)
  gomod2nix.toml
  tests/integration_tests/configs/cosmovisor.jsonnet
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/configs/enable-indexer.jsonnet
  tests/integration_tests/configs/long_timeout_commit.jsonnet
  tests/integration_tests/configs/pruned_node.jsonnet
  tests/integration_tests/configs/rollback-test.jsonnet
  tests/integration_tests/configs/upgrade-test-package.nix
  tests/integration_tests/conftest.py
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/expected_constants.py
  tests/integration_tests/network.py
  tests/integration_tests/test_basic.py
  tests/integration_tests/test_filters.py
  tests/integration_tests/test_grpc_only.py
  tests/integration_tests/test_priority.py
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/test_rollback.py
  tests/integration_tests/test_upgrade.py
  tests/integration_tests/utils.py
Due: none

avoid error when run benchmark
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/keeper_test.go
Due: modules

fix rest benchmark test
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_benchmark_test.go
Due: modules

enable metrics on init.sh script
  init.sh
  tests/solidity/init-test-node.sh
Due: none

fix indentention
  tests/solidity/init-test-node.sh
Due: none

Enable metrics on init.sh script (#1574)
  init.sh
  tests/solidity/init-test-node.sh
Due: none

bump ibc v6
  app/ante/eip712.go
  app/ante/handler_options.go
  app/app.go
  go.mod
  go.sum
  gomod2nix.toml
Due: app

fix(tests): avoid error when run benchmark (#1573)
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_benchmark_test.go
Due: modules

various linter findings
  app/ante/ante_test.go
  rpc/backend/tracing_test.go
  x/evm/types/utils_test.go
  x/feemarket/keeper/integration_test.go
Due: app, modules, clients

unnecessary conversions
  app/ante/eth_test.go
  app/ante/utils_test.go
  app/app_test.go
  app/benchmark_test.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/types/params_test.go
Due: app, modules, clients

update changelog (#1578)
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
