Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

wait 1 more blk in upgrade
  tests/integration_tests/test_upgrade.py
Due: none

only keep 2 validators
  tests/integration_tests/configs/rollback-test.jsonnet
  tests/integration_tests/test_grpc_only.py
  tests/integration_tests/test_rollback.py
Due: none

add retry for grpc_eth_call
  tests/integration_tests/test_grpc_only.py
Due: none

wait 1 block before stop
  tests/integration_tests/test_grpc_only.py
Due: none

fix lint
  tests/integration_tests/test_grpc_only.py
Due: none

added antehandler test
  app/ante/eth_test.go
Due: app

add integration tests
  app/ante/eth_test.go
  tests/integration_tests/test_gas.py
Due: app

add back gas call test
  tests/integration_tests/test_gas.py
Due: none

added integration tests v2
  tests/integration_tests/test_gas.py
Due: none

linters
  tests/integration_tests/test_gas.py
Due: none

Update tests/integration_tests/test_gas.py
  tests/integration_tests/test_gas.py
Due: none

add store listener to Ethermint app
  app/app.go
Due: app

add changelog entry
  CHANGELOG.md
Due: none

(fix): refactor migrations and added default EIPs
  x/evm/keeper/migrations.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/params.go
  x/evm/types/params.go
Due: modules

chore(app): add store listener to Ethermint app (#1501)
  CHANGELOG.md
  app/app.go
Due: app

tests(filters) remove unnecessary package.json file
  package-lock.json
  package.json
  tests/integration_tests/test_filters.py
Due: none

tests(filters) update based on PR comments
  scripts/run-integration-tests.sh
  tests/integration_tests/hardhat/.gitignore
  tests/integration_tests/hardhat/README.md
  tests/integration_tests/hardhat/contracts/BurnGas.sol
  tests/integration_tests/hardhat/contracts/ChainID.sol
  tests/integration_tests/hardhat/contracts/Greeter.sol
  tests/integration_tests/hardhat/contracts/Mars.sol
  tests/integration_tests/hardhat/contracts/TestERC20A.sol
  tests/integration_tests/hardhat/hardhat.config.ts
  tests/integration_tests/hardhat/package-lock.json
  tests/integration_tests/hardhat/package.json
  tests/integration_tests/hardhat/tsconfig.json
  tests/integration_tests/package-lock.json
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: none

tests(filters) separate getNewBlocks failing test to a separate PR
  tests/integration_tests/test_filters.py
Due: none

tests(filters) add block hash check on newBlock filter
  tests/integration_tests/test_filters.py
Due: none

(fix): Combined into one call
  x/evm/types/codec.go
Due: modules

tests(filters) fix linting errors
  tests/integration_tests/test_filters.py
Due: none

fix lint
  tests/integration_tests/test_gas.py
  tests/integration_tests/test_priority.py
  tests/integration_tests/utils.py
Due: none

fix(cmd): add missing GetAuxToFeeCommand
  cmd/ethermintd/root.go
Due: none

fix(app): register node service
  app/app.go
Due: app

changelog
  CHANGELOG.md
Due: none

(fix): Added more straightforward way to handle migration
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/types/interfaces.go
Due: modules

fix(app): register node service (#1505)
  CHANGELOG.md
  app/app.go
Due: app

tests(filters) add retry on send_tx to avoid Timeout error
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: none

tests(filters) add logs by topic and block range test case
  tests/integration_tests/test_filters.py
Due: none

(refactor): removed old sim tests logic
  Makefile
  app/app.go
  app/simulation_test.go
  app/utils.go
  app/utils_test.go
  x/evm/module.go
  x/evm/simulation/decoder.go
  x/evm/simulation/decoder_test.go
  x/evm/simulation/genesis.go
  x/evm/simulation/genesis_test.go
  x/evm/simulation/operations.go
  x/evm/simulation/params.go
  x/evm/simulation/params_test.go
  x/feemarket/module.go
  x/feemarket/simulation/genesis.go
Due: app, modules

(fix): removed tests from CI
  .github/workflows/test.yml
Due: none

(fix): fix test.yml
  .github/workflows/test.yml
Due: none

(fix): format and lint
  app/ante/signverify_test.go
Due: app

(fix): fix linter issue
  .github/workflows/test.yml
Due: none

(fix): fix linter issues v2
  .github/workflows/test.yml
Due: none

(fix): linter
  .github/workflows/test.yml
Due: none

(refactor): Remove old migration code
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/migrations/v010/migrate.go
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/migrations/v010/types/feemarket.pb.go
  x/feemarket/migrations/v010/types/genesis.pb.go
  x/feemarket/migrations/v010/types/params.go
  x/feemarket/migrations/v011/migrate.go
  x/feemarket/migrations/v011/migrate_test.go
  x/feemarket/migrations/v09/types/feemarket.pb.go
  x/feemarket/migrations/v09/types/genesis.pb.go
  x/feemarket/module.go
Due: modules

address PR comments - remove import name for evm keeper
  app/ante/eth.go
  x/evm/keeper/utils_test.go
Due: app, modules

fix(cmd): add missing GetAuxToFeeCommand (#1504)
  cmd/ethermintd/root.go
Due: none
