Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix lint
  .golangci.yml
  scripts/protocgen.sh
Due: none

add paramKeyTable
  app/upgrades.go
Due: app

add change log
  CHANGELOG.md
Due: none

err code change due to nested msg check
  app/ante/authz_test.go
Due: app

fix lint
  app/upgrades.go
Due: app

cleanup mod
  go.mod
Due: none

add nil check for consParams.Block
  x/feemarket/keeper/eip1559.go
Due: modules

Revert "fix ConsensusParams"
  app/app.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/keeper.go
Due: app, modules

sdk to v0.47.3 and ibc-go to v7.1.0
  CHANGELOG.md
  go.mod
  go.sum
  gomod2nix.toml
  types/codec.go
  x/evm/types/codec.go
Due: modules, core

point to logger fix
  go.mod
  go.sum
  gomod2nix.toml
Due: none

get consParams from keeper if not in ctx
  app/app.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/keeper.go
Due: app, modules

point back cometbft
  go.mod
  go.sum
  gomod2nix.toml
Due: none

fix broadcast mode
  tests/integration_tests/cosmoscli.py
Due: none

update nix
  gomod2nix.toml
Due: none

skip invalid consensus params
  x/feemarket/keeper/eip1559.go
Due: modules

panic on invalid consensus params
  CHANGELOG.md
  x/feemarket/keeper/eip1559.go
Due: modules

update default params for test
  app/utils.go
Due: app

Revert "get consParams from keeper if not in ctx"
  app/app.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/keeper.go
Due: app, modules

point to sdk cp fix
  app/app.go
  app/upgrades.go
  go.mod
  go.sum
  gomod2nix.toml
  x/feemarket/keeper/eip1559.go
Due: app, modules

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

Create ethermin
  ethermin
Due: none

Support unprotected txs
  server/config/config.go
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

protobuf version error
  go.mod
Due: none

add deprecation note
  README.md
Due: none

add deprecation note (#1857)
  README.md
Due: none

fix: networks/local/ethermintnode/Dockerfile to reduce vulnerabilities
  networks/local/ethermintnode/Dockerfile
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1881)
  README.md
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
