Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

(impv): added amino codec for MsgEthereumTx
  x/evm/module.go
  x/evm/types/codec.go
  x/evm/types/msg.go
Due: modules

bing bong
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  proto/buf.gen.swagger.yaml
Due: clients

Add EIP-712 encoding for multiple messages of the same type
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
Due: none

Fix Protobuf encoding bug
  ethereum/eip712/encoding.go
Due: none

Add ante tests
  app/ante/ante_test.go
  app/ante/utils_test.go
Due: app

Refactor naming and minor implementation details
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/encoding.go
Due: app

simple mempool
  app/app.go
  types/mempool.go
Due: app, core

woops
  app/app.go
Due: app

Test empty transaction coverage
  ethereum/eip712/eip712_test.go
Due: none

test
  app/app.go
  types/mempool.go
Due: app, core

align result account as ethereum
  rpc/backend/utils.go
Due: clients

fix txn issue
  Makefile
  app/app.go
  app/benchmark_test.go
  app/simulation_test.go
  app/utils.go
  app/utils_test.go
  cmd/ethermintd/root.go
  go.mod
  init.sh
  testutil/network/network.go
  types/mempool.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/integration_test.go
Due: app, modules, core

fix tests
  app/app_test.go
  cmd/ethermintd/root.go
Due: app

fix gas issue
  types/block.go
Due: core

bing bong
  types/block.go
Due: core

rebase gas fix
  types/block.go
Due: core

tests(filters) add eth_newFilter multiple filters test cases
  tests/integration_tests/test_filters.py
Due: none

deps: bump SDK to v0.46.6
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

Added changes suggested in code review
  x/evm/keeper/grpc_query_test.go
  x/evm/migrations/v4/migrate.go
  x/evm/types/codec.go
  x/evm/types/key.go
  x/evm/types/params.go
  x/evm/types/params_legacy.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

deps: bump SDK to v0.46.6 (#1486)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

(fix): updated the migration files for v4
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/key.go
  x/evm/migrations/v4/types/params.go
Due: modules

tests(filters) add eth_newFilter and eth_eth_uninstallFilter test case
  tests/integration_tests/test_filters.py
Due: none

(fix): fixed unit tests panic for incorrect interface
  x/evm/exported/exported.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
Due: modules

tests(filters) fix linting errors
  tests/integration_tests/test_filters.py
Due: none

tests(filters) fix linting error on imports
  tests/integration_tests/test_filters.py
Due: none

tests(filters) add test case: register filter before contract deploy
  tests/integration_tests/test_filters.py
Due: none

remove gas fix
  types/block.go
Due: core

tests(filters) refactor logs topics assertion
  tests/integration_tests/test_filters.py
Due: none

add test_get_transaction_count
  tests/integration_tests/test_account.py
  tests/integration_tests/utils.py
Due: none

add change doc
  CHANGELOG.md
Due: none

sync gomod2nix
  gomod2nix.toml
Due: none

Address revisions for code clarity
  ethereum/eip712/encoding.go
Due: none

Move aminoMessage type definition
  ethereum/eip712/encoding.go
Due: none

chore: refactor imports naming for clarity
  app/ante/utils_test.go
Due: app

(fix): updated module msg handler
  x/evm/handler.go
Due: modules

(fix): rename to original params getter method
  app/app.go
  x/evm/exported/exported.go
  x/evm/keeper/migrations_test.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/module.go
Due: app, modules

fear(eip712): Add EIP-712 encoding for multiple messages of the same type (#1483)
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
Due: app

fix: enable `fixIssue172` flag for non-deterministic keyring test (#1447)
  crypto/hd/algorithm_test.go
Due: core

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
