Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

add example
  docs/architecture/adr-003-stateful-precompiles.md
Due: none

update comment
  rpc/types/block.go
Due: clients

imp(deps): Geth upgrade v1.10.19 (#1159)
  CHANGELOG.md
  app/ante/utils_test.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  rpc/types/block.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations.go
  x/evm/keeper/state_transition.go
  x/evm/migrations/v2/types/chain_config.go
  x/evm/migrations/v3/migrate.go
  x/evm/migrations/v3/migrate_test.go
  x/evm/migrations/v3/types/chain_config.go
  x/evm/migrations/v3/types/evm.pb.go
  x/evm/migrations/v3/types/params.go
  x/evm/module.go
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: app, modules, clients

fix: TestAppStateDeterminism could fail owing to non-determinism in cosmos-sdk simulation (#1166)
  app/utils.go
  go.mod
  go.sum
Due: app

optimize get balance endpoint
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

Upgrade ibc-go to v4
  CHANGELOG.md
  app/ante/handler_options.go
  app/app.go
  app/simulation_test.go
  go.mod
  go.sum
Due: app

Setup a validator in the test genesis
  app/app_test.go
  app/benchmark_test.go
  app/utils.go
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/integration_test.go
Due: app, modules

NewAnteHandler returns error if input not valid
  app/ante/ante.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  app/app.go
Due: app

Reuse cosmos-sdk client library to create keyring
  client/export.go
  client/import.go
  client/keys.go
  client/keys/add.go
  client/keys/keys.go
  client/keys/utils.go
  cmd/ethermintd/genaccounts.go
Due: clients

imp(all): setup a validator in the test genesis (#1171)
  app/app_test.go
  app/benchmark_test.go
  app/utils.go
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/integration_test.go
Due: app, modules

deps: upgrade ibc-go to v4-rc (#1167)
  CHANGELOG.md
  app/ante/handler_options.go
  app/app.go
  app/simulation_test.go
  go.mod
  go.sum
Due: app

add comment
  rpc/backend/evm_backend.go
Due: clients

add changelog
  CHANGELOG.md
Due: none

fix(rpc): optimize `eth_getBalance` endpoint (#1169)
  CHANGELOG.md
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

impr(evm): add check msg.Validate check to prevent 0 gas txs
  x/evm/types/errors.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
Due: modules

impr(evm): add integration tests for zero gas txs
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_benchmark_test.go
  x/feemarket/keeper/integration_test.go
Due: modules

go mod tidy and proto swagger
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
Due: clients

fix comment
  x/evm/keeper/keeper_test.go
Due: modules

Store eth tx index separately
  CHANGELOG.md
  docs/api/proto-docs.md
  proto/ethermint/types/v1/indexer.proto
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/events.go
  rpc/types/events_test.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/indexer.go
  server/indexer_cmd.go
  server/indexer_service.go
  server/indexer_test.go
  server/json_rpc.go
  server/start.go
  server/util.go
  testutil/network/util.go
  types/indexer.go
  types/indexer.pb.go
Due: core, clients

refactor
  server/indexer.go
Due: none

polish the indexer module
  docs/api/proto-docs.md
  proto/ethermint/types/v1/indexer.proto
  rpc/backend/evm_backend.go
  server/indexer.go
  types/indexer.pb.go
Due: clients

Update server/config/toml.go
  server/config/toml.go
Due: none

improve comments
  server/indexer.go
Due: none

share code between GetTxByEthHash and GetTxByIndex
  rpc/backend/evm_backend.go
Due: clients

fix(rpc): optimize `eth_getBalance` endpoint (#1169)
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/api.go
Due: clients

add GetBlockNumberByHash
  rpc/ethereum/backend/backend.go
Due: clients

Problem: traceTransaction returns zero gas used
  CHANGELOG.md
  x/evm/keeper/state_transition.go
Due: modules

fix lint
  app/app.go
  client/testnet.go
  ethereum/eip712/eip712.go
  rpc/ethereum/backend/feebackend.go
  tests/importer/chain_ctx.go
Due: app, clients

go mod tidy
  go.sum
Due: none

add backport changes
  rpc/ethereum/backend/backend.go
Due: clients

fix lint
  app/app.go
  client/testnet.go
  ethereum/eip712/eip712.go
  go.sum
  rpc/ethereum/backend/feebackend.go
  tests/importer/chain_ctx.go
Due: app, clients

add nolints
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712.go
  types/account.go
Due: core

add more nolints
  app/ante/ante.go
  app/ante/eip712.go
  app/ante/eth.go
  x/evm/keeper/statedb.go
  x/evm/types/msg.go
Due: app, modules

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
