Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

modify README including CoC (#53)
  CODE_OF_CONDUCT.md
  README.md
Due: none

temporary tests
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
Due: app

fix gas price returned in getTransaction api
  CHANGELOG.md
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

Add cli rollback command
  CHANGELOG.md
  go.mod
  go.sum
  server/util.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add cli rollback command (#1086)
  CHANGELOG.md
  go.mod
  go.sum
  server/util.go
Due: none

min gas denominator implementation
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/state_transition.go
  x/evm/simulation/genesis.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

fix: gas price value in `eth_getTransaction` JSON-RPC response (#1082)
  CHANGELOG.md
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

fix post processing log
  x/evm/keeper/state_transition.go
Due: modules

fix: append `Log` in tx post processing response (#1088)
  CHANGELOG.md
  x/evm/keeper/state_transition.go
Due: modules

modify MinGasDenominator type to sdk.Dec
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/state_transition.go
  x/evm/simulation/genesis.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

fix typo in comments
  x/evm/keeper/state_transition.go
Due: modules

add comments
  x/evm/keeper/state_transition.go
Due: modules

update comment
  x/evm/keeper/state_transition.go
Due: modules

refactor logic
  x/evm/keeper/state_transition.go
Due: modules

remove unnecesary test
  x/evm/types/params_test.go
Due: modules

fix typo on proto
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/evm.pb.go
Due: none

rename param
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/state_transition.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

fix tests
  x/evm/simulation/genesis.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

use truncate and run mod tidy
  go.mod
  go.sum
  x/evm/keeper/state_transition.go
Due: modules

comment to default value
  x/evm/types/params.go
Due: modules

rename temporary gas used
  x/evm/keeper/state_transition.go
Due: modules

Fix failed simgroup action
  .github/workflows/semgrep.yml
Due: none

clean up the block fetch logic in json-rpc
  CHANGELOG.md
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/types/utils.go
Due: clients

add bug fix changelog
  CHANGELOG.md
Due: none

integration tests
  tests/e2e/integration_test.go
Due: none

add migrations
  x/evm/keeper/migrations.go
  x/evm/migrations/v2/migration.go
  x/evm/migrations/v2/migration_test.go
  x/evm/module.go
Due: modules

add query params to evm
  x/evm/client/cli/query.go
Due: modules

add default as var
  x/evm/migrations/v2/migration.go
  x/evm/migrations/v2/migration_test.go
  x/evm/simulation/genesis.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

imp: clean up the block fetch logic in json-rpc (#1081)
  CHANGELOG.md
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/types/utils.go
Due: clients

Emit eth tx hash in ante handler to support query failed transactions
  CHANGELOG.md
  app/ante/eth.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  go.mod
  go.sum
  rpc/backend/evm_backend.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/events.go
  rpc/types/events_test.go
  rpc/types/utils.go
  server/util.go
Due: app, clients

fix get tx by index
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/events.go
Due: clients

specs(evm): Add concepts
  x/evm/spec/01_concepts.md
Due: modules

imp(evm): define minimum GasUsed proportional to GasLimit (#1087)
  CHANGELOG.md
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  tests/e2e/integration_test.go
  x/evm/keeper/migrations.go
  x/evm/keeper/state_transition.go
  x/evm/migrations/v2/migration.go
  x/evm/migrations/v2/migration_test.go
  x/evm/module.go
  x/evm/simulation/genesis.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

imp(evm): add query params to CLI (#1091)
  CHANGELOG.md
  x/evm/client/cli/query.go
Due: modules

specs(evm): Add geth and bytecode concepts
  x/evm/spec/01_concepts.md
Due: modules

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
