Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

Update test.sol
  contracts/test.sol
Due: none

use github.com/jbowen93/optimint
  go.mod
  go.sum
Due: none

eth_feeHistory - fix reward calculation from MsgEthereumTx (#990)
  CHANGELOG.md
  rpc/ethereum/backend/feebackend.go
Due: clients

fix: server should always use local rpc client (#988)
  CHANGELOG.md
  server/start.go
Due: none

make lint-solidity
  Makefile
Due: none

add enable unsafe cors flag
  server/flags/flags.go
  server/start.go
Due: none

update to use optimint v0.1.2
  go.mod
  go.sum
Due: none

add enable unsafe cors flag (#995)
  server/flags/flags.go
  server/start.go
Due: none

implement custom RandomGenesisAccounts for auth module simulation
  app/test_helpers.go
Due: app

use SimAppChainId instead of the default cosmos-sdk simulation chainid
  app/simulation_test.go
Due: app

Set an upper bound to gasWanted to prevent DoS attack.
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
Due: app

fix: set an upper bound to gasWanted to prevent DoS attack (#991)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
Due: app

add github action to build evmos docker image
  .github/workflows/build-evmos.yml
Due: none

debug
  .github/workflows/build-evmos.yml
Due: none

increase feemarket's consensus version and add migration handler
  x/feemarket/keeper/migrations.go
  x/feemarket/module.go
Due: modules

make MaxTxGasWanted configurable
  app/ante/eth.go
  app/ante/handler_options.go
  app/app.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
Due: app

push image to celestiaorg/evmos
  .github/workflows/build-evmos.yml
Due: none

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

changelog
  CHANGELOG.md
Due: none

unit test
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
Due: modules

Add Github action to start ephemeral cluster and run RPC tests (#16)
  .github/workflows/ephemeral.yml
  go.mod
Due: none

Skip RPC tests that we know are failing (#20)
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
Due: none

rename module from tharsis/ethermint to celestiaorg/ethermint
  go.mod
Due: none

fix: Update the JSON-RPC to correct the return information.
  rpc/ethereum/namespaces/web3/api.go
  tests/rpc/rpc_test.go
Due: clients

use customized RandomGenesisAccounts
  app/app.go
Due: app

generate random ethereum txs operations
  x/evm/module.go
Due: modules

use sdk.DefaultBondDenom
  x/evm/simulation/genesis.go
Due: modules

implement WeightedOperations
  x/evm/simulation/operations.go
Due: modules

fix unit tests
  app/ante/eth_test.go
Due: app

fix self assignment
  x/evm/simulation/operations.go
Due: modules

fix linter
  x/feemarket/keeper/migrations.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feemarket: migration (#1002)
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/module.go
Due: modules

make MaxTxGasWanted configurable (#1004)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  app/app.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
Due: app

update: move the tests to integration_test.go
  tests/e2e/integration_test.go
  tests/rpc/rpc_test.go
Due: none

refactor the tests and use table tests instead
  tests/e2e/integration_test.go
Due: none

fix: Update the JSON-RPC to correct the return information. (#1006)
  CHANGELOG.md
  rpc/ethereum/namespaces/web3/api.go
  tests/e2e/integration_test.go
Due: clients

fix: Dockerfile to reduce vulnerabilities (#1005)
  Dockerfile
Due: none

cleanup an unused const
  app/ante/eth.go
  app/ante/eth_test.go
Due: app

cleanup an unused const (#1009)
  app/ante/eth.go
  app/ante/eth_test.go
Due: app
