Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

update gomod2nix
  gomod2nix.toml
Due: none

Apply suggestions from code review
  tests/integration_tests/test_websockets.py
Due: none

fix lint
  scripts/proto-tools-installer.sh
Due: none

nosemgrep for testutil
  .semgrepignore
Due: none

test subscribe and send
  tests/integration_tests/hardhat/contracts/TestMessageCall.sol
  tests/integration_tests/test_filters.py
  tests/integration_tests/test_websockets.py
  tests/integration_tests/utils.py
Due: none

make use of sender cache
  app/ante/sigverify.go
  x/evm/types/msg.go
Due: app, modules

update nix
  gomod2nix.toml
Due: none

fix: add missing record on go.sum
  go.sum
Due: none

fix: add deleted dep on merge
  go.mod
Due: none

bump btcd for security fix
  crypto/hd/algorithm.go
  go.mod
  go.sum
  server/start.go
  server/util.go
Due: core

Problem: repeated tx sender recovery is wastful
  CHANGELOG.md
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/types/msg.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update x/evm/types/msg.go
  x/evm/types/msg.go
Due: modules

add patch
  tests/integration_tests/configs/cache-access-list-ethermintd.nix
  tests/integration_tests/configs/cache-access-list-ethermintd.patch
  tests/integration_tests/network.py
  tests/integration_tests/test_patch.py
Due: none

test call with backup
  tests/integration_tests/configs/cache-access-list-ethermintd.nix
  tests/integration_tests/test_patch.py
Due: none

add for debug tx & blk
  rpc/backend/tracing.go
Due: clients

keep migrate no change
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/test_upgrade.py
Due: none

Revert "revert keep grpc query compatible with version before feemarket migrate"
  app/app.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/params.go
Due: app, modules

Revert "Revert "keep grpc query compatible with version before migrate""
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/keeper/params.go
Due: app, modules

fix lint
  tests/integration_tests/test_patch.py
Due: none

keep migrate related stuff no change
  tests/integration_tests/configs/upgrade-test-package.nix
Due: none

fix resolve
  server/config/toml.go
Due: none

revert query param change
  x/evm/client/cli/query.go
Due: modules

remove go-ethereum-hdwallet dependency
  crypto/hd/algorithm_test.go
  go.mod
  go.sum
  gomod2nix.toml
Due: core

gomod2nix
  gomod2nix.toml
Due: none

miss file
  crypto/hd/utils_test.go
Due: core

add estimate_gas test
  tests/integration_tests/hardhat/contracts/TestERC20A.sol
  tests/integration_tests/test_estimate_gas.py
Due: none

add ret and vm_error for revert reason
  proto/ethermint/evm/v1/query.proto
  rpc/backend/call_tx.go
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
Due: modules, clients

compare with eth
  tests/integration_tests/test_estimate_gas.py
Due: none

test revertWithoutMsg
  tests/integration_tests/test_estimate_gas.py
Due: none

align revertWithoutMsg response for eth_estimateGas
  rpc/backend/call_tx.go
Due: clients

align revertWithoutMsg response for eth_call
  rpc/backend/call_tx.go
Due: clients

add change doc
  CHANGELOG.md
Due: none
