Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

Problem: default file limit is small #759 increase file limit
  cmd/ethermintd/main.go
Due: none

Fee-Market(Keeper): WIP ERIP1559 tests
  x/feemarket/keeper/eip1559_test.go
Due: modules

Fee-Market(Keeper): WIP ERIP1559 tests maxGas influences on baseFee
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/types/params.go
Due: modules

keplr: support for account rest endpoint
  go.mod
  go.sum
  types/account.go
Due: core

docs: update changelog (#765)
  CHANGELOG.md
Due: none

Fee-Market(Keeper): Add last ERIP1559 tests
  x/feemarket/keeper/eip1559_test.go
Due: modules

Fee-Market(Keeper): Add abci tests
  x/feemarket/keeper/abci_test.go
Due: modules

Fee-Market(app): Fix ante_test and eth_test
  app/ante/ante_test.go
  app/ante/eth_test.go
Due: app

Fee-Market(keeper): Set NoBaseFee to true by default
  x/feemarket/keeper/abci_test.go
  x/feemarket/types/params.go
Due: modules

feemarket: unit tests EIP1559 (#758)
  app/ante/ante_test.go
  app/ante/eth_test.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  x/feemarket/keeper/abci_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/params_test.go
  x/feemarket/types/params.go
Due: app, modules, clients

fix grpc_query
  x/evm/keeper/grpc_query.go
Due: modules

local noop tracer
  app/ante/eth.go
  x/evm/keeper/state_transition.go
  x/evm/types/noop.go
  x/evm/types/tracer.go
Due: app, modules

fix linter
  x/evm/keeper/grpc_query.go
Due: modules

rpc: fix default signer
  rpc/ethereum/namespaces/eth/api.go
Due: clients

changelog
  CHANGELOG.md
Due: none

rpc: fix default signer (#769)
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/api.go
Due: clients

Fix(FeeMarket): Enable FeeMarkat BaseFee
  x/feemarket/types/params.go
Due: modules

fix rpc tests
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  tests/rpc/utils.go
Due: none

tests: geth client wrapper
  server/config/config.go
  tests/e2e/integration_test.go
  testutil/network/network.go
Due: none

fix: RPC tests fail if FeeMarket `BaseFee` is enabled by default (#770)
  CHANGELOG.md
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  tests/rpc/utils.go
  x/feemarket/types/params.go
Due: modules

release: v0.8.1 changes (#775)
  .github/workflows/test.yml
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth_test.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  rpc/ethereum/namespaces/eth/api.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  tests/rpc/utils.go
  x/feemarket/keeper/abci_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/params_test.go
  x/feemarket/types/params.go
Due: app, modules, clients

ci: enable gosec sarif upload
  .github/workflows/security.yml
Due: none

Problem: uses too many files open (fix #768)
  init.sh
Due: none

add to document
  README.md
Due: none

Update .github/workflows/security.yml
  .github/workflows/security.yml
Due: none

ci: enable gosec sarif upload (#776)
  .github/workflows/security.yml
Due: none

remove gosec warnigs with medium severity
  server/start.go
  testutil/network/network.go
Due: none

Improvement(Ethermint): Fix gosec vulnerabilities
  app/export.go
  client/testnet.go
  cmd/ethermintd/root.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  rpc/ethereum/namespaces/debug/utils.go
  server/flags/flags.go
Due: app, clients

Improvement(Evmos): address pr comments
  cmd/ethermintd/root.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  server/start.go
Due: clients

[IGNORE] Dummy PR to test GoSec
  client/export.go
Due: clients

Improvement(Ethermint): Fix flags test by using PersistentFlags() instead of Flags()
  cmd/ethermintd/root.go
  server/flags/flags.go
Due: none

Improvement(Ethermint): Fix return of defer function
  rpc/ethereum/namespaces/debug/api.go
  server/start.go
Due: clients

filter block txs by block result
  rpc/ethereum/backend/backend.go
Due: clients

Problem: web3 rpc api returns wrong block gas limit (#15)
  CHANGELOG.md
  rpc/ethereum/types/utils.go
  x/evm/keeper/grpc_query_test.go
Due: modules, clients

fix empty transaction in getBlock (#14)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
Due: clients

Problem: web3 rpc api returns wrong block gas limit
  rpc/ethereum/backend/backend.go
  rpc/ethereum/types/utils.go
Due: clients

Apply suggestions from code review
  rpc/ethereum/types/utils.go
Due: clients
