Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

check readonly per run instead of contract
  x/evm/keeper/precompiles/bank.go
  x/evm/keeper/precompiles/utils.go
  x/evm/keeper/state_transition.go
  x/evm/vm/interface.go
Due: modules

test delegatecall
  tests/integration_tests/hardhat/contracts/TestBank.sol
  tests/integration_tests/test_precompiles.py
Due: none

test delegatecall
  tests/integration_tests/hardhat/contracts/TestBank.sol
  tests/integration_tests/hardhat/contracts/TestBankDelegate.sol
  tests/integration_tests/test_precompiles.py
  tests/integration_tests/utils.py
Due: none

update geth
  go.mod
  go.sum
  gomod2nix.toml
  x/evm/keeper/precompiles/bank.go
  x/evm/keeper/precompiles/utils.go
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
  x/evm/vm/geth/geth.go
  x/evm/vm/interface.go
Due: modules

sort contracts by asc
  x/evm/keeper/state_transition.go
Due: modules

replace with precompile list
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/vm/geth/precompiles.go
  x/evm/vm/interface.go
Due: app, modules

align amt
  tests/integration_tests/hardhat/contracts/TestBank.sol
  tests/integration_tests/hardhat/contracts/TestBankDelegate.sol
Due: none

test recursive transfer
  app/app.go
  tests/integration_tests/hardhat/contracts/TestTransfer.sol
  tests/integration_tests/test_precompiles.py
  tests/integration_tests/utils.py
  x/evm/keeper/precompiles/transfer.go
Due: app, modules

test nested call
  tests/integration_tests/hardhat/contracts/TestBankCaller.sol
  tests/integration_tests/test_precompiles.py
  tests/integration_tests/utils.py
Due: none

Add tc for testing cosmos key and ethermint key
  crypto/ethsecp256k1/ethsecp256k1_test.go
Due: core

clean up vm related stuff
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/keeper/precompiles/bank.go
  x/evm/keeper/precompiles/interface.go
  x/evm/keeper/precompiles/transfer.go
  x/evm/keeper/state_transition.go
  x/evm/vm/geth/geth.go
  x/evm/vm/interface.go
Due: app, modules

clean up
  x/evm/keeper/precompiles/interface.go
  x/evm/statedb/types.go
Due: modules

rm test transfer
  tests/integration_tests/hardhat/contracts/TestTransfer.sol
  tests/integration_tests/test_precompiles.py
  tests/integration_tests/utils.py
  x/evm/keeper/precompiles/transfer.go
  x/evm/keeper/state_transition.go
Due: modules

use stable sort
  x/evm/keeper/state_transition.go
Due: modules

address golangci-lint comments regarding deprecated functions
  rpc/backend/account_info.go
  x/evm/types/msg.go
Due: modules, clients

support user-defined eip155ChainID
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/types/chain_config.go
Due: modules

demonstrate use new cache store clone to integrate native stateful precompiles
  x/evm/keeper/state_transition.go
  x/evm/statedb/native.go
  x/evm/statedb/statedb.go
Due: modules

vendor clone cache store implementation for statedb
  app/ante/eth.go
  app/app.go
  go.mod
  store/cachekv/README.md
  store/cachekv/bench_helper_test.go
  store/cachekv/benchmark_test.go
  store/cachekv/internal/btree.go
  store/cachekv/internal/btree_test.go
  store/cachekv/internal/memiterator.go
  store/cachekv/internal/mergeiterator.go
  store/cachekv/store.go
  store/cachekv/store_bench_test.go
  store/cachekv/store_test.go
  store/cachemulti/store.go
  store/cachemulti/store_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/native.go
  x/evm/statedb/statedb.go
Due: app, modules

Update x/evm/statedb/statedb.go
  x/evm/statedb/statedb.go
Due: modules

add AllowUnprotectedTxs variable to server config.go
  server/config/config.go
Due: none

transfer crc20 <-> native token
  tests/integration_tests/hardhat/contracts/TestBank.sol
  tests/integration_tests/test_precompiles.py
  x/evm/keeper/precompiles/bank.go
Due: modules

add burn
  tests/integration_tests/hardhat/contracts/TestBank.sol
  tests/integration_tests/test_precompiles.py
  x/evm/keeper/precompiles/bank.go
Due: modules

validate coins and recipient
  tests/integration_tests/test_precompiles.py
  tests/integration_tests/utils.py
  x/evm/keeper/precompiles/bank.go
  x/evm/types/interfaces.go
Due: modules

fix lint
  app/app.go
  tests/integration_tests/test_precompiles.py
Due: app

fix commit
  x/evm/statedb/statedb.go
Due: modules

fix build
  default.nix
  gomod2nix.toml
Due: none

fix test
  app/ante/utils_test.go
  tests/importer/importer_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/statedb_test.go
  x/evm/statedb/statedb_test.go
Due: app, modules

pass keys
  app/ante/utils_test.go
  app/app.go
  tests/importer/importer_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/statedb_test.go
Due: app, modules

add keys for CanTransferDecorator
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  app/app.go
Due: app

fix nix
  gomod2nix.toml
Due: none

fix crc20 <-> native token
  tests/integration_tests/hardhat/contracts/TestBank.sol
  tests/integration_tests/test_precompiles.py
  x/evm/keeper/precompiles/bank.go
Due: modules

test delegate & static call
  tests/integration_tests/hardhat/contracts/TestBank.sol
  tests/integration_tests/hardhat/contracts/TestBankCaller.sol
  tests/integration_tests/hardhat/contracts/TestBankDelegate.sol
  tests/integration_tests/test_precompiles.py
  tests/integration_tests/utils.py
Due: none

fix lint
  tests/integration_tests/test_precompiles.py
Due: none

test concurrent
  tests/integration_tests/hardhat/contracts/TestExploitContract.sol
  tests/integration_tests/test_exploit.py
  tests/integration_tests/utils.py
Due: none

add return limit for call
  rpc/backend/call_tx.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  tests/integration_tests/configs/exploit.jsonnet
  tests/integration_tests/test_exploit.py
Due: clients

update nix
  gomod2nix.toml
Due: none

update doc
  CHANGELOG.md
Due: none

fix e2e tests
  tests/e2e/integration_test.go
  testutil/network/util.go
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
