Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

fix unit test
  rpc/types/events_test.go
Due: clients

fix(rpc): fix panic on breaking EVM and feemarket params (#1188)
  .mergify.yml
  CHANGELOG.md
  server/json_rpc.go
  x/evm/keeper/params.go
  x/feemarket/keeper/params.go
Due: modules

Update .mergify.yml
  .mergify.yml
Due: none

fix
  CHANGELOG.md
Due: none

!fix(evm): Fix eth tx hashes in json-rpc responses (#1176)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/utils_test.go
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/tx.proto
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/types/events.go
  rpc/types/events_test.go
  rpc/types/utils.go
  tests/e2e/integration_test.go
  x/evm/keeper/integration_test.go
  x/evm/spec/04_transactions.md
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/evm/types/tx.pb.go
  x/evm/types/tx_args.go
  x/evm/types/utils.go
  x/feemarket/keeper/integration_test.go
Due: app, modules, clients

fix viper
  rpc/backend/evm_backend_test.go
Due: clients

first pass
  Makefile
  app/ante/ante_test.go
  default.nix
  gomod2nix.toml
  integration_tests/contracts/.gitignore
  integration_tests/contracts/README.md
  integration_tests/contracts/contracts/TestERC20.sol
  integration_tests/contracts/hardhat.config.js
  integration_tests/contracts/package-lock.json
  integration_tests/contracts/package.json
  integration_tests/poetry.lock
  integration_tests/pyproject.toml
  integration_tests/shell.nix
  nix/default.nix
  nix/go-ethereum.nix
  nix/go_1_18_overlay.nix
  nix/scripts.nix
  nix/sources.json
  nix/sources.nix
  nix/testenv.nix
  result
  scripts/.env
  scripts/ethermint-devnet.yaml
  scripts/geth-genesis.json
  scripts/run-integration-tests.sh
  scripts/start-ethermint.sh
  scripts/start-geth.sh
  x/evm/keeper/grpc_query.go
Due: app, modules

latest
  integration_tests/__init__.py
  integration_tests/configs/default.jsonnet
  integration_tests/conftest.py
  integration_tests/contracts/contracts/TestERC20.sol
  integration_tests/contracts/hardhat.config.js
  integration_tests/contracts/hardhat.config.ts
  integration_tests/contracts/package-lock.json
  integration_tests/contracts/package.json
  integration_tests/contracts/tsconfig.json
  integration_tests/network.py
  integration_tests/pytest.ini
  integration_tests/test_basic.py
  integration_tests/utils.py
Due: none

fix(evm): `TxIndex` is wrong when trace is the first tx of a block (#1187)
  CHANGELOG.md
  x/evm/keeper/grpc_query.go
Due: modules

fix RPC
  CHANGELOG.md
Due: none

working tests
  default.nix
  integration_tests/conftest.py
  integration_tests/network.py
  scripts/.env
  scripts/contract-test.sh
  scripts/ethermint-devnet.yaml
  scripts/geth-genesis.json
  scripts/run-integration-tests.sh
  scripts/start-ethermint.sh
  scripts/start-geth.sh
Due: none

github actions
  .github/workflows/test.yml
Due: none

remove unnecessary change
  app/ante/ante_test.go
Due: app

remove unnecessary steps
  integration_tests/conftest.py
  integration_tests/contracts/contracts/TestERC20.sol
  integration_tests/network.py
  integration_tests/pytest.ini
Due: none

remove unnecessary import
  integration_tests/test_basic.py
Due: none

remove unnecessary change
  x/evm/keeper/grpc_query.go
Due: modules

Update .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

wip query client mock
  go.mod
  rpc/backend/evm_backend_test.go
  rpc/mocks/query_client.go
  rpc/mocks/query_client_test.go
Due: clients

fix first backend test except error message
  rpc/backend/evm_backend_test.go
  rpc/mocks/query_client_test.go
Due: clients

clean up
  rpc/backend/evm_backend_test.go
Due: clients

update .gitignore
  .gitignore
Due: none

wip Context with Height
  rpc/backend/evm_backend_test.go
  rpc/mocks/query_client_test.go
Due: clients

update github actions
  .github/workflows/test.yml
  integration_tests/network.py
Due: none

change evm denomination
  scripts/ethermint-devnet.yaml
Due: none

change evm denomination
  integration_tests/configs/default.jsonnet
  scripts/ethermint-devnet.yaml
Due: none

fix JSON RPC backend test setup
  rpc/backend/backend_suite_test.go
  rpc/backend/evm_backend_test.go
  rpc/backend/query_client.go
  rpc/mocks/query_client_test.go
Due: clients

typo
  rpc/backend/backend_suite_test.go
Due: clients

refactor folder structure
  rpc/backend/backend_suite_test.go
  rpc/backend/mocks/query_client.go
Due: clients

send tests to tests folder
  Makefile
  nix/testenv.nix
  scripts/run-integration-tests.sh
  tests/integration_tests/__init__.py
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/conftest.py
  tests/integration_tests/contracts/.gitignore
  tests/integration_tests/contracts/README.md
  tests/integration_tests/contracts/contracts/TestERC20.sol
  tests/integration_tests/contracts/hardhat.config.ts
  tests/integration_tests/contracts/package-lock.json
  tests/integration_tests/contracts/package.json
  tests/integration_tests/contracts/tsconfig.json
  tests/integration_tests/network.py
  tests/integration_tests/poetry.lock
  tests/integration_tests/pyproject.toml
  tests/integration_tests/shell.nix
  tests/integration_tests/test_basic.py
  tests/integration_tests/utils.py
Due: none

tests(json-rpc):add BlockBloom tests
  rpc/backend/evm_backend_test.go
Due: clients

tests(json-rpc): remove unused malleate
  rpc/backend/evm_backend_test.go
Due: clients

tests(json-rpc): add BaseFee tests
  rpc/backend/backend_suite_test.go
  rpc/backend/evm_backend_test.go
Due: clients

Update rpc/backend/evm_backend_test.go
  rpc/backend/evm_backend_test.go
Due: clients

testing(json rpc): Add backend test suite with mock grpc query client (#1199)
  go.mod
  rpc/backend/backend_suite_test.go
  rpc/backend/evm_backend_test.go
  rpc/backend/mocks/query_client.go
Due: clients

refactor query tests
  rpc/backend/backend_suite_test.go
  rpc/backend/evm_backend_test.go
Due: clients

Delete result
  result
Due: none

add client mock
  rpc/backend/backend_suite_test.go
  rpc/backend/evm_backend_test.go
  rpc/backend/mocks/client.go
Due: clients

fix: traceTransaction returns zero gas used (#1179)
  CHANGELOG.md
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
Due: modules
