Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

wip 2
  x/evm/vm/ethermint/evm.go
  x/evm/vm/ethermint/precompiles.go
  x/evm/vm/geth/evm.go
  x/evm/vm/geth/geth.go
  x/evm/vm/interface.go
Due: modules

skeleton websocket tests
  tests/integration_tests/test_websockets.py
Due: none

Problem: grpc query fail on legacy blocks
  CHANGELOG.md
  gomod2nix.toml
  x/evm/keeper/keeper.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/params.go
Due: modules

add upgrade integration test
  app/app.go
  app/upgrades.go
  go.mod
  go.sum
  gomod2nix.toml
  nix/default.nix
  nix/sources.json
  tests/integration_tests/configs/cosmovisor.jsonnet
  tests/integration_tests/configs/upgrade-test-package.nix
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/network.py
  tests/integration_tests/test_upgrade.py
  tests/integration_tests/utils.py
Due: app

Update tests/integration_tests/configs/upgrade-test-package.nix
  tests/integration_tests/configs/upgrade-test-package.nix
Due: none

fix(rpc): fix gRPC query failure on legacy blocks (#1354)
  CHANGELOG.md
  app/app.go
  app/upgrades.go
  go.mod
  go.sum
  gomod2nix.toml
  nix/default.nix
  nix/sources.json
  tests/integration_tests/configs/cosmovisor.jsonnet
  tests/integration_tests/configs/upgrade-test-package.nix
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/network.py
  tests/integration_tests/test_upgrade.py
  tests/integration_tests/utils.py
  x/evm/keeper/keeper.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/params.go
Due: app, modules

add grpc only mode flag
  server/flags/flags.go
  server/start.go
Due: none

add change log
  CHANGELOG.md
Due: none

deps: bump ibc-go to v5
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

add tmNode nil check
  server/start.go
Due: none

only flag to modes
  CHANGELOG.md
  server/flags/flags.go
  server/start.go
Due: none

fix close for query mode
  server/start.go
Due: none

fix hint
  server/start.go
Due: none

keep grpc-only & json-rpc-only
  CHANGELOG.md
  server/flags/flags.go
  server/start.go
Due: none

fix: `index-eth-tx` cmd fail on empty indexer db
  CHANGELOG.md
  server/indexer_cmd.go
Due: none

change lock file to remove infinite recursion
  tests/integration_tests/poetry.lock
Due: none

rm space
  server/flags/flags.go
Due: none

mv apiSrv close
  server/start.go
Due: none

mv cpuProfileCleanup
  server/start.go
Due: none

mv tmNode stop
  server/start.go
Due: none

deps: bump ibc-go to v5 (#1361)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

disable indexer on query only
  server/start.go
Due: none

update nix
  gomod2nix.toml
Due: none

update gomod2nix
  gomod2nix.toml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: `index-eth-tx` cmd fail on empty indexer db (#1362)
  CHANGELOG.md
  gomod2nix.toml
  server/indexer_cmd.go
Due: none

fix: skip fee check on tx simulation
  app/ante/fees.go
Due: app

fix: update fees_tests to account for sim. change
  app/ante/fees_test.go
Due: app

fix: skip fee check on tx simulation (#1364)
  app/ante/fees.go
  app/ante/fees_test.go
Due: app

Add support for EMV http metrics
  go.mod
  go.sum
  server/json_rpc.go
Due: none

Update as per review feedback
  .github/workflows/semgrep.yml
  CHANGELOG.md
  go.mod
  gomod2nix.toml
  rpc/client.go
  rpc/constants_unix.go
  rpc/constants_unix_nocgo.go
  rpc/handler.go
  rpc/ipc_unix.go
  rpc/json.go
  rpc/server.go
  rpc/subscription.go
  rpc/types.go
  rpc/websocket.go
  server/config/config.go
  server/json_rpc.go
Due: clients

Import go-ethereum RPC into ethermint
  go.mod
  go.sum
  rpc/apis.go
  rpc/client.go
  rpc/client_example_test.go
  rpc/client_opt.go
  rpc/client_opt_test.go
  rpc/client_test.go
  rpc/constants_unix.go
  rpc/constants_unix_nocgo.go
  rpc/errors.go
  rpc/handler.go
  rpc/http.go
  rpc/http_test.go
  rpc/inproc.go
  rpc/ipc.go
  rpc/ipc_js.go
  rpc/ipc_unix.go
  rpc/ipc_windows.go
  rpc/json.go
  rpc/metrics.go
  rpc/server.go
  rpc/service.go
  rpc/stdio.go
  rpc/subscription.go
  rpc/subscription_test.go
  rpc/testservice_test.go
  rpc/types.go
  rpc/websocket.go
  rpc/websocket_test.go
  rpc/websockets.go
  server/config/config.go
  server/config/toml.go
  server/json_rpc.go
Due: clients

Rebase with main
  rpc/websockets.go
Due: clients

fix TestGetProof
  go.mod
  go.sum
  rpc/backend/account_info_test.go
  rpc/backend/client_test.go
  rpc/backend/query_client_test.go
Due: clients

Refactor and fix some gosec issues
  .github/workflows/test.yml
  rpc/client/client.go
  rpc/client/client_test.go
  rpc/client/constants_unix.go
  rpc/client/constants_unix_nocgo.go
  rpc/client/handler.go
  rpc/client/ipc_unix.go
  rpc/client/results.sarif
  rpc/client/service.go
  rpc/codec/msg.go
  rpc/server/inproc.go
  rpc/server/server.go
  rpc/types/block.go
Due: clients

WIP GetTransactionCount
  rpc/backend/account_info_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/mocks/auth_query_client.go
  rpc/backend/mocks/evm_query_client.go
Due: clients

fix gomod2nix
  gomod2nix.toml
Due: none
