Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix geth init flag order
  scripts/start-geth.sh
Due: none

removed additional individual params for the feemarket module
  app/ante/fees.go
  app/ante/interfaces.go
  x/feemarket/keeper/params.go
Due: app, modules

typo fix
  x/evm/keeper/state_transition.go
Due: modules

[issue-1018] add new tests on evm module keeper
  x/evm/keeper/abci_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/utils_test.go
Due: modules

Apply suggestions from code review - Fede
  app/ante/eth.go
  x/evm/keeper/params.go
Due: app, modules

revert json-rpc-only change
  CHANGELOG.md
  server/flags/flags.go
  server/start.go
Due: none

typo fix
  x/evm/keeper/params.go
Due: modules

formatted using gofumpt
  app/ante/ante_test.go
  ethereum/eip712/preprocess_test.go
  tests/rpc/ws_test.go
  x/evm/types/access_list_tx_test.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/genesis_test.go
  x/evm/types/logs_test.go
  x/evm/types/tx_args_test.go
  x/evm/types/utils_test.go
  x/feemarket/keeper/params.go
Due: app, modules

typo fix - missed negate operator
  app/ante/eth.go
Due: app

missed to negate conditions
  x/feemarket/keeper/params.go
Due: modules

imp(server): Add query-only mode flag for gRPC (#1360)
  CHANGELOG.md
  server/flags/flags.go
  server/start.go
Due: none

added unit tests for the new param getter methods
  x/evm/keeper/params_test.go
  x/feemarket/keeper/params_test.go
Due: modules

updated changelog
  CHANGELOG.md
Due: none

Apply suggestions from code review
  CHANGELOG.md
  app/ante/eth.go
Due: app

moved to improvements
  CHANGELOG.md
Due: none

fix(evm): skip hash check when the code has been deleted (#1320)
  CHANGELOG.md
  x/evm/genesis.go
  x/evm/genesis_test.go
Due: modules

Converted unit tests into table-driven tests
  x/evm/keeper/params_test.go
  x/feemarket/keeper/params_test.go
Due: modules

added Require().Equal() to test case
  x/evm/keeper/params_test.go
Due: modules

refactor: optimize AnteHandler gas consumption (#1388)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  ethereum/eip712/preprocess_test.go
  tests/rpc/ws_test.go
  x/evm/keeper/params.go
  x/evm/keeper/params_test.go
  x/evm/types/access_list_tx_test.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/genesis_test.go
  x/evm/types/logs_test.go
  x/evm/types/tx_args_test.go
  x/evm/types/utils_test.go
  x/feemarket/keeper/params.go
  x/feemarket/keeper/params_test.go
Due: app, modules

[issue-#1389] add multisig tx support
  app/ante/ante.go
Due: app

[issue-#1389] add changes in CHANGELOG improvements
  CHANGELOG.md
Due: none

[issue-#1389] fix style issue
  app/ante/ante.go
Due: app

[WIP] EIP-712 Signature Refactor
  app/ante/ante_test.go
  app/ante/utils_test.go
  cmd/ethermintd/root.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
Due: app, core

[issue-#1389] add tests
  app/ante/ante_test.go
Due: app

[issue-1018] add more new tests on evm module keeper
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
Due: modules

[issue-#1389] add multisig tx support (#1390)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/ante_test.go
Due: app

add proposer address
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
Due: modules

make proto-all
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  proto/ethermint/types/v1/indexer.proto
  proto/ethermint/types/v1/web3.proto
  x/evm/types/query.pb.go
Due: none

update nix
  gomod2nix.toml
Due: none

fix test
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_test.go
Due: modules

keep default proposerAddress
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
Due: modules

add change doc
  CHANGELOG.md
Due: none

Added changes recommended for better performance
  app/ante/eth.go
  x/evm/keeper/params.go
  x/feemarket/keeper/params.go
Due: app, modules

update websocket tests
  tests/integration_tests/conftest.py
  tests/integration_tests/test_types.py
  tests/integration_tests/test_websockets.py
Due: none

imp(ante): refactor for increased `AnteHandler` performance (#1393)
  app/ante/eth.go
  x/evm/keeper/params.go
  x/feemarket/keeper/params.go
Due: app, modules

flake fixes
  .flake8
  tests/integration_tests/conftest.py
  tests/integration_tests/test_websockets.py
Due: none

ignore line break issues
  .flake8
Due: none

fix configuration file
  .flake8
Due: none

format protobuf files
  go.mod
  go.sum
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  proto/ethermint/types/v1/indexer.proto
  proto/ethermint/types/v1/web3.proto
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
