Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

tests(rpc): add get_logs test
  tests/integration_tests/README.md
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: none

testing(json rpc): Add backend test suite with mock grpc query client (#1199)
  go.mod
  rpc/backend/backend_suite_test.go
  rpc/backend/evm_backend_test.go
  rpc/backend/mocks/query_client.go
Due: clients

ENG 119 json rpc unit tests (#1189)
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_backend.go
  rpc/backend/evm_backend_test.go
  rpc/backend/mocks/client.go
  rpc/backend/query_client_test.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/utils.go
  x/evm/keeper/grpc_query.go
Due: modules, clients

fix: integration tests are not run in CI (#1221)
  .flake8
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  default.nix
  gomod2nix.toml
  scripts/run-integration-tests.sh
  tests/integration_tests/conftest.py
  tests/integration_tests/shell.nix
  tests/integration_tests/test_basic.py
Due: none

fix flake8 linter
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: none

imp(tests): prune node integration tests (#1212)
  .github/workflows/lint.yml
  app/ante/doc.go
  app/export.go
  app/simulation_test.go
  client/keys/add.go
  cmd/config/config.go
  rpc/backend/backend.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/types/query_client.go
  tests/integration_tests/.isort.cfg
  tests/integration_tests/configs/pruned_node.jsonnet
  tests/integration_tests/contracts/contracts/TestERC20A.sol
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/utils.py
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/statedb.go
  x/evm/types/logs.go
  x/evm/types/tx_data.go
  x/feemarket/types/keys.go
Due: app, modules, clients

feat!: Store eth tx index separately (#1121)
  CHANGELOG.md
  default.nix
  docs/api/proto-docs.md
  indexer/kv_indexer.go
  indexer/kv_indexer_test.go
  proto/ethermint/types/v1/indexer.proto
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_info.go
  rpc/backend/evm_backend_test.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/events.go
  rpc/types/events_test.go
  rpc/types/utils.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/indexer_cmd.go
  server/indexer_service.go
  server/json_rpc.go
  server/start.go
  server/util.go
  tests/integration_tests/configs/enable-indexer.jsonnet
  tests/integration_tests/conftest.py
  testutil/network/util.go
  types/indexer.go
  types/indexer.pb.go
Due: core, clients

[ENG-626] Rpc types integration tests (#1207)
  rpc/backend/evm_backend.go
  rpc/backend/evm_backend_test.go
  rpc/namespaces/ethereum/eth/api.go
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_types.py
  tests/integration_tests/utils.py
Due: clients

chore(rpc): restructure JSON-RPC APIs (#1218)
  rpc/apis.go
  rpc/backend/account_info.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_info.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/evm_backend.go
  rpc/backend/filters.go
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/miner/api.go
  rpc/namespaces/ethereum/personal/api.go
  rpc/websockets.go
Due: clients

fix unneded changes due to sdk upgrade
  go.mod
  go.sum
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/node_info.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/personal/api.go
Due: clients

Problem: feemarket's query cli has redundant height parameter (#1230)
  CHANGELOG.md
  x/feemarket/client/cli/query.go
Due: modules

Add support for `MaxOpenConnections` (#1229)
  CHANGELOG.md
  rpc/websockets.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
  server/util.go
  testutil/network/util.go
Due: clients

fix gomod2nix with proper dependency versions
  gomod2nix.toml
Due: none

test: make get_proof integration tests more stable
  tests/integration_tests/test_types.py
  tests/integration_tests/utils.py
Due: none

fix integration tests config
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/network.py
Due: none

Apply suggestions from code review
  tests/integration_tests/test_types.py
Due: none

feat!: Store eth tx index separately (#1121)
  CHANGELOG.md
  default.nix
  docs/api/proto-docs.md
  go.mod
  go.sum
  indexer/kv_indexer.go
  indexer/kv_indexer_test.go
  proto/ethermint/types/v1/indexer.proto
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_info.go
  rpc/backend/evm_backend_test.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/events.go
  rpc/types/events_test.go
  rpc/types/utils.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/indexer_cmd.go
  server/indexer_service.go
  server/json_rpc.go
  server/start.go
  server/util.go
  tests/integration_tests/configs/enable-indexer.jsonnet
  tests/integration_tests/conftest.py
  testutil/network/util.go
  types/indexer.go
  types/indexer.pb.go
Due: core, clients

fix: make get_proof integration tests more stable (#1236)
  tests/integration_tests/test_types.py
  tests/integration_tests/utils.py
Due: none

fix eth indexer sdk compatibility
  server/indexer_cmd.go
  server/start.go
Due: none

Add support for miner_setGasPrice API
  rpc/backend/backend.go
  rpc/backend/node_info.go
  rpc/namespaces/ethereum/miner/api.go
Due: clients

changelog
  CHANGELOG.md
Due: none

Add support for miner_setGasPrice API (#1237)
  rpc/backend/backend.go
  rpc/backend/node_info.go
  rpc/namespaces/ethereum/miner/api.go
Due: clients

fix flake8 linter
  tests/integration_tests/test_filters.py
Due: none

Problem: priority test result affect by base fee dropping
  tests/integration_tests/test_priority.py
Due: none

Problem: get_proof test fail because block numbers are not high enough
  tests/integration_tests/test_types.py
  tests/integration_tests/utils.py
Due: none

Update tests/integration_tests/test_types.py
  tests/integration_tests/test_types.py
Due: none

Update tests/integration_tests/test_priority.py
  tests/integration_tests/test_priority.py
Due: none

keep get_proof response the same as geth
  rpc/backend/account_info.go
Due: clients

fix(rpc): get_proof test fail because block numbers are not high enough (#1239)
  rpc/backend/account_info.go
  tests/integration_tests/test_types.py
  tests/integration_tests/utils.py
Due: clients

add caching to readme
  tests/integration_tests/README.md
Due: none

tests(rpc): add filter tests (#1233)
  rpc/namespaces/ethereum/eth/filters/api.go
  tests/integration_tests/README.md
  tests/integration_tests/contracts/contracts/Greeter.sol
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: clients

chore(docs): Update Changelog
  CHANGELOG.md
Due: none

chore(docs): Update Changelog (#1249)
  CHANGELOG.md
Due: none

fix(test): priority test result affect by base fee dropping (#1238)
  tests/integration_tests/test_priority.py
Due: none

fix kv indexer unit test
  indexer/kv_indexer_test.go
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
