Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

Rename token to ENTGL #ENTN-154
  CHANGELOG.md
  app/ante/fee_checker_test.go
  client/testnet.go
  cmd/config/config.go
  cmd/ethermintd/root.go
  indexer/kv_indexer_test.go
  init.bat
  init.sh
  rpc/types/utils.go
  scripts/contract-test.sh
  scripts/ethermint-devnet.yaml
  scripts/integration-test-all.sh
  scripts/start.sh
  server/flags/flags.go
  server/start.go
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/test_priority.py
  tests/integration_tests/test_upgrade.py
  tests/solidity/README.md
  tests/solidity/init-test-node.sh
  testutil/network/network.go
  types/coin.go
  x/evm/handler_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/migrations/v2/types/params.go
  x/evm/migrations/v3/types/params.go
  x/evm/spec/08_params.md
  x/evm/types/msg_test.go
  x/evm/types/params.go
Due: app, modules, core, clients

Applied changes from code review
  app/app.go
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/tx.proto
  rpc/backend/backend_suite_test.go
  x/evm/handler.go
  x/evm/keeper/migrations.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/params.go
  x/evm/types/evm.pb.go
  x/evm/types/interfaces.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/tx.pb.go
Due: app, modules, clients

bug(evm): add missing random op code in EVM constructor
  x/evm/keeper/state_transition.go
Due: modules

(fix): Linter fix
  x/evm/handler_test.go
  x/evm/migrations/v4/types/params.go
Due: modules

fix: rename EIP-712 sig. verification to indicate Legacy status
  app/ante/ante.go
  app/ante/eip712.go
  app/ante/handler_options.go
Due: app

(fix): Linter
  app/app.go
Due: app

fix: add random field to BlockContext using block header hash
  x/evm/keeper/state_transition.go
Due: modules

append node log
  tests/integration_tests/test_grpc_only.py
Due: none

fix lint
  tests/integration_tests/test_filters.py
Due: none

expect less gas after ecd76396eb55dc44535842018c5f13f234af7da3
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_pruned_node.py
Due: none

(fix): Lint proto files
  proto/ethermint/evm/v1/evm.proto
Due: none

Added changes from code review
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/migrations/v4/types/params.go
  x/feemarket/types/params.go
Due: modules

Apply changes from code review
  proto/ethermint/feemarket/v1/tx.proto
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/msg_server.go
  x/feemarket/keeper/params.go
  x/feemarket/migrations/v4/types/params.go
  x/feemarket/types/interfaces.go
  x/feemarket/types/params.go
Due: modules

(fix): Made ParamKey back to a string
  proto/ethermint/feemarket/v1/tx.proto
  x/feemarket/migrations/v4/types/params.go
  x/feemarket/types/params.go
Due: modules

Added CHANGELOG entry
  CHANGELOG.md
Due: none

tests(filters): add logs by topic test case (#1515)
  default.nix
  tests/integration_tests/test_filters.py
Due: none

chore(all): markdownlint
  tests/integration_tests/README.md
  x/feemarket/spec/01_concepts.md
Due: modules

chore(all): markdownlint (#1522)
  tests/integration_tests/README.md
  x/feemarket/spec/01_concepts.md
Due: modules

Add changelog entry
  CHANGELOG.md
Due: none

Update changelog, refactor implementation, update comments
  CHANGELOG.md
  app/ante/ante.go
  app/ante/eip712.go
  app/ante/handler_options.go
Due: app

remove more sim stuff
  x/evm/module.go
  x/feemarket/module.go
Due: modules

Apply suggestions from code review
  app/ante/eip712.go
Due: app

address comments
  app/ante/ante.go
  app/ante/eip712.go
Due: app

changelog
  CHANGELOG.md
Due: none

update gomod2nix
  gomod2nix.toml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix test
  app/ante/ante.go
Due: app

Update tests/integration_tests/test_gas.py
  tests/integration_tests/test_gas.py
Due: none

tests(integration): block gas limit tests (#1500)
  app/ante/eth_test.go
  gomod2nix.toml
  tests/integration_tests/test_gas.py
Due: app

chore(ante): deprecate legacy EIP-712 signature verification via AnteHandler (#1521)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/eip712.go
  app/ante/handler_options.go
Due: app

feat(ci): add Golang dependency vulnerability check
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
Due: none

update
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

check run
  cmd/ethermintd/flags.go
Due: none

c++
  CHANGELOG.md
Due: none

feat(ci): add Golang dependency vulnerability check (#1528)
  .github/workflows/dependencies.yml
  .github/workflows/lint.yml
  CHANGELOG.md
  Makefile
  cmd/ethermintd/flags.go
Due: none

add comment
  x/evm/keeper/state_transition.go
Due: modules

chore(evm): add comment regarding RANDOM opcode (#1520)
  x/evm/keeper/state_transition.go
Due: modules

update release date
  CHANGELOG.md
Due: none
