Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

add more tests and address comments
  rpc/backend/client_test.go
  rpc/backend/evm_backend.go
  rpc/backend/evm_backend_test.go
  rpc/backend/query_client_test.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/utils.go
  rpc/types/utils_test.go
Due: clients

fix linter
  rpc/namespaces/ethereum/eth/api.go
Due: clients

ENG 119 json rpc unit tests (#1189)
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_backend.go
  rpc/backend/evm_backend_test.go
  rpc/backend/mocks/client.go
  rpc/backend/query_client_test.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/utils.go
  x/evm/keeper/grpc_query.go
Due: modules, clients

move non api methods from eth/api.go to evm_backend: ClientCtx, QueryClient, Ctx, getBlockNumber, getTransactionByBlockAndIndex, doCall
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

organize eth/api.go into sections and move backend logic to dedicated files
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/evm_backend.go
  rpc/backend/read_txs.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
Due: clients

fixed pruned node tests. Fix getBalance on pruned. Fix BaseFee on pruned.
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/conftest.py
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/utils.py
  x/evm/keeper/keeper.go
Due: modules, clients

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#1220)
  .github/CODEOWNERS
Due: none

fix: integration tests are not run in CI
  .flake8
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  default.nix
  gomod2nix.toml
  scripts/run-integration-tests.sh
  tests/integration_tests/conftest.py
  tests/integration_tests/shell.nix
  tests/integration_tests/test_basic.py
Due: none

fix: integration tests are not run in CI (#1221)
  .flake8
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  default.nix
  gomod2nix.toml
  scripts/run-integration-tests.sh
  tests/integration_tests/conftest.py
  tests/integration_tests/shell.nix
  tests/integration_tests/test_basic.py
Due: none

Set priority for eth transactions
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  default.nix
  go.mod
  go.sum
  gomod2nix.toml
  rpc/namespaces/ethereum/eth/api.go
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/network.py
  tests/integration_tests/test_priority.py
  tests/integration_tests/utils.py
  x/evm/handler_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/tx_data.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/spec/09_antehandlers.md
Due: app, modules, clients

remove unnecesary comment
  rpc/namespaces/ethereum/eth/api.go
Due: clients

move resend to the backend
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

refractor eth api
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

refractor debug namespace
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/tracing.go
  rpc/namespaces/ethereum/debug/api.go
Due: clients

refactor miner namespace
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/miner/api.go
Due: clients

refactor personal namespace
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/personal/api.go
Due: clients

fix pruned node integration test
  rpc/backend/evm_backend.go
Due: clients

fix pruned node integration test (#1223)
  rpc/backend/evm_backend.go
Due: clients

Update x/feemarket/spec/09_antehandlers.md
  x/feemarket/spec/09_antehandlers.md
Due: modules

chore(docs): update changelog
  CHANGELOG.md
  go.mod
  go.sum
Due: none

chore(docs): update changelog (#1224)
  CHANGELOG.md
Due: none

conflicts
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  server/config/config.go
Due: app

fixes
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/utils_test.go
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/tx.proto
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/types/events.go
  rpc/types/events_test.go
  rpc/types/utils.go
  tests/e2e/integration_test.go
  x/evm/keeper/integration_test.go
  x/evm/spec/04_transactions.md
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/evm/types/tx.pb.go
  x/evm/types/tx_args.go
  x/evm/types/utils.go
  x/feemarket/keeper/integration_test.go
Due: app, modules, clients

fix
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_benchmark_test.go
  x/evm/types/errors.go
  x/evm/types/msg_test.go
  x/feemarket/keeper/integration_test.go
Due: modules, clients

fix tests execution
  rpc/backend/evm_backend.go
  tests/integration_tests/contracts/contracts/TestERC20A.sol
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/utils.py
Due: clients

check logs on tests
  tests/integration_tests/test_pruned_node.py
Due: none

revert PR #1176
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/utils_test.go
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/tx.proto
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/types/events.go
  rpc/types/events_test.go
  rpc/types/utils.go
  tests/e2e/integration_test.go
  x/evm/spec/04_transactions.md
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/evm/types/tx.pb.go
  x/evm/types/tx_args.go
  x/evm/types/utils.go
  x/feemarket/keeper/integration_test.go
Due: app, modules, clients

changelog
  CHANGELOG.md
Due: none

cherry pick #1174
  x/evm/keeper/integration_test.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
Due: modules

support dynamic app db backend
  CHANGELOG.md
  Makefile
  cmd/ethermintd/root.go
  server/start.go
Due: none

address pr comments
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
  tests/integration_tests/configs/pruned_node.jsonnet
  tests/integration_tests/conftest.py
  tests/integration_tests/test_pruned_node.py
Due: clients

fix differences in the rpc calls with geth
  rpc/backend/evm_backend.go
  rpc/backend/evm_backend_test.go
  rpc/namespaces/ethereum/eth/api.go
  tests/integration_tests/contracts/contracts/TestERC20A.sol
  tests/integration_tests/test_types.py
  tests/integration_tests/utils.py
Due: clients

cleanup
  tests/integration_tests/test_types.py
Due: none

address comments
  x/evm/keeper/keeper.go
Due: modules

Merge pull request from GHSA-f92v-grc2-w2fg
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Due: modules

remove delete code in DeleteAccount
  x/evm/keeper/statedb.go
Due: modules

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
