Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

return error if exceeds log limit
  rpc/ethereum/namespaces/eth/filters/filters.go
Due: clients

Apply suggestions from code review
  rpc/ethereum/namespaces/eth/filters/filters.go
Due: clients

parse from config
  server/config/config.go
Due: none

read cli flags
  server/flags/flags.go
  server/start.go
Due: none

add to config template
  server/config/toml.go
Due: none

fix bloomFilter
  rpc/ethereum/namespaces/eth/filters/utils.go
Due: clients

changelog
  CHANGELOG.md
Due: none

add validation
  server/config/config.go
Due: none

fix: OOM when eth_getLogs response too large (#860)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/namespaces/eth/filters/filters.go
  rpc/ethereum/namespaces/eth/filters/utils.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
Due: clients

fix receipt creation
  x/evm/keeper/state_transition.go
Due: modules

Add criteria to filter
  rpc/ethereum/namespaces/eth/filters/api.go
Due: clients

update changelog
  CHANGELOG.md
Due: none

Add criteria to filter (#865)
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/filters/api.go
Due: clients

update ante handler internals
  app/ante/ante.go
  app/ante/utils_test.go
Due: app

update options
  app/ante/ante.go
  app/ante/eth.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/ante/reject_msgs.go
  app/ante/utils_test.go
  app/app.go
Due: app

ante: update ante handler internals (#866)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/eth.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/ante/reject_msgs.go
  app/ante/utils_test.go
  app/app.go
Due: app

receipt fixes
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/tx.proto
  types/account.go
  x/evm/keeper/state_transition.go
  x/evm/types/tx.pb.go
  x/feemarket/keeper/grpc_query_test.go
Due: modules, core, clients

check for contract addr
  x/evm/keeper/state_transition.go
Due: modules

test
  types/account_test.go
Due: core

fix: wrong gas limit is wrong when adjust base fee (#832)
  go.mod
  go.sum
Due: none

deps: IBC v3
  app/ante/handler_options.go
  app/app.go
  app/simulation_test.go
  go.mod
  go.sum
Due: app

fix app.go
  app/app.go
Due: app

evm: change `Hook` to use tx `Receipt` (#849)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/tx.proto
  types/account.go
  types/account_test.go
  x/evm/handler_test.go
  x/evm/keeper/hooks.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/interfaces.go
  x/evm/types/tx.pb.go
  x/feemarket/keeper/grpc_query_test.go
Due: modules, core, clients

deps: IBC v3-alpha (#867)
  app/ante/handler_options.go
  app/app.go
  app/simulation_test.go
  go.mod
  go.sum
Due: app

fix: several issues with the passing receipt to hooks change
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/tx.proto
  x/evm/keeper/state_transition.go
  x/evm/types/tx.pb.go
Due: modules, clients

fix: set correct nonce in EthCall/EstimateGas
  CHANGELOG.md
  x/evm/keeper/grpc_query.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

unit test
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
Due: modules

fix: set correct nonce in EthCall/EstimateGas (#871)
  CHANGELOG.md
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
Due: modules

fix: several issues with the passing receipt to hooks change (#869)
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/tx.proto
  x/evm/keeper/state_transition.go
  x/evm/types/tx.pb.go
Due: modules, clients

Validate code hash in GenesisAccount
  x/evm/genesis.go
  x/evm/genesis_test.go
Due: modules

evm: validate code hash in `GenesisAccount` (#873)
  CHANGELOG.md
  x/evm/genesis.go
  x/evm/genesis_test.go
Due: modules

deps: update SDK to v0.45 release branch
  go.mod
  go.sum
Due: none

add modules
  app/app.go
Due: app

fix modules
  app/app.go
Due: app

deps: update SDK to v0.45 release branch (#874)
  app/app.go
  go.mod
  go.sum
Due: app
