Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

remove misleading comment
  x/evm/keeper/utils.go
Due: modules

(fix): removed sim-test references
  Makefile
Due: none

(fix): Lint and add CHANGELOG entry
  CHANGELOG.md
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/keeper/params_test.go
  x/feemarket/module.go
Due: modules

chore(feemarket): Delete deprecated migration logic (#1508)
  CHANGELOG.md
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/keeper/params_test.go
  x/feemarket/migrations/v010/migrate.go
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/migrations/v010/types/feemarket.pb.go
  x/feemarket/migrations/v010/types/genesis.pb.go
  x/feemarket/migrations/v010/types/params.go
  x/feemarket/migrations/v011/migrate.go
  x/feemarket/migrations/v011/migrate_test.go
  x/feemarket/migrations/v09/types/feemarket.pb.go
  x/feemarket/migrations/v09/types/genesis.pb.go
  x/feemarket/module.go
Due: modules

Applied changes from code review
  x/evm/module.go
  x/feemarket/module.go
Due: modules

Remove simulation checks (#1507)
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  app/ante/signverify_test.go
  app/app.go
  app/simulation_test.go
  app/utils.go
  app/utils_test.go
  x/evm/module.go
  x/evm/simulation/decoder.go
  x/evm/simulation/decoder_test.go
  x/evm/simulation/genesis.go
  x/evm/simulation/genesis_test.go
  x/evm/simulation/operations.go
  x/evm/simulation/params.go
  x/evm/simulation/params_test.go
  x/feemarket/module.go
  x/feemarket/simulation/genesis.go
Due: app, modules

(fix): corrected migration test
  x/evm/keeper/migrations_test.go
Due: modules

(refactor): Added new MsgUpdateParams tx and generated new proto files
  proto/ethermint/feemarket/v1/tx.proto
  scripts/protocgen.sh
  x/evm/types/evm.pb.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/migrations/v4/migrate_test.go
  x/feemarket/types/tx.pb.go
  x/feemarket/types/tx.pb.gw.go
Due: modules

fix(evm): fix gRPC-only chain-id
  x/evm/keeper/config.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/utils.go
Due: modules

tests(filters) add logs by topic test case
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: none

address review comments - only handover boolean instead of context
  app/ante/eth.go
  x/evm/handler_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
Due: app, modules

remove TODO
  x/evm/keeper/utils.go
Due: modules

chore: verify fees refactor (#1496)
  app/ante/eth.go
  app/ante/interfaces.go
  x/evm/handler_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
Due: app, modules

(refactor): Refactor for migration of x/params
  app/ante/utils_test.go
  app/app.go
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/tx.proto
  rpc/backend/chain_info.go
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/handler.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/keeper/msg_server.go
  x/feemarket/keeper/params.go
  x/feemarket/keeper/params_test.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/migrations/v4/migrate_test.go
  x/feemarket/migrations/v4/types/feemarket.pb.go
  x/feemarket/migrations/v4/types/params.go
  x/feemarket/module.go
  x/feemarket/types/codec.go
  x/feemarket/types/interfaces.go
  x/feemarket/types/msg.go
  x/feemarket/types/params_test.go
  x/feemarket/types/tx.pb.go
Due: app, modules, clients

(fix): Refactor to use single Params store key for easier more readable code
  app/ante/utils_test.go
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/tx.proto
  rpc/backend/chain_info.go
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/genesis.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/msg_server.go
  x/feemarket/keeper/params.go
  x/feemarket/keeper/params_test.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/migrations/v4/migrate_test.go
  x/feemarket/migrations/v4/types/feemarket.pb.go
  x/feemarket/migrations/v4/types/params.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
Due: app, modules, clients

(fix): removed unused
  x/feemarket/migrations/v4/types/params.go
Due: modules

(fix): add validation
  x/feemarket/types/params.go
Due: modules

(fix): fix linter
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
Due: modules

remove line
  scripts/protocgen.sh
Due: none

fix(filters): fix newBlock filter response
  rpc/namespaces/ethereum/eth/filters/api.go
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: clients

fix(filters): add changes on CHANGELOG file
  CHANGELOG.md
Due: none

disable recheck
  tests/integration_tests/configs/default.jsonnet
Due: none

bump up upgrade
  tests/integration_tests/configs/cosmovisor.jsonnet
  tests/integration_tests/configs/upgrade-test-package.nix
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/test_upgrade.py
Due: none

sync gomod2nix
  gomod2nix.toml
Due: none

Apply suggestions from code review
  tests/integration_tests/test_grpc_only.py
Due: none

fix(ci): add gitleaks config to ignore init.sh
  .gitleaks.toml
Due: none

make ci lint init.sh
  init.sh
Due: none

json-rpc(filters) fix block hash on newBlock filter (#1503)
  CHANGELOG.md
  rpc/namespaces/ethereum/eth/filters/api.go
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: clients

fix(logs): add getLogs http call in test
  tests/integration_tests/test_filters.py
Due: none

fix(ci): add gitleaks config (#1513)
  .gitleaks.toml
  init.sh
Due: none

Apply suggestions from code review
  tests/integration_tests/test_grpc_only.py
  tests/integration_tests/test_upgrade.py
Due: none

update gomod2nix
  gomod2nix.toml
Due: none

tests(logs) add test case for getLogs by topic
  default.nix
  gomod2nix.toml
  tests/integration_tests/test_filters.py
Due: none

tests(logs) fix lint errors
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: none

tests(filters) remove test elapsed time log
  tests/integration_tests/test_filters.py
Due: none

apdate dependencies
  go.mod
  go.sum
Due: none

tests(filters): add/improve integration tests for JSON-RPC methods (#1480)
  gomod2nix.toml
  scripts/run-integration-tests.sh
  tests/integration_tests/contracts/contracts/TestERC20A.sol
  tests/integration_tests/hardhat/.gitignore
  tests/integration_tests/hardhat/README.md
  tests/integration_tests/hardhat/contracts/BurnGas.sol
  tests/integration_tests/hardhat/contracts/ChainID.sol
  tests/integration_tests/hardhat/contracts/Greeter.sol
  tests/integration_tests/hardhat/contracts/Mars.sol
  tests/integration_tests/hardhat/contracts/TestERC20A.sol
  tests/integration_tests/hardhat/hardhat.config.ts
  tests/integration_tests/hardhat/package-lock.json
  tests/integration_tests/hardhat/package.json
  tests/integration_tests/hardhat/tsconfig.json
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: none

add dragonberry update changelog entry again
  CHANGELOG.md
Due: none

Updated modules ENTN-154
  go.mod
  go.sum
Due: none
