Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

tests: eth_sendRawTx
  app/app.go
  tests/e2e/integration_test.go
Due: app

update tests
  app/app.go
  tests/e2e/integration_test.go
Due: app

rm println
  x/evm/types/compiled_contract.go
Due: modules

tests: eth_sendRawTx (#804)
  tests/e2e/integration_test.go
  x/evm/types/compiled_contract.go
Due: modules

changelog
  CHANGELOG.md
Due: none

changelog `v0.8.1` (#805)
  CHANGELOG.md
Due: none

release: changelog `v0.9.0` (#806)
  CHANGELOG.md
Due: none

docs: backport changelog updates
  .mergify.yml
Due: none

unreleased
  CHANGELOG.md
Due: none

docs: backport changelog updates (#807)
  .mergify.yml
  CHANGELOG.md
Due: none

rm replace
  go.mod
  go.sum
Due: none

Use effectiveGasPrice in ante handler for dynamic fee tx
  app/ante/ante.go
  app/ante/eth.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/msg.go
  x/evm/types/tx_data.go
Due: app, modules

add effectiveGasPrice to tx receipt
  rpc/ethereum/namespaces/eth/api.go
Due: clients

fix unit test
  app/ante/ante_test.go
Due: app

fix comments
  x/evm/types/dynamic_fee_tx.go
Due: modules

add comments
  app/ante/eth.go
Due: app

Apply suggestions from code review
  x/evm/types/dynamic_fee_tx.go
Due: modules

review suggestions
  app/ante/eth.go
  x/evm/types/access_list_tx.go
  x/evm/types/legacy_tx.go
Due: app, modules

Update base fee in begin blocker
  app/app.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/module.go
Due: app, modules, clients

remove redundant code
  x/evm/types/tx_args.go
  x/feemarket/types/params.go
Due: modules

Update EVM spec
  x/evm/spec/01_concepts.md
  x/evm/spec/02_state.md
  x/evm/spec/03_state_transitions.md
  x/evm/spec/04_messages.md
  x/evm/spec/04_transactions.md
  x/evm/spec/05_abci.md
  x/evm/spec/06_hooks.md
  x/evm/spec/07_events.md
  x/evm/spec/07_params.md
  x/evm/spec/08_params.md
  x/evm/spec/09_client.md
  x/evm/spec/README.md
Due: modules

docs: update EVM spec (#824)
  x/evm/spec/01_concepts.md
  x/evm/spec/02_state.md
  x/evm/spec/03_state_transitions.md
  x/evm/spec/04_messages.md
  x/evm/spec/04_transactions.md
  x/evm/spec/05_abci.md
  x/evm/spec/06_hooks.md
  x/evm/spec/07_events.md
  x/evm/spec/07_params.md
  x/evm/spec/08_params.md
  x/evm/spec/09_client.md
  x/evm/spec/README.md
Due: modules

nobasefee param value should be consistent with block height
  rpc/ethereum/backend/backend.go
Due: clients

update changelog
  CHANGELOG.md
Due: none

remove unused code
  log/benchmark_test.go
  log/handler.go
  log/handler_test.go
Due: none

fix: remove unused code (#834)
  log/benchmark_test.go
  log/handler.go
  log/handler_test.go
Due: none

x/evm/keeper: save 24B with Go in-condition variable idiom
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/statedb.go
Due: modules

lint
  .golangci.yml
  gometalinter.json
Due: none

Revert stray changes that were used in testing
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/statedb.go
Due: modules

rm log
  server/start.go
Due: none

x/evm/keeper: save 24B with Go in-condition variable idiom (#828)
  .golangci.yml
  CHANGELOG.md
  gometalinter.json
  server/start.go
  x/evm/keeper/msg_server.go
Due: modules

fix: `NobaseFee` value should be consistent with height (#831)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
Due: clients

x/evm/keeper: use the fastest slice making idiom for Keeper.EthereumTx.Logs
  CHANGELOG.md
  x/evm/keeper/msg_server.go
Due: modules

x/evm/keeper: use the fastest slice making idiom for Keeper.EthereumTx.Logs (#827)
  CHANGELOG.md
  x/evm/keeper/msg_server.go
Due: modules

x/evm/types: use ethtypes.Transaction.To for cheaper retrieval
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
Due: modules

x/evm/types: use ethtypes.Transaction.To for cheaper retrieval (#835)
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
Due: modules
