Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

changelog
  CHANGELOG.md
Due: none

fix: Web3 RPC handlers panic (#702)
  CHANGELOG.md
  encoding/config.go
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/errors.go
  x/evm/types/legacy_tx.go
  x/evm/types/legacy_tx_test.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/evm/types/tx_data.go
  x/evm/types/utils.go
Due: modules

tests: integration tests with JSON-RPC client
  client/testnet.go
  cmd/ethermintd/root.go
  tests/e2e/integration_test.go
  testutil/network/network.go
  testutil/network/network_test.go
  testutil/network/util.go
Due: clients

fix package
  testutil/network/network_test.go
Due: none

tests: networking configuration fixed
  tests/e2e/integration_test.go
  testutil/network/network.go
  testutil/network/util.go
Due: none

ADD pprof config
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
  starport.yml
Due: none

UPDATE default
  server/config/config.go
Due: none

tests: networking configuration fixed (#706)
  tests/e2e/integration_test.go
  testutil/network/network.go
  testutil/network/util.go
Due: none

testing goreleaser
  .github/workflows/goreleaser.yml
  .goreleaser.yml
Due: none

removed arm64 building instructions
  .goreleaser.yml
Due: none

CGO changed
  .goreleaser.yml
Due: none

ci: reverted releaser changes, back to troian/golang-cross
  .github/workflows/goreleaser.yml
  .goreleaser.yml
  Makefile
Due: none

using snapshot to test the release ci
  Makefile
Due: none

testing ci code removed
  .github/workflows/goreleaser.yml
  Makefile
Due: none

ci: fix goreleaser (#708)
  .github/workflows/goreleaser.yml
  .goreleaser.yml
  Makefile
Due: none

remove MsgEthereumTx support in TxConfig
  encoding/config.go
  encoding/config_test.go
Due: none

encoding: rm `MsgEthereumTx` custom support in `TxConfig` (#714)
  CHANGELOG.md
  encoding/config.go
  encoding/config_test.go
Due: none

No tx cli to build evm transaction
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/api.go
  x/evm/client/cli/tx.go
  x/evm/module.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
Due: modules, clients

feat: add raw ethereum tx CLI (#712)
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/api.go
  x/evm/client/cli/tx.go
  x/evm/module.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
Due: modules, clients

Problem: traceTransaction fails for succesful tx
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  rpc/ethereum/namespaces/debug/api.go
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/feemarket/types/query.pb.gw.go
Due: modules, clients

fix build
  x/evm/keeper/grpc_query.go
Due: modules

fix lint
  rpc/ethereum/namespaces/debug/api.go
Due: clients

fix: proto-gen broken env var
  Makefile
Due: none

refactor traceBlock
  Makefile
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
  x/feemarket/types/query.pb.gw.go
Due: modules, clients

add ethereumTx http option
  proto/ethermint/evm/v1/tx.proto
Due: none

fix: proto-gen broken env var (#723)
  Makefile
  proto/ethermint/evm/v1/tx.proto
Due: none

update protobuf
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
Due: modules

fix Predecessors
  x/evm/types/query.go
Due: modules

Decode raw transaction via RLP
  rpc/ethereum/namespaces/eth/api.go
Due: clients

add changelog
  CHANGELOG.md
Due: none

Apply suggestions from code review
  rpc/ethereum/namespaces/eth/api.go
Due: clients

rpc: decode raw transaction via RLP (#727)
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/api.go
Due: clients

add message call benchmark
  scripts/gen-tests-artifacts.sh
  tests/solidity/suites/basic/contracts/TestMessageCall.sol
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/keeper_test.go
  x/evm/types/TestMessageCall.json
  x/evm/types/compiled_contract.go
Due: modules

fix Some fields in transaction are not authenticated by signature
  CHANGELOG.md
  app/ante/ante.go
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/sigs_test.go
Due: app

fix: tx fields are not authenticated by signature (#703)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/sigs_test.go
Due: app

tests: add message call benchmark (#717)
  scripts/gen-tests-artifacts.sh
  tests/solidity/suites/basic/contracts/TestMessageCall.sol
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/keeper_test.go
  x/evm/types/TestMessageCall.json
  x/evm/types/compiled_contract.go
Due: modules

traceBlock refactor
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  rpc/ethereum/namespaces/debug/api.go
  x/evm/keeper/grpc_query.go
  x/evm/types/query.go
  x/evm/types/query.pb.go
Due: modules, clients

refactor traceBlock response
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  rpc/ethereum/namespaces/debug/api.go
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
Due: modules, clients

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
