Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

use ics23 v0.9.0
  go.mod
  go.sum
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

remove ics23 replace statement
  go.mod
  go.sum
Due: none

mod2nix
  gomod2nix.toml
Due: none

changelog
  CHANGELOG.md
Due: none

proto-gen
  x/evm/types/evm.pb.go
Due: none

deps: bump IBC v6 (#1575)
  CHANGELOG.md
  app/ante/eip712.go
  app/ante/handler_options.go
  app/app.go
  go.mod
  go.sum
  gomod2nix.toml
  x/evm/types/evm.pb.go
Due: app

fix(deps): use ics23 v0.9.0 (#1580)
  CHANGELOG.md
  go.mod
  go.sum
  gomod2nix.toml
Due: none

chore(evm): cleanup EVM files
  x/evm/keeper/config.go
  x/evm/keeper/gas.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/utils.go
Due: modules

move EVMConfig
  app/ante/eth.go
  app/ante/interfaces.go
  x/evm/keeper/config.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/statedb/config.go
  x/evm/types/config.go
Due: app, modules

chore(evm): cleanup EVM files (#1582)
  app/ante/eth.go
  app/ante/interfaces.go
  x/evm/keeper/config.go
  x/evm/keeper/gas.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/utils.go
  x/evm/statedb/config.go
  x/evm/types/config.go
Due: app, modules

chore(evm): cleanup files
  ethereum/tracers/logger/access_list.go
  ethereum/tracers/logger/json.go
  ethereum/tracers/logger/markdown.go
  ethereum/tracers/logger/no_op.go
  ethereum/tracers/logger/struct.go
  ethereum/tracers/logger/tracer_test.go
  ethereum/tracers/tracers.go
  x/evm/keeper/config.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/interfaces.go
  x/evm/types/tracer.go
  x/evm/vm/ethermint/config.go
  x/evm/vm/ethermint/evm.go
  x/evm/vm/ethermint/interpreter.go
  x/evm/vm/ethermint/precompiles.go
  x/evm/vm/ethermint/precompiles/ics20.go
  x/evm/vm/ethermint/precompiles/staking.go
  x/evm/vm/geth/evm.go
  x/evm/vm/geth/precompiles.go
  x/evm/vm/interface.go
Due: modules

wip
  x/evm/vm/common.go
  x/evm/vm/ethermint/interpreter.go
  x/evm/vm/interface.go
  x/evm/vm/stack.go
Due: modules

Apply suggestions from code review
  proto/ethermint/evm/v1/events.proto
  proto/ethermint/feemarket/v1/events.proto
Due: none

feat: define precompiles
  precompiles/ibc/transfer/ics20.go
  precompiles/precompiles.go
  precompiles/staking/staking.go
Due: none

fix: increase sleep time to 5s initially
  tests/rpc/rpc_test.go
Due: none

fix: extra line added in merge removed
  x/evm/keeper/keeper_test.go
Due: modules

fix: applied changes from code review
  rpc/backend/call_tx_test.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/params.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/params.go
Due: modules, clients

address linter comments
  .github/workflows/codeql-analysis.yml
Due: none

fix: comment out failing tests to investigate in a separate PR
  tests/rpc/rpc_test.go
Due: none

address newline linter error
  .github/workflows/codeql-analysis.yml
Due: none

impr (ci): add python and javascript to codeql analysis (#1560)
  .github/workflows/codeql-analysis.yml
Due: none

fix: update timeout to 10 minutes
  scripts/integration-test-all.sh
Due: none

fix: added 15 min timeout
  scripts/integration-test-all.sh
Due: none

chore(evm): Deprecate x/params usage in x/evm (#1472)
  CHANGELOG.md
  app/ante/interfaces.go
  app/app.go
  client/docs/statik/statik.go
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/tx.proto
  rpc/backend/backend_suite_test.go
  x/evm/genesis.go
  x/evm/handler.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params.go
  x/evm/keeper/params_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/chain_config.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/params.go
  x/evm/module.go
  x/evm/types/codec.go
  x/evm/types/interfaces.go
  x/evm/types/msg.go
  x/evm/types/params_test.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
Due: app, modules, clients

cache back access list within same block
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/statedb.go
Due: modules

fix flag
  server/flags/flags.go
Due: none

update dep
  gomod2nix.toml
Due: none

configurable fix-clear-access-list-height
  CHANGELOG.md
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  tests/integration_tests/configs/default.jsonnet
  x/evm/keeper/grpc_query.go
Due: modules

add FixClearAccessListHeight in request
  proto/ethermint/evm/v1/query.proto
  rpc/backend/tracing.go
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
Due: modules, clients

fix comment in tools/tools.go
  tools/tools.go
Due: none

run gofumpt for all non-generated files
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/filters_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
Due: clients

chore: run gofumpt for non-generated files & fix tools/tools.go (#1590)
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/filters_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
  tools/tools.go
Due: clients

chore(evm, feemarket) - Migrate Event emitting to TypedEvent (#1544)
  CHANGELOG.md
  proto/ethermint/evm/v1/events.proto
  proto/ethermint/feemarket/v1/events.proto
  scripts/integration-test-all.sh
  tests/rpc/rpc_test.go
  x/evm/keeper/abci_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/types/events.pb.go
  x/feemarket/keeper/abci.go
  x/feemarket/types/events.pb.go
Due: modules

Update x/feemarket/keeper/params.go
  x/feemarket/keeper/params.go
Due: modules

chore(feemarket) - Depreacte usage of x/params in x/feemarket (#1509)
  CHANGELOG.md
  app/app.go
  proto/ethermint/feemarket/v1/tx.proto
  x/feemarket/genesis.go
  x/feemarket/handler.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/keeper/msg_server.go
  x/feemarket/keeper/msg_server_test.go
  x/feemarket/keeper/params.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/migrations/v4/migrate_test.go
  x/feemarket/migrations/v4/types/feemarket.pb.go
  x/feemarket/migrations/v4/types/params.go
  x/feemarket/module.go
  x/feemarket/types/codec.go
  x/feemarket/types/interfaces.go
  x/feemarket/types/msg.go
  x/feemarket/types/msg_test.go
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
  x/feemarket/types/tx.pb.go
  x/feemarket/types/tx.pb.gw.go
Due: app, modules

fix wrong block number in debug_traceTransaction
  x/evm/keeper/grpc_query.go
Due: modules

add change doc
  CHANGELOG.md
  x/evm/keeper/grpc_query.go
Due: modules
