Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

reserve tx_index
  go.mod
  go.sum
  proto/ethermint/evm/v1/query.proto
  x/evm/types/query.pb.go
Due: none

fix breaking changes
  tests/e2e/integration_test.go
Due: none

Context block height fix on `TraceTx` (#1051)
  CHANGELOG.md
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/query.proto
  rpc/ethereum/namespaces/debug/api.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/query.pb.go
Due: modules, clients

add ParamChanges for RandomizedParams
  x/evm/module.go
  x/evm/simulation/genesis.go
  x/evm/simulation/params.go
Due: modules

rename app/test_helpers.go -> app/utils.go
  app/utils.go
Due: app

testing for RandomGenesisAccounts
  app/utils_test.go
Due: app

`eth_getBlockByNumber` fix on batch transactions (#1050)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  tests/e2e/integration_test.go
Due: clients

fix: tests/solidity/package.json to reduce vulnerabilities (#1036)
  tests/solidity/package.json
Due: none

fix: tests/solidity/suites/storage/package.json to reduce vulnerabilities (#1039)
  tests/solidity/suites/storage/package.json
Due: none

fix: tests/solidity/suites/eip1559/package.json to reduce vulnerabilities (#1038)
  tests/solidity/suites/eip1559/package.json
Due: none

use cdc for marshaling
  app/utils.go
Due: app

lint
  app/simulation_test.go
  app/utils.go
Due: app

changelog
  CHANGELOG.md
Due: none

changelog 2
  CHANGELOG.md
Due: none

fix: simulations don't generate EVM transactions (#996)
  CHANGELOG.md
  Makefile
  app/app.go
  app/simulation_test.go
  app/test_helpers.go
  app/utils.go
  app/utils_test.go
  x/evm/module.go
  x/evm/simulation/decoder.go
  x/evm/simulation/genesis.go
  x/evm/simulation/operations.go
  x/evm/simulation/params.go
Due: app, modules

make jsonrpc api namespaces extensible
  CHANGELOG.md
  rpc/apis.go
Due: clients

Apply suggestions from code review
  rpc/apis.go
Due: clients

rm unique
  rpc/apis.go
  server/config/config.go
Due: clients

rpc: make json-rpc API namespaces extensible (#1056)
  CHANGELOG.md
  rpc/apis.go
  server/config/config.go
Due: clients

release: v0.14 changelog
  CHANGELOG.md
Due: none

update release nr
  CHANGELOG.md
Due: none

release: v0.14.0 changelog (#1057)
  CHANGELOG.md
Due: none

openrpc discover method
  Makefile
  go.mod
  go.sum
  rpc/ethereum/namespaces/eth/api.go
  rpc/openrpc.go
  server/json_rpc.go
Due: clients

add ldflags
  Makefile
Due: none

fix linter
  rpc/openrpc.go
Due: clients

fix: update BaseFee JSON-RPC
  rpc/ethereum/backend/backend.go
  x/feemarket/keeper/eip1559.go
Due: modules, clients

typo
  rpc/ethereum/backend/backend.go
Due: clients

go mod tidy and linter fixes
  go.mod
  go.sum
  rpc/openrpc.go
Due: clients

refactor
  rpc/openrpc.go
Due: clients

docs: update EVM spec
  x/evm/spec/06_hooks.md
Due: modules

feat: use optimint v0.2.0
  go.mod
  go.sum
  server/start.go
  testutil/network/util.go
Due: none

fix: update BaseFee JSON-RPC (#1059)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  x/feemarket/keeper/eip1559.go
Due: modules, clients

update github actions to run evm simulation
  .github/workflows/test.yml
  Makefile
Due: none

AppStateFn -> StateFn
  app/utils_test.go
Due: app

add note
  app/utils.go
Due: app

add TestDecodeStore
  x/evm/simulation/decoder.go
  x/evm/simulation/decoder_test.go
Due: modules

use go install for runsim
  Makefile
Due: none

marshal int slice to json
  x/evm/simulation/params.go
Due: modules

add TestRandomizedGenState
  x/evm/simulation/genesis.go
  x/evm/simulation/genesis_test.go
Due: modules
