Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

imp(ante): refactor AnteHandler (#1479)
  app/ante/ante.go
  app/ante/eip712.go
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/fee_checker.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/fees_test.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/ante/reject_msgs.go
  app/ante/setup.go
  app/ante/setup_test.go
  app/ante/signverify_test.go
  app/ante/sigverify.go
  x/evm/handler_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/types/tx.go
Due: app, modules

(refactor): added correct amino codec for MsgUpdateParams and removed for MsgEthTx
  x/evm/module.go
  x/evm/types/codec.go
  x/evm/types/params.go
Due: modules

Applied changes from code review
  x/evm/exported/exported.go
  x/evm/genesis.go
  x/evm/keeper/migrations.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/params.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/module.go
  x/evm/types/codec.go
  x/evm/types/interfaces.go
  x/evm/types/msg.go
Due: modules

chore: Update linter and protogen configuration (#1478)
  .clang-format
  .github/workflows/super-linter.yml
  .markdownlint.yml
  .protolint.yml
  Makefile
  crypto/ethsecp256k1/keys.pb.go
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  proto/ethermint/types/v1/indexer.proto
  proto/ethermint/types/v1/web3.proto
  scripts/protocgen.sh
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
Due: none

(fix): removed unnecessary duplicate
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/key.go
Due: modules

(fix): removed params_legacy from the types and moved logic to migration
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/types/params_legacy.go
Due: modules

chore: verify fees refactor
  x/evm/keeper/utils.go
Due: modules

(fix): Added v4 mocks to the migrations_test
  x/evm/keeper/migrations_test.go
  x/evm/migrations/v4/migrate_test.go
Due: modules

(fix): undo all the non related work regarding the Cancun and Shanghai blocks
  app/ante/utils_test.go
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/keeper_test.go
  x/evm/migrations/v4/types/chain_config.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/types/chain_config.go
  x/evm/types/evm.pb.go
Due: app, modules

(fix): reverted linting the entire project - will make a separate PR for it
  client/docs/statik/statik.go
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/filters_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/params_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/feemarket/keeper/params_test.go
Due: modules, clients

fix(server): telemetry setup
  app/ante/eth.go
  server/start.go
Due: app

Applied changes from review
  x/evm/keeper/migrations.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/params_test.go
Due: modules

(fix): Delete deprecated migrations
  x/evm/keeper/migrations.go
  x/evm/keeper/migrations_test.go
  x/evm/migrations/v2/migrate.go
  x/evm/migrations/v2/migrate_test.go
  x/evm/migrations/v2/types/chain_config.go
  x/evm/migrations/v2/types/evm.pb.go
  x/evm/migrations/v2/types/params.go
  x/evm/migrations/v3/migrate.go
  x/evm/migrations/v3/migrate_test.go
  x/evm/migrations/v3/types/chain_config.go
  x/evm/migrations/v3/types/evm.pb.go
  x/evm/migrations/v3/types/params.go
  x/evm/module.go
Due: modules

more fixes
  server/start.go
Due: none

fix
  app/ante/eth.go
Due: app

changelog
  CHANGELOG.md
Due: none

update standalone process
  server/start.go
Due: none

Applied changes from code review
  CHANGELOG.md
  app/app.go
  proto/ethermint/evm/v1/tx.proto
  x/evm/handler.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
Due: app, modules

(refactor): Added Cancun and Shanghai blocks to ChainConfig
  app/ante/utils_test.go
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/keeper_test.go
  x/evm/types/chain_config.go
  x/evm/types/evm.pb.go
Due: app, modules

(tests): Added test for invalid Shanghai and Cancun block
  x/evm/types/chain_config_test.go
Due: modules

(fix): ran proto linter
  proto/ethermint/evm/v1/evm.proto
Due: none

fix(server): telemetry setup (#1497)
  CHANGELOG.md
  server/start.go
Due: none

Update x/evm/module.go
  x/evm/module.go
Due: modules

(fix): removed comments
  x/evm/types/tx.pb.go
Due: none

Applied changes from code review
  proto/ethermint/evm/v1/evm.proto
Due: none

Applied changes from code review
  x/evm/module.go
Due: modules

Added CHANGELOG entry
  CHANGELOG.md
Due: none

chore(evm) - Delete deprecated store migrations (#1498)
  CHANGELOG.md
  x/evm/keeper/migrations.go
  x/evm/keeper/migrations_test.go
  x/evm/migrations/v2/migrate.go
  x/evm/migrations/v2/migrate_test.go
  x/evm/migrations/v2/types/chain_config.go
  x/evm/migrations/v2/types/evm.pb.go
  x/evm/migrations/v2/types/params.go
  x/evm/migrations/v3/migrate.go
  x/evm/migrations/v3/migrate_test.go
  x/evm/migrations/v3/types/chain_config.go
  x/evm/migrations/v3/types/evm.pb.go
  x/evm/migrations/v3/types/params.go
  x/evm/module.go
Due: modules

adjust call structure in rest of repo after splitting up DeductTxCostsFromUserBalance
  app/ante/eth.go
  app/ante/interfaces.go
  x/evm/handler_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
Due: app, modules

fix(evm): Added Cancun and Shanghai blocks to ChainConfig (#1499)
  CHANGELOG.md
  app/ante/utils_test.go
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/keeper_test.go
  x/evm/types/chain_config.go
  x/evm/types/chain_config_test.go
  x/evm/types/evm.pb.go
Due: app, modules

(fix): Ran formatter and fixed linting issues on unsed functions
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/params_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/chain_config.go
  x/evm/module.go
  x/evm/types/interfaces.go
  x/evm/types/params.go
Due: modules

Revert "fix gas issue"
  types/block.go
Due: core

fix
  tests/integration_tests/test_gas.py
  tests/integration_tests/test_priority.py
  tests/integration_tests/utils.py
Due: none

merge main
  go.mod
  go.sum
  server/start.go
Due: none

(fix): Linting issues resolved
  proto/ethermint/evm/v1/tx.proto
Due: none

adjust test logic after splitting DeductTxCostsFromUserBalance up
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
Due: modules

remove outdated TODO
  x/evm/handler_test.go
Due: modules

rm prune all in indexer config
  tests/integration_tests/configs/enable-indexer.jsonnet
Due: none

add missing min_gas_multiplier
  tests/integration_tests/configs/cosmovisor.jsonnet
  tests/integration_tests/configs/enable-indexer.jsonnet
  tests/integration_tests/configs/pruned_node.jsonnet
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
