Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix gas test
  app/ante/eth_test.go
Due: app

undo param change
  app/benchmark_test.go
Due: app

adjust proto gen
  buf.work.yaml
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  third_party/proto/gogoproto/gogo.proto
  x/evm/types/evm.pb.go
Due: none

changing git config and adding tests
  scripts/start-geth.sh
  tests/integration_tests/test_setup.py
Due: none

fix pruning, rosetta
  init.sh
  server/start.go
  testutil/network/network.go
Due: none

removing print statements
  tests/integration_tests/test_setup.py
Due: none

fix module authorities
  app/app.go
Due: app

remove unneccessary imports
  tests/integration_tests/test_setup.py
Due: none

pruning
  testutil/network/network.go
Due: none

fix rpc tests
  rpc/backend/blocks.go
  rpc/backend/interfaces.go
  rpc/backend/mocks/client.go
  rpc/backend/tx_info.go
Due: clients

fix todo in feemarket
  x/feemarket/keeper/params.go
Due: modules

reduce diff size
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
Due: modules

Add EIP-712 encoding support type for any array (#1430)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
Due: app

fix flake
  tests/integration_tests/test_setup.py
Due: none

remove geth setup test
  tests/integration_tests/test_setup.py
Due: none

fix: extend geth config on integration tests (#1467)
  scripts/start-geth.sh
Due: none

fix import issues
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
Due: clients

fix tests
  rpc/backend/sign_tx_test.go
  rpc/backend/tx_info_test.go
Due: clients

tests: Add unit tests for rpc client endpoints (#1409)
  rpc/backend/account_info_test.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/feemarket_query_client_test.go
  rpc/backend/filters.go
  rpc/backend/filters_test.go
  rpc/backend/mocks/feemarket_query_client.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  rpc/backend/utils.go
Due: clients

fix nil pointer in tests
  go.mod
  go.sum
  x/evm/keeper/grpc_query_test.go
Due: modules

fix buf
  buf.work.yaml
Due: none

merge main
  rpc/backend/client_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
  x/evm/keeper/integration_test.go
Due: modules, clients

Refactor to omit empty optionals from EIP-712 type generation (#1459)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
Due: app

imp(evm): Migrate from old Cosmos SDK params module to new way of keeping params in module Keeper
  app/ante/eth.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/interfaces.go
  app/app.go
  proto/ethermint/evm/v1/tx.proto
  x/evm/exported/exported.go
  x/evm/genesis.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params.go
  x/evm/keeper/params_test.go
  x/evm/migrations/v2/migrate.go
  x/evm/migrations/v2/migrate_test.go
  x/evm/migrations/v3/migrate.go
  x/evm/migrations/v3/migrate_test.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/chain_config.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/key.go
  x/evm/migrations/v4/types/params.go
  x/evm/module.go
  x/evm/types/key.go
  x/evm/types/msg.go
  x/evm/types/params_test.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
Due: app, modules

imp(evm): Migrate from old Cosmos SDK params module to new way of keeping params in module Keeper
  CHANGELOG.md
  app/ante/eth.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/interfaces.go
  app/app.go
  proto/ethermint/evm/v1/tx.proto
  x/evm/exported/exported.go
  x/evm/genesis.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params.go
  x/evm/keeper/params_test.go
  x/evm/migrations/v2/migrate.go
  x/evm/migrations/v2/migrate_test.go
  x/evm/migrations/v3/migrate.go
  x/evm/migrations/v3/migrate_test.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/chain_config.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/key.go
  x/evm/migrations/v4/types/params.go
  x/evm/module.go
  x/evm/types/key.go
  x/evm/types/msg.go
  x/evm/types/params_test.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
Due: app, modules

Updated changelog
  CHANGELOG.md
Due: none

fix conflicts
  client/docs/swagger-ui/swagger.yaml
Due: clients

fix conflicts
  client/docs/statik/statik.go
Due: clients

Update proto make commands to use cosmos docker image and add notes for possible problems
  Makefile
Due: none

Apply make proto-all with new docker container
  crypto/ethsecp256k1/keys.pb.go
  proto/ethermint/evm/v1/evm.proto
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
Due: none

Remove stale DOCKER_BUF variable
  Makefile
Due: none

Revert to using the tendermintdev/sdk-proto-gen docker image
  Makefile
  crypto/ethsecp256k1/keys.pb.go
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
Due: none

chore (deps): Update geth version to v1.10.26
  go.mod
  go.sum
Due: none

remove '@' in proto-lint and proto-check-breaking for consistency with other commands
  Makefile
Due: none

chore (deps): Add changes in changelog file
  CHANGELOG.md
Due: none

chore (deps): Add more detail in changelog file
  CHANGELOG.md
Due: none

Remove unnecessary go get from protocgen.sh (only works after adding --network host to docker run)
  scripts/protocgen.sh
Due: none

Add --network host to docker run for compatibility on linux
  Makefile
Due: none

added gas consumption test
  tests/integration_tests/test_gas.py
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
