Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

(fix): Added name to unit test cases
  x/evm/keeper/msg_server_test.go
Due: modules

(fix): removed unused import
  rpc/backend/backend_suite_test.go
Due: clients

changelog
  CHANGELOG.md
  app/app.go
Due: app

fix: improve error handling for EIP-712 encoding config init (#1543)
  CHANGELOG.md
  app/app.go
  ethereum/eip712/encoding.go
Due: app

chore(release): v0.20-rc4 (#1546)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-links.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/test.yml
  CHANGELOG.md
  app/ante/utils_test.go
  app/app.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
  go.mod
  go.sum
  gomod2nix.toml
  tests/integration_tests/poetry.lock
  tests/integration_tests/test_gas.py
  tests/integration_tests/test_grpc_only.py
  tests/solidity/yarn.lock
  x/feemarket/spec/01_concepts.md
Due: app, modules, core

(fix): replace error returning with error logging.
  x/evm/keeper/msg_server.go
Due: modules

Apply changes from code review
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/params.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/params.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
Due: modules

(fix): typo
  x/evm/migrations/v4/migrate.go
Due: modules

Apply suggestions from code review
  proto/ethermint/feemarket/v1/tx.proto
  x/feemarket/genesis.go
  x/feemarket/keeper/msg_server.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/module.go
  x/feemarket/types/msg.go
Due: modules

(fix): remove HTTP endpoint exposure
  proto/ethermint/evm/v1/tx.proto
Due: none

(fix): remove HTTP endpoint exposure
  proto/ethermint/feemarket/v1/tx.proto
Due: none

fix: linter and formatter
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/params_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/feemarket/keeper/abci.go
Due: modules

Apply suggestions from code review
  proto/ethermint/feemarket/v1/tx.proto
  x/feemarket/keeper/params.go
  x/feemarket/types/codec.go
Due: modules

fix: Apply changes from code review and run linter
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/tx.proto
  x/feemarket/types/params.go
  x/feemarket/types/tx.pb.go
Due: modules

debug(app): add flag to disable optimized build for remote debugging
  Makefile
Due: none

fix: update Ledger default algorithm to `EthSecp256k1`
  client/keys/add.go
Due: clients

Update x/feemarket/keeper/params.go
  x/feemarket/keeper/params.go
Due: modules

fix: use actual result when unmarshaling value
  x/evm/handler_test.go
Due: modules

add test script
  tests/escan/contracts/WETH.sol
  tests/escan/env.sh
  tests/escan/init-test-node.sh
  tests/escan/package-lock.json
  tests/escan/package.json
  tests/escan/start-test-node.sh
  tests/escan/test.sh
  tests/escan/test.ts
  tests/escan/tsconfig.json
Due: none

fix: use actual result when unmarshaling value (#1555)
  x/evm/handler_test.go
Due: modules

Apply suggestions from code review
  x/evm/keeper/params.go
  x/evm/types/msg.go
Due: modules

rm comments from geth files
  app/ante/doc.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/trace_fallback.go
  x/evm/statedb/access_list.go
  x/evm/statedb/journal.go
Due: app, modules, clients

fixes
  rpc/apis.go
  rpc/doc.go
  rpc/namespaces/ethereum/eth/filters/api.go
  testutil/network/network.go
  types/errors.go
  x/evm/types/tx_args.go
  x/evm/vm/geth/geth.go
Due: modules, core, clients

add python and javascript to codeql analysis
  .github/workflows/codeql-analysis.yml
Due: none

patch gas used api for block less than upgrade height
  rpc/backend/tx_info.go
Due: clients

configurable fix-revert-gas-refund-height
  CHANGELOG.md
  rpc/backend/tx_info.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  tests/integration_tests/configs/default.jsonnet
Due: clients

add test
  rpc/backend/tx_info_test.go
Due: clients

Problem: personal_newAccount don't work
  rpc/backend/node_info.go
Due: clients

applied changes from code review
  app/app.go
  rpc/backend/backend_suite_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/msg_server_test.go
Due: app, modules, clients

Update x/feemarket/types/msg.go
  x/feemarket/types/msg.go
Due: modules

tests: added tests for msg_server and msg
  app/app.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/msg_server.go
  x/feemarket/keeper/msg_server_test.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/types/msg.go
  x/feemarket/types/msg_test.go
Due: app, modules

tests: add failing test for migration
  x/feemarket/keeper/params.go
  x/feemarket/migrations/v4/migrate_test.go
Due: modules

make missing key error message during SendTransaction more verbose
  rpc/backend/sign_tx.go
Due: clients

make missing key error message during SendTransaction more verbose (#1563)
  rpc/backend/sign_tx.go
Due: clients

fix: handle error by logging it
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/feemarket/keeper/abci.go
Due: modules

fix: ran formatter and linter
  x/feemarket/keeper/abci.go
Due: modules

debug(app): add flag to disable optimized build for remote debugging (#1549)
  Makefile
Due: none

fix(abci): fix reCheckTx gas wanted'
  app/ante/eth.go
Due: app
