Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

modifying x/evm/types tests v1
  x/evm/types/access_list_tx_test.go
  x/evm/types/chain_config_test.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/genesis_test.go
  x/evm/types/legacy_tx_test.go
  x/evm/types/logs_test.go
Due: modules

add EthBlockFromTendermintBlock test
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
Due: clients

chore: Gofumpt (#1298)
  .golangci.yml
  CHANGELOG.md
  app/ante/eip712.go
  app/ante/eth.go
  app/ante/fees.go
  app/app.go
  app/utils.go
  client/keys/add.go
  client/testnet.go
  ethereum/eip712/eip712.go
  indexer/kv_indexer_test.go
  rpc/apis.go
  rpc/backend/account_info.go
  rpc/backend/call_tx.go
  rpc/backend/node_info.go
  rpc/backend/tracing.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
  server/util.go
  tests/importer/chain_ctx.go
  tests/importer/importer_test.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/utils.go
  types/chain_id.go
  x/evm/client/cli/query.go
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/utils.go
  x/evm/simulation/operations.go
  x/evm/types/tracer.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/simulation/genesis.go
Due: app, modules, core, clients

add TestEthBlockByNumber tests
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
Due: clients

draft ADR-003 Contract Storage Backends
  docs/architecture/adr-003-contract-storage-backends.md
Due: none

Update adr-003-contract-storage-backends.md
  docs/architecture/adr-003-contract-storage-backends.md
Due: none

fixes for 19.0.1
  ethereum/eip712/eip712.go
Due: none

changelog
  CHANGELOG.md
Due: none

fixes for 19.0.1 (#1305)
  CHANGELOG.md
  ethereum/eip712/eip712.go
Due: none

update changelog
  CHANGELOG.md
  ethereum/eip712/eip712.go
Due: none

fixes for 19.0.1 (#1305) (#1306)
  CHANGELOG.md
  ethereum/eip712/eip712.go
Due: none

Add command to generate eip712 type data for msg
  CHANGELOG.md
  client/eip712.go
  client/eip712/data_type.go
  client/flags/flags.go
  cmd/ethermintd/root.go
  ethereum/eip712/eip712.go
Due: clients

Apply suggestions from code review
  CHANGELOG.md
  client/eip712.go
  client/eip712/data_type.go
Due: clients

extractMsgTypes reflect element of empty list
  ethereum/eip712/eip712.go
Due: none

add comments and long description
  client/eip712.go
  client/eip712/data_type.go
Due: clients

return better error
  client/eip712/data_type.go
  ethereum/eip712/eip712.go
Due: clients

fix gomod2nix
  gomod2nix.toml
Due: none

remove pingpong keep config
  rpc/websockets.go
Due: clients

update gomod2nix
  gomod2nix.toml
Due: none

return error instead of panic
  rpc/backend/backend.go
  rpc/backend/node_info.go
  server/config/config.go
  server/start.go
Due: clients

add Changelog
  CHANGELOG.md
Due: none

sdk v0.45.8, tendermint v0.34.21, iavl v0.19.1 & store options (#1301)
  CHANGELOG.md
  go.mod
  go.sum
  gomod2nix.toml
  rpc/backend/backend.go
  rpc/backend/node_info.go
  server/config/config.go
  server/indexer_cmd.go
  server/start.go
Due: clients

update release date
  CHANGELOG.md
Due: none

update release date (#1309)
  CHANGELOG.md
Due: none

test the fixed rollback cmd
  go.mod
  go.sum
  gomod2nix.toml
  server/util.go
  tests/integration_tests/configs/broken-ethermintd.nix
  tests/integration_tests/configs/broken-ethermintd.patch
  tests/integration_tests/configs/rollback-test.jsonnet
  tests/integration_tests/network.py
  tests/integration_tests/test_rollback.py
Due: none

Apply suggestions from code review
  tests/integration_tests/configs/broken-ethermintd.nix
  tests/integration_tests/configs/rollback-test.jsonnet
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/test_rollback.py
  tests/integration_tests/utils.py
Due: none

make integration tests run faster
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/configs/longer_timeout_commit.jsonnet
  tests/integration_tests/conftest.py
  tests/integration_tests/test_priority.py
Due: none

wait for the first block
  tests/integration_tests/test_priority.py
Due: none

Create ReformatLedgerTx to reformat EIP-712 payloads
  ethereum/eip712/ledgerReformat.go
Due: none

Fix issue with public key; minor refactors
  ethereum/eip712/ledgerPreprocess.go
Due: none

modifying x/evm/types tests v2
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/logs_test.go
  x/evm/types/tx_args_test.go
  x/evm/types/utils_test.go
Due: modules

modifying x/evm/types test v3
  x/evm/types/tx_args_test.go
Due: modules

Refactor naming; add test case
  ethereum/eip712/preprocess.go
  ethereum/eip712/preprocess_test.go
Due: none

upstream merged
  go.mod
  go.sum
  gomod2nix.toml
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
