Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

go mod tidy
  go.mod
  go.sum
Due: none

update gomod2nix
  gomod2nix.toml
Due: none

[issue-1018] add more new tests on evm module keeper (state_transition, statedb, utils)
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
Due: modules

feat: format protobuf files (#1395)
  go.mod
  go.sum
  gomod2nix.toml
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  proto/ethermint/types/v1/indexer.proto
  proto/ethermint/types/v1/web3.proto
Due: none

[issue-1018] add more new tests on evm module keeper (msg_server)
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
Due: modules

[issue-1018] fix code style
  x/evm/keeper/msg_server_test.go
Due: modules

[issue-1018] add changes in CHANGELOG
  CHANGELOG.md
Due: none

[issue-1018] add missing error check in grpc_query_test
  x/evm/keeper/grpc_query_test.go
Due: modules

[issue-1018] fix failing tests
  x/evm/keeper/grpc_query_test.go
Due: modules

Debug and add ante tests
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
Due: app

refine GetProposerAddress with test
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
Due: modules

include ProposerAddress for trace api
  rpc/backend/tracing.go
Due: clients

fix eth call req
  rpc/backend/call_tx.go
Due: clients

wrap proposerAddress for eth call
  x/evm/keeper/grpc_query.go
Due: modules

[issue-1018] add changes based on review comments (grpc_query_test & abci_test)
  x/evm/keeper/abci_test.go
  x/evm/keeper/grpc_query_test.go
Due: modules

[issue-1018] add GenerateAddress in TestEthCall (grpc_query_test)
  x/evm/keeper/grpc_query_test.go
Due: modules

[issue-1018] remove unnecessary SetupTest calls
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
Due: modules

[issue-1018] refactor SetupTest calls (grpc_query_test & statedb_test)
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/statedb_test.go
Due: modules

allow proto translates to sdk.ConsAddress
  proto/ethermint/evm/v1/query.proto
  rpc/backend/call_tx.go
  rpc/backend/tracing.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/query.pb.go
Due: modules, clients

ime(evm): improve code coverage for EVM keeper (#1396)
  CHANGELOG.md
  x/evm/keeper/abci_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
Due: modules

Update rpc/backend/call_tx.go
  rpc/backend/call_tx.go
Due: clients

Add tests for failure cases
  app/ante/ante_test.go
Due: app

Add changelog entry
  CHANGELOG.md
Due: none

fix(evm,rpc): coinbase should not be the current one in traceTransaction execution (#1392)
  CHANGELOG.md
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  rpc/backend/call_tx.go
  rpc/backend/tracing.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/query.pb.go
Due: modules, clients

add chainId to getTransaction. fix types comparison. update expected values on tests
  go.mod
  go.sum
  gomod2nix.toml
  nix/go-ethereum.nix
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/sign_tx.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/utils.go
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_types.py
Due: clients

Code cleanup
  app/ante/utils_test.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
Due: app

setup stateful
  x/evm/keeper/keeper.go
  x/evm/statedb/statedb.go
  x/evm/vm/geth/geth.go
  x/evm/vm/interface.go
Due: modules

add custom precompiles to active set
  x/evm/vm/geth/geth.go
Due: modules

fix active precomp func
  x/evm/vm/geth/geth.go
Due: modules

pass in precompiles to evm by pointer
  x/evm/keeper/state_transition.go
  x/evm/vm/geth/geth.go
  x/evm/vm/interface.go
Due: modules

wip: ICS20 precompile
  x/evm/statedb/interfaces.go
  x/evm/statedb/statedb.go
  x/evm/vm/ethermint/evm.go
  x/evm/vm/ethermint/journal_entries.go
  x/evm/vm/ethermint/precompiles.go
  x/evm/vm/interface.go
Due: modules

Add tests for MsgDelegate and MsgWithdrawDelegationReward
  ethereum/eip712/eip712_test.go
Due: none

Update ethereum/eip712/encoding.go
  ethereum/eip712/encoding.go
Due: none
