Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

ante: EIP712 support (#950)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/ante_test.go
  app/ante/eip712.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
  go.mod
  go.sum
  rpc/ethereum/namespaces/eth/api.go
Due: app, clients

Initial Optimint integration
  go.mod
  go.sum
  server/start.go
Due: none

Update Optimint (Block RPC version)
  go.mod
  go.sum
Due: none

update dependencies
  go.mod
  go.sum
Due: none

update optimint dependency
  go.mod
  go.sum
Due: none

use jbowen93 fork of optimint
  go.mod
  go.sum
Due: none

add printf debug logs
  go.mod
  rpc/ethereum/backend/backend.go
Due: clients

comment out coinbase
  x/evm/keeper/state_transition.go
Due: modules

handle error in rootcmd flags
  cmd/ethermintd/root.go
  go.mod
  go.sum
Due: none

fix imports
  go.mod
  go.sum
  rpc/ethereum/backend/backend.go
Due: clients

basic fuzzing config
  fuzzbuzz.yaml
  testutil/network/networkfuzz_test.go
Due: none

add returnValue message on tracing
  x/evm/keeper/grpc_query.go
  x/evm/types/tx.go
Due: modules

comment out RPC call to get Validator
  rpc/ethereum/backend/backend.go
Due: clients

Update x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query.go
Due: modules

changelog 2
  CHANGELOG.md
Due: none

test fix
  x/evm/keeper/grpc_query_test.go
Due: modules

evm: add returnValue message on tracing (#962)
  CHANGELOG.md
  go.sum
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/tx.go
Due: modules

Tests - check gas meter limit after EthGasConsumeDecorator ante handler runs
  app/ante/eth.go
  app/ante/eth_test.go
Due: app

Fix GasMeter reset in AnteHandler - EthGasConsumeDecorator
  app/ante/eth.go
Due: app

Compute gasWanted in ante handler based on msg gas
  app/ante/eth.go
Due: app

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Problem: Metamask keeps failing sending transactions
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
Due: clients

changelog
  CHANGELOG.md
Due: none

eth_feeHistory reward values cannot be nil
  rpc/ethereum/backend/feebackend.go
Due: clients

fix typo
  rpc/ethereum/backend/backend.go
Due: clients

EthGasConsumeDecorator ante handler resets the gas meter only for CheckTx
  app/ante/eth.go
Due: app

fix: Metamask keeps failing sending transactions (#968)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
Due: clients

removed reward when rewardPercentiles is not specified
  rpc/ethereum/backend/feebackend.go
Due: clients

fix lint
  rpc/ethereum/backend/feebackend.go
Due: clients

refactor and fix typos
  rpc/ethereum/backend/feebackend.go
Due: clients

add changelog
  CHANGELOG.md
Due: none

fix: `eth_feeHistory` reward values cannot be nil (#970)
  CHANGELOG.md
  rpc/ethereum/backend/feebackend.go
Due: clients

Reset the gas meter in Keeper.EthereumTx to an infinite gas meter
  app/ante/eth.go
  x/evm/keeper/msg_server.go
Due: app, modules

Fix TestOutOfGasWhenDeployContract error check
  x/evm/handler_test.go
  x/evm/keeper/state_transition.go
Due: modules

release: v0.10.1 changelog (#971)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/goreleaser.yml
  .github/workflows/labeler.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/test.yml
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/feebackend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/tx.go
Due: modules, clients

release: changelog
  CHANGELOG.md
Due: none

release: changelog (#972)
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
