Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

Add AccessList tests
  x/evm/types/access_list_test.go
Due: modules

updates
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/personal/api.go
  rpc/ethereum/types/types.go
Due: clients

suggestGasTipCap
  rpc/ethereum/backend/backend.go
Due: clients

update gRPC
  client/docs/statik/statik.go
  go.mod
  go.sum
  proto/ethermint/feemarket/v1/query.proto
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  x/feemarket/keeper/grpc_query.go
  x/feemarket/types/query.pb.go
Due: modules, clients

resend
  rpc/ethereum/namespaces/eth/api.go
  x/evm/types/tx_args.go
Due: modules, clients

Problem: deep context stack efficienty is not benchmarked
  x/evm/keeper/benchmark_test.go
Due: modules

Update x/evm/keeper/benchmark_test.go
  x/evm/keeper/benchmark_test.go
Due: modules

prefix storage is irrelevant
  x/evm/keeper/benchmark_test.go
Due: modules

add comment to state_transition.go
  x/evm/keeper/state_transition.go
Due: modules

ADD validation
  server/start.go
Due: none

Add chain Config (fork order)
  x/evm/types/chain_config_test.go
Due: modules

fixes
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
Due: clients

rm unused func
  rpc/ethereum/types/utils.go
  x/evm/client/rest/rest.go
Due: modules, clients

address TODO
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
Due: clients

rpc: geth v1.10.9 changes (#624)
  CHANGELOG.md
  client/docs/statik/statik.go
  go.mod
  go.sum
  proto/ethermint/feemarket/v1/query.proto
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/namespaces/personal/api.go
  rpc/ethereum/types/types.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  x/evm/client/rest/rest.go
  x/evm/types/tx_args.go
  x/feemarket/keeper/grpc_query.go
  x/feemarket/types/query.pb.go
Due: modules, clients

evm: add benchmark for deep context stack (#627)
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/state_transition.go
Due: modules

rpc: support personal apis with different keyring backends (#591)
  server/start.go
Due: none

Add invalid genesis account test
  x/evm/types/genesis_test.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

Change fromBlock to 1 (TEMP, Reverse Required)
  tests/solidity/suites/basic/test/counter.js
Due: none

Add params tests
  x/evm/types/params_test.go
Due: modules

fix panic
  rpc/ethereum/backend/backend.go
  x/evm/types/dynamic_fee_tx.go
Due: modules, clients

rpc: fix panic (#630)
  rpc/ethereum/backend/backend.go
  x/evm/types/dynamic_fee_tx.go
Due: modules, clients

Add WIP tracer test
  x/evm/types/tracer_test.go
Due: modules

docs: fix broken links in markdown files
  docs/architecture/PROCESS.md
  docs/architecture/adr-002-evm-hooks.md
Due: none

docs: fix broken links in markdown files (#631)
  docs/architecture/PROCESS.md
  docs/architecture/adr-002-evm-hooks.md
Due: none

fix range filter fromBlock logic
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/filters/filters.go
Due: clients

rpc: fix range filter fromBlock logic (#643)
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/filters/filters.go
Due: clients

deps: enforce iavl version
  go.mod
  go.sum
Due: none

deps: enforce iavl version (#644)
  go.mod
  go.sum
Due: none

docs: v0.6.0 changelog (#605) (#606)
  .github/CODEOWNERS
  CHANGELOG.md
Due: none

cmd: use config on genaccounts (#483)
  CHANGELOG.md
  cmd/ethermintd/genaccounts.go
Due: none

rpc: fix panic (#611)
  CHANGELOG.md
  ethereum/rpc/backend/backend.go
Due: none

rpc: restructure JSON-RPC directory and rename server config (#612)
  CHANGELOG.md
  go.sum
  rpc/apis.go
  rpc/doc.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  rpc/ethereum/namespaces/debug/trace_fallback.go
  rpc/ethereum/namespaces/debug/utils.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/namespaces/eth/filters/filter_system.go
  rpc/ethereum/namespaces/eth/filters/filters.go
  rpc/ethereum/namespaces/eth/filters/subscription.go
  rpc/ethereum/namespaces/eth/filters/utils.go
  rpc/ethereum/namespaces/miner/api.go
  rpc/ethereum/namespaces/miner/unsupported.go
  rpc/ethereum/namespaces/net/api.go
  rpc/ethereum/namespaces/personal/api.go
  rpc/ethereum/namespaces/txpool/api.go
  rpc/ethereum/namespaces/web3/api.go
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
  rpc/ethereum/types/addrlock.go
  rpc/ethereum/types/block.go
  rpc/ethereum/types/block_test.go
  rpc/ethereum/types/query_client.go
  rpc/ethereum/types/types.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  server/json_rpc.go
  server/start.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  testutil/network/util.go
  x/evm/client/cli/query.go
  x/evm/client/rest/rest.go
Due: modules, clients

evm: refactor `traceTx` (#613)
  CHANGELOG.md
  x/evm/keeper/grpc_query.go
Due: modules

deps: bump IBC-go (#621)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

evm, rpc: fix tx log attribute value is not parsable by some client (#615)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  x/evm/keeper/msg_server.go
Due: modules, clients

evm: fix iterator on deeply nested cache contexts (#617)
  CHANGELOG.md
  x/evm/keeper/context_stack.go
  x/evm/keeper/state_transition.go
Due: modules

conflicts
  go.mod
  go.sum
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
