Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

align with eth_getProof
  rpc/backend/account_info.go
Due: clients

add GetHexProofs
  rpc/backend/account_info.go
  rpc/backend/account_info_test.go
Due: clients

add change doc
  CHANGELOG.md
Due: none

keep default res
  rpc/backend/account_info.go
  rpc/backend/account_info_test.go
Due: clients

fix lint
  rpc/backend/account_info.go
Due: clients

precompile setup
  x/evm/vm/ethermint/precompiles.go
  x/evm/vm/ethermint/precompiles/ics20.go
  x/evm/vm/ethermint/precompiles/journal_entries.go
  x/evm/vm/ethermint/precompiles/staking.go
Due: modules

add e2e test
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_types.py
Due: none

Apply suggestions from code review
  rpc/backend/account_info.go
  rpc/backend/account_info_test.go
  rpc/backend/utils.go
  rpc/backend/utils_test.go
Due: clients

tests: added helper function to test suite for signing a Tx and bumped coverage of tx_info to 71.2%
  rpc/backend/backend_suite_test.go
  rpc/backend/tx_info_test.go
Due: clients

fix lint
  rpc/backend/utils_test.go
  tests/integration_tests/expected_constants.py
Due: clients

nix run -f ./nix gomod2nix
  gomod2nix.toml
Due: none

Add sdk.Context and vm.EVM to precompiles
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/vm/geth/geth.go
  x/evm/vm/interface.go
Due: app, modules

fix(rpc): different result from `eth_getProof` comparing with Ethereum (#1431)
  CHANGELOG.md
  gomod2nix.toml
  rpc/backend/account_info.go
  rpc/backend/utils.go
  rpc/backend/utils_test.go
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_types.py
Due: clients

move go-ethereum imports above blank imports
  app/app.go
Due: app

remove outdated todo
  x/evm/vm/geth/geth.go
Due: modules

fix
  x/evm/vm/ethermint/precompiles/ics20.go
Due: modules

Refactor EIP-712 signature verification (#1397)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/utils_test.go
  cmd/ethermintd/root.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
  types/validation_test.go
Due: app, core

fix build test on mac by update to python3.10
  nix/default.nix
  nix/sources.json
  nix/testenv.nix
  tests/integration_tests/poetry.lock
  tests/integration_tests/pyproject.toml
  tests/integration_tests/test_filters.py
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/utils.py
Due: none

fix unstable tx_priority test
  tests/integration_tests/test_priority.py
Due: none

Update tests/integration_tests/test_priority.py
  tests/integration_tests/test_priority.py
Due: none

fix: non-deterministic evm execution result
  CHANGELOG.md
  go.mod
  go.sum
  gomod2nix.toml
  x/evm/keeper/grpc_query.go
  x/feemarket/migrations/v010/types/params.go
  x/feemarket/types/params.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix(rpc): decode 'finalized' block number
  rpc/types/block.go
Due: clients

imp(evm): improve performance of EstimateGas
  x/evm/keeper/grpc_query.go
Due: modules

changelog
  CHANGELOG.md
Due: none

fix: build test on mac by updating to python3.10 (#1437)
  nix/default.nix
  nix/sources.json
  nix/testenv.nix
  tests/integration_tests/poetry.lock
  tests/integration_tests/pyproject.toml
  tests/integration_tests/test_filters.py
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/utils.py
Due: none

test: commented GetAccount error case and bumped chain_info to 90.3% coverage
  rpc/backend/account_info_test.go
  rpc/backend/chain_info_test.go
Due: clients

imp(evm): improve performance of EstimateGas (#1444)
  CHANGELOG.md
  x/evm/keeper/grpc_query.go
Due: modules

fix(ante): block gas check
  app/ante/eth.go
Due: app

refactor
  app/ante/eth.go
Due: app

rename
  app/ante/eth.go
Due: app

enable fixIssue172 flag for test
  crypto/hd/algorithm_test.go
Due: core

fix(rpc): decode `finalized` block number (#1442)
  CHANGELOG.md
  rpc/types/block.go
Due: clients

fix import
  crypto/hd/algorithm_test.go
Due: core

Apply suggestions from code review
  crypto/hd/algorithm_test.go
Due: core

fix: unstable tx_priority test (#1440)
  tests/integration_tests/test_priority.py
Due: none

use gas wanted
  app/ante/eth.go
Due: app

test --grpc-only mode in integration tests
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  rpc/backend/call_tx.go
  rpc/backend/tracing.go
  tests/integration_tests/contracts/contracts/ChainID.sol
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/test_grpc_only.py
  tests/integration_tests/utils.py
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
Due: modules, clients
