Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

specs(evm): little fixes
  x/evm/spec/01_concepts.md
Due: modules

fix typo
  x/evm/spec/01_concepts.md
Due: modules

add CHANGELOG
  CHANGELOG.md
Due: none

specs(evm): Add concepts (#1095)
  CHANGELOG.md
  x/evm/spec/01_concepts.md
Due: modules

update to use optimint v0.3.0
  go.mod
  go.sum
Due: none

try with new ephemeral cluster
  .github/workflows/docker-build-test.yml
Due: none

update test script
  .github/workflows/docker-build-test.yml
Due: none

avoid pending tx get confirmed when sleep
  tests/rpc/rpc_pending_test.go
  tests/rpc/utils.go
Due: none

fix install-tparse which need go >= 1.18
  .github/workflows/test.yml
Due: none

Revert "fix install-tparse which need go >= 1.18"
  .github/workflows/test.yml
Due: none

remove diff check
  .github/workflows/semgrep.yml
Due: none

impr(evm): add tx_type, gas and counter telemetry for ethereum txs
  go.mod
  x/evm/keeper/msg_server.go
Due: modules

impr(evm): Add CHANGELOG
  CHANGELOG.md
Due: none

update to go 1.18
  .github/workflows/test.yml
Due: none

remove semgrep gh action
  .github/workflows/semgrep.yml
Due: none

go get to go install
  .github/workflows/test.yml
Due: none

try 1.17 for non tparse
  .github/workflows/test.yml
Due: none

Add min_gas_price to feemarket params
  docs/api/proto-docs.md
  proto/ethermint/feemarket/v1/feemarket.proto
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
Due: modules

Add MinGasPriceDecorators
  app/ante/fees.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  x/feemarket/simulation/genesis.go
Due: app, modules

feemarket integration tests for MinGasPrice
  app/ante/fees_test.go
  app/ante/utils_test.go
  go.mod
  go.sum
  tests/e2e/integration_test.go
  testutil/fund.go
  tools/tools.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
Due: app, modules

bump
  go.mod
  go.sum
  x/evm/types/tracer.go
Due: modules

impr(evm): add tx_type, gas and counter telemetry for ethereum txs (#1101)
  CHANGELOG.md
  go.mod
  x/evm/keeper/msg_server.go
Due: modules

Restructure integration tests
  x/feemarket/keeper/integration_test.go
Due: modules

Simplify integration tests context
  x/feemarket/keeper/integration_test.go
Due: modules

Update MinGasPrice spec in feemarket module
  x/feemarket/spec/01_concepts.md
  x/feemarket/spec/07_params.md
  x/feemarket/spec/09_antehandlers.md
  x/feemarket/spec/10_future_improvements.md
Due: modules

reorder ethermint module order for initializing genesis
  app/app.go
Due: app

feemarket migrations for adding MinGasPrice param
  x/feemarket/keeper/migrations.go
  x/feemarket/migrations/v010/migrate.go
  x/feemarket/migrations/v010/types/feemarket.pb.go
  x/feemarket/migrations/v010/types/genesis.pb.go
  x/feemarket/migrations/v010/types/params.go
  x/feemarket/migrations/v011/migrate.go
  x/feemarket/migrations/v011/migrate_test.go
  x/feemarket/module.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

Additional unit tests for MinGasPrice = 0, tx gas price > 0 (PR review)
  app/ante/fees_test.go
Due: app

Use 0 MinGasPrice for transaction simulations
  x/feemarket/simulation/genesis.go
Due: modules

add unit tests for events
  rpc/types/events_test.go
Due: clients

fix(rpc): avoid sleep with pending txs tests(#1098)
  tests/rpc/rpc_pending_test.go
  tests/rpc/utils.go
Due: none

Update rpc/types/events.go
  rpc/types/events.go
Due: clients

update comments
  rpc/types/events.go
Due: clients

refactoring
  rpc/types/events.go
Due: clients

Update rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

fix lint
  rpc/types/events.go
Due: clients

Apply suggestions from code review
  rpc/types/events.go
Due: clients

fix(rpc, ante): Emit Ethereum tx hash in `AnteHandler` to support query failed transactions (#1062)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  go.mod
  go.sum
  rpc/backend/evm_backend.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/events.go
  rpc/types/events_test.go
  rpc/types/utils.go
  server/util.go
Due: app, clients

Fix duplicate registration of feemarket GenesisState and Params (PR review)
  x/feemarket/migrations/v010/types/feemarket.pb.go
  x/feemarket/migrations/v010/types/genesis.pb.go
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
