Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

fix dependency
  go.mod
  go.sum
  gomod2nix.toml
Due: none

update nix
  gomod2nix.toml
Due: none

avoid channel get changed when concurrent subscribe happens
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: clients

add test
  rpc/namespaces/ethereum/eth/filters/filter_system_test.go
Due: clients

add change doc
  CHANGELOG.md
Due: none

fix decode logs in ws
  rpc/websockets.go
Due: clients

add test
  tests/integration_tests/hardhat/contracts/TestMessageCall.sol
  tests/integration_tests/test_websockets.py
  tests/integration_tests/utils.py
Due: none

decode in single loop
  rpc/websockets.go
  x/evm/types/utils.go
Due: modules, clients

reset max-tx-gas-wanted
  tests/integration_tests/network.py
  tests/integration_tests/test_websockets.py
  tests/integration_tests/utils.py
Due: none

add ci timeout
  .github/workflows/test.yml
Due: none

Update tests/integration_tests/test_websockets.py
  tests/integration_tests/test_websockets.py
Due: none

fix rest filter api
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/websockets.go
  x/evm/types/utils.go
Due: modules, clients

algo -> key-type
  client/keys.go
  client/keys/add.go
  client/testnet.go
Due: clients

set mempool
  app/app.go
Due: app

set chainId
  app/app.go
Due: app

update protobuf
  CONTRIBUTING.md
  go.mod
  go.sum
  gomod2nix.toml
  proto/buf.gen.gogo.yaml
  proto/buf.gen.swagger.yaml
  proto/ethermint/types/v1/account.proto
  scripts/protocgen.sh
  types/account.pb.go
  x/evm/types/codec.go
  x/evm/types/query.pb.go
  x/evm/types/utils_test.go
Due: modules

test batch tx with exist sc
  tests/integration_tests/hardhat/contracts/TestMessageCall.sol
  tests/integration_tests/test_websockets.py
  tests/integration_tests/utils.py
Due: none

fix import
  app/ante/authz_test.go
  testutil/abci.go
Due: app

fix test
  ethereum/eip712/eip712_fuzzer_test.go
  ethereum/eip712/eip712_test.go
  go.mod
  go.sum
Due: none

debug test
  app/ante/authz_test.go
  app/app.go
Due: app

fix btcsuite
  go.mod
  go.sum
  gomod2nix.toml
Due: none

make proto-gen follow by UPGRADING.md
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  scripts/protocgen.sh
  x/evm/handler_test.go
  x/evm/types/utils.go
Due: modules, clients

fix sync issue with latest blk
  go.mod
  go.sum
  gomod2nix.toml
Due: none

disable depguard
  .golangci.yml
Due: none

gogo/protobuf -> cosmos/gogoproto
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/types/evm.pb.go
  x/feemarket/migrations/v4/types/feemarket.pb.go
Due: none

no pass chain_id after setup
  app/app.go
  app/app_test.go
  app/benchmark_test.go
  app/utils.go
  cmd/ethermintd/root.go
  tests/integration_tests/test_grpc_only.py
  testutil/network/network.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/integration_test.go
Due: app, modules

fix lint
  app/app.go
  testutil/abci.go
  x/feemarket/module.go
Due: app, modules

fix err msg due to empty version check fix
  tests/integration_tests/test_pruned_node.py
Due: none

add the crisis store in store upgrades
  app/upgrades.go
Due: app

fix lint
  proto/buf.gen.swagger.yaml
Due: none

add consensus upgrade
  app/upgrades.go
Due: app

migrate consensus parameters
  app/upgrades.go
Due: app

fix lint
  app/upgrades.go
Due: app

allow flag overwrite chainId
  app/benchmark_test.go
  cmd/ethermintd/root.go
  server/flags/flags.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/integration_test.go
Due: app, modules

fix ConsensusParams
  app/app.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/keeper.go
Due: app, modules
