Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

Update proto/ethermint/evm/v1/tx.proto
  proto/ethermint/evm/v1/tx.proto
Due: none

Update proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/query.proto
Due: none

check tx index is not out of bound
  rpc/ethereum/namespaces/debug/api.go
Due: clients

fix build
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/query.proto
  rpc/ethereum/namespaces/debug/api.go
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
Due: modules, clients

Update rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/api.go
Due: clients

remove prealloc
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/tx.proto
  rpc/ethereum/namespaces/debug/api.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
Due: clients

Problem: need to add rpc endpoint personal_unpair
  rpc/ethereum/namespaces/personal/api.go
  tests/rpc/personal_test.go
Due: clients

add traceBlock test
  go.mod
  go.sum
  rpc/ethereum/namespaces/debug/api.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
Due: modules, clients

Update x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query.go
Due: modules

use bytes2Hex
  rpc/ethereum/namespaces/debug/api.go
Due: clients

fix error message
  x/evm/keeper/grpc_query.go
Due: modules

add comment
  x/evm/keeper/grpc_query.go
Due: modules

Apply suggestions from code review
  rpc/ethereum/namespaces/debug/api.go
Due: clients

Update rpc/ethereum/namespaces/personal/api.go
  rpc/ethereum/namespaces/personal/api.go
Due: clients

rpc: `debug_traceTransaction` fails for succesful tx (#720)
  CHANGELOG.md
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  rpc/ethereum/namespaces/debug/api.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/query.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
Due: modules, clients

Update README.md
  README.md
Due: none

Update README.md (#736)
  README.md
Due: none

deps: bump IBC-go to v2
  go.mod
  go.sum
Due: none

c++
  CHANGELOG.md
Due: none

deps: bump IBC-go to v2 (#737)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

add changelog entry and use errors.Is
  CHANGELOG.md
  tests/rpc/personal_test.go
Due: none

rpc: `personal_unpair` (#733)
  CHANGELOG.md
  rpc/ethereum/namespaces/personal/api.go
  tests/rpc/personal_test.go
Due: clients

Problem: need to add JSON-RPC endpoint personal_initializeWallet
  rpc/ethereum/namespaces/personal/api.go
  tests/rpc/personal_test.go
Due: clients

wip: fixes
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/chain_config.go
  x/evm/types/chain_config_test.go
  x/evm/types/evm.pb.go
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: modules, clients

changelog and not skip for expecting error
  CHANGELOG.md
  tests/rpc/personal_test.go
Due: none

filter non eth txs in block rpc response
  rpc/ethereum/backend/backend.go
Due: clients

update changelog
  CHANGELOG.md
Due: none

Problem: Missing debug_tranceBlockByHash RPC method
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/debug/api.go
Due: clients

Problem: debug_traceBlockByNumber crashed when block height not found
  CHANGELOG.md
  init.sh
  rpc/ethereum/namespaces/debug/api.go
Due: clients

Run go fmt
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/debug/api.go
Due: clients

fix personal_test error message assertion
  tests/rpc/personal_test.go
Due: none
