Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

add Ante unit test
  app/ante/eth_test.go
Due: app

changelog
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

Empty KV gas config (#1460)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  go.mod
  go.sum
  gomod2nix.toml
Due: app

fix build
  app/ante/eth.go
Due: app

Refactor `sdkerrors` to `errorsmod`
  ethereum/eip712/eip712.go
Due: none

remove unused tests
  tests/e2e/integration_test.go
Due: none

test: remove unused integration tests (#1462)
  tests/e2e/integration_test.go
Due: none

fix integration test script
  scripts/integration-test-all.sh
Due: none

imp: remove e2e github action
  .github/workflows/test.yml
  Makefile
  scripts/integration-test-all.sh
Due: none

fix: remove e2e github action (#1463)
  .github/workflows/test.yml
  Makefile
  scripts/integration-test-all.sh
Due: none

update
  app/app.go
  init.sh
  types/codec.go
Due: app, core

fix export
  app/export.go
  cmd/ethermintd/root.go
Due: app

fix validate genesis
  app/app.go
Due: app

codec
  go.mod
  go.sum
  x/evm/types/codec.go
Due: modules

reee
  app/ante/eth.go
  go.mod
  go.sum
Due: app

Apply suggestions from code review
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
Due: clients

Update protocgen script and buf yaml files to mirror cosmos-sdk
  buf.work.yaml
  go.mod
  go.sum
  proto/buf.gen.gogo.yaml
  proto/buf.lock
  proto/buf.yaml
  scripts/protocgen.sh
Due: none

Update makefile commands for proto-gen and proto-swagger-gen to correctly use docker
  Makefile
Due: none

Commit changed .pb.go files after updating the protogen scripts
  crypto/ethsecp256k1/keys.pb.go
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/query.pb.gw.go
Due: none

Adjust grep in proto-tools-installer script to look for correct gogoproto replacement
  scripts/proto-tools-installer.sh
Due: none

address reviews - remove unnecessary ignore in buf.yaml and cosmos-sdk download in the protocgen script
  proto/buf.yaml
  scripts/protocgen.sh
Due: none

remove proto-update-deps from makefile as we don't store local copies of third party protofiles anymore
  Makefile
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Update protoc-swagger-gen.sh
  proto/buf.gen.swagger.yaml
  scripts/protoc-swagger-gen.sh
Due: none

Remove third party queries from swagger-ui config (for now)
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: clients

transactions work now, just need to fix tests
  app/ante/ante_test.go
  app/ante/eth_test.go
  app/app.go
  app/app_test.go
  app/benchmark_test.go
  app/simulation_test.go
  app/utils.go
  app/utils_test.go
  indexer/kv_indexer_test.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/mocks/client.go
  rpc/types/events_test.go
  x/evm/handler_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
Due: app, modules, clients

fix integration tests
  tests/integration_tests/test_types.py
Due: none

fix integrations tests
  gomod2nix.toml
Due: none

fix flake
  tests/integration_tests/test_types.py
Due: none

fix dead changelog links (markdown-link-check)
  CHANGELOG.md
Due: none

chore (deps): Update geth version to v1.10.25 (#1413)
  CHANGELOG.md
  app/ante/eip712.go
  app/ante/utils_test.go
  docs/api/proto-docs.md
  ethereum/eip712/eip712.go
  go.mod
  go.sum
  gomod2nix.toml
  nix/go-ethereum.nix
  proto/ethermint/evm/v1/evm.proto
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info.go
  rpc/backend/sign_tx.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/block.go
  rpc/types/utils.go
  scripts/start-geth.sh
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_filters.py
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/test_tracers.py
  tests/integration_tests/test_types.py
  tests/integration_tests/test_upgrade.py
  tests/integration_tests/utils.py
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
  x/evm/types/chain_config.go
  x/evm/types/evm.pb.go
Due: app, modules, clients

merge main
  go.sum
Due: none

fix 1559 test
  x/feemarket/keeper/eip1559_test.go
Due: modules

bump sdk and gas config fix
  app/ante/eth.go
  go.mod
  go.sum
Due: app

fix BlockMaxGasFromConsensusParams
  rpc/types/utils.go
Due: clients

fix consensus params
  app/benchmark_test.go
  app/simulation_test.go
  app/utils.go
  x/evm/handler_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/integration_test.go
Due: app, modules
