Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

remove consume gas logic on ante handler
  app/ante/eth.go
Due: app

comment
  app/ante/eth.go
Due: app

update geth from 1.10.19 to 1.10.20
  go.mod
  go.sum
Due: none

internal/ethapi: explicitly return chain id for EIP-155 legacy txs (geth #25155)
  rpc/types/utils.go
Due: clients

internal/ethapi: always return chain id (geth #25166)
  rpc/backend/backend.go
  rpc/backend/chain_info.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

internal/ethapi: add note about eth_chainId compatibility with EIP-695 (geth #25168)
  rpc/namespaces/ethereum/eth/api.go
Due: clients

update CHANGELOG.md
  CHANGELOG.md
Due: none

internal/ethapi: fix chain id check to return all non-zero ids (geth v1.10.21 #25244)
  rpc/types/utils.go
Due: clients

remove tmp var
  rpc/backend/tracing.go
Due: clients

Update tests/integration_tests/test_grpc_only.py
  tests/integration_tests/test_grpc_only.py
Due: none

Update x/evm/keeper/grpc_query_test.go
  x/evm/keeper/grpc_query_test.go
Due: modules

Refactor implementation + add tests
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
Due: app

fix math
  x/evm/keeper/state_transition.go
Due: modules

Refactor unpacking implementation; refactor test case
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
Due: app

Fix lint issue
  ethereum/eip712/eip712.go
Due: none

Add MsgExec test case
  app/ante/ante_test.go
  app/ante/utils_test.go
Due: app

test: cleanup of tests in node_info, sign_tx and account_info
  rpc/backend/account_info_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
Due: clients

Apply suggestions from code review
  crypto/hd/algorithm_test.go
Due: core

Clean up print
  rpc/backend/utils.go
Due: clients

c++
  CHANGELOG.md
Due: none

move min gas price
  app/ante/eth.go
Due: app

refactor (errors) refactor errors import to use cosmossdk.io instead of cosmos-sdk/types/errors
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712.go
  go.mod
  indexer/kv_indexer.go
  rpc/backend/call_tx.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
  rpc/backend/tx_info.go
  rpc/types/block_test.go
  rpc/types/utils.go
  server/config/config.go
  server/start.go
  types/chain_id.go
  types/errors.go
  types/int.go
  types/validation.go
  x/evm/handler.go
  x/evm/keeper/hooks.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/keeper/utils.go
  x/evm/migrations/v2/types/chain_config.go
  x/evm/migrations/v3/types/chain_config.go
  x/evm/statedb/statedb.go
  x/evm/types/access_list_tx.go
  x/evm/types/chain_config.go
  x/evm/types/codec.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/errors.go
  x/evm/types/legacy_tx.go
  x/evm/types/msg.go
  x/evm/types/storage.go
  x/evm/types/utils.go
Due: modules, core, clients

refactor (errors) refactor errors import in ethsecp256k1 file
  crypto/ethsecp256k1/ethsecp256k1.go
Due: core

refactor (errors) add changes to changelog
  CHANGELOG.md
Due: none

Update comment for clarity
  ethereum/eip712/eip712.go
Due: none

wrap types comparison in integration tests
  tests/integration_tests/test_types.py
Due: none

refactor(all): refactor errors import to use cosmossdk.io (#1456)
  CHANGELOG.md
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712.go
  go.mod
  indexer/kv_indexer.go
  rpc/backend/call_tx.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
  rpc/backend/tx_info.go
  rpc/types/block_test.go
  rpc/types/utils.go
  server/config/config.go
  server/start.go
  types/chain_id.go
  types/errors.go
  types/int.go
  types/validation.go
  x/evm/handler.go
  x/evm/keeper/hooks.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/keeper/utils.go
  x/evm/migrations/v2/types/chain_config.go
  x/evm/migrations/v3/types/chain_config.go
  x/evm/statedb/statedb.go
  x/evm/types/access_list_tx.go
  x/evm/types/chain_config.go
  x/evm/types/codec.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/errors.go
  x/evm/types/legacy_tx.go
  x/evm/types/msg.go
  x/evm/types/storage.go
  x/evm/types/utils.go
Due: modules, core, clients

imp: sync changelog with latest releases
  CHANGELOG.md
Due: none

Refactor to omit empty values from type creation; add test for v1.vote
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
Due: app

Add test for createValidator with optional fields left blank
  app/ante/ante_test.go
  app/ante/utils_test.go
Due: app

Add changelog entry
  CHANGELOG.md
Due: none

Update changelog entry
  CHANGELOG.md
Due: none

update sdk version
  go.mod
  go.sum
Due: none

setup empty gas config
  app/ante/eth.go
Due: app

fix linters
  rpc/backend/call_tx.go
  tests/integration_tests/test_grpc_only.py
Due: clients

Update app/ante/eth.go
  app/ante/eth.go
Due: app

fix lint
  app/ante/eth.go
Due: app

fix integration tests
  gomod2nix.toml
Due: none
