Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

bug(feemarket): fix integration tests
  app/ante/fees.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/params.go
Due: app, modules

imp(rpc): restrict unprotected txs on the node RPC
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
Due: clients

fixed buf makefile dependency, update semgrep workflow
  .github/workflows/proto.yml
  .github/workflows/semgrep.yml
  Makefile
Due: none

bug(feemarket): wip improve specs
  x/feemarket/spec/01_concepts.md
Due: modules

fix(ci): buf makefile dependency, update semgrep workflow (#1144)
  .github/workflows/proto.yml
  .github/workflows/semgrep.yml
  Makefile
Due: none

bug(feemarket): add spec concepts
  x/feemarket/spec/01_concepts.md
Due: modules

bug(feemarket): remove todo
  x/feemarket/spec/01_concepts.md
Due: modules

bug(feemarket): remove changes used for debugging in params
  x/feemarket/keeper/params.go
Due: modules

bug(feemarket): remove todo in integration test
  x/feemarket/keeper/integration_test.go
Due: modules

lint
  rpc/apis.go
Due: clients

changelog
  CHANGELOG.md
Due: none

add changelog
  CHANGELOG.md
Due: none

send raw transaction
  rpc/backend/evm_backend.go
Due: clients

address PR comments
  CHANGELOG.md
  app/ante/fees.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/spec/01_concepts.md
Due: app, modules

c++
  CHANGELOG.md
  rpc/namespaces/ethereum/eth/api.go
Due: clients

imp(rpc): restrict unprotected txs on the node RPC (#1143)
  CHANGELOG.md
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
Due: clients

imp(evm): rename `RejectUnprotectedTx` to `AllowUnprotectedTxs` (#1142)
  CHANGELOG.md
  Makefile
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  crypto/ethsecp256k1/keys.pb.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/tx.proto
  types/account.pb.go
  types/web3.pb.go
  x/evm/migrations/v2/migrate.go
  x/evm/migrations/v2/migrate_test.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/params.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/evm/types/tx_data.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
Due: app, modules, clients

bug(feemarket): set lower bound of base fee to min gas price param (#1135)
  CHANGELOG.md
  app/ante/fees.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/spec/01_concepts.md
Due: app, modules

refactor
  rpc/backend/evm_backend.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
Due: clients

fix!: fix json-rpc failures for pruned nodes (#1126)
  CHANGELOG.md
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
Due: clients

deps: Go 1.18
  .github/workflows/build.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  go.mod
Due: none

changelog
  CHANGELOG.md
  README.md
Due: none

update
  Makefile
  networks/local/ethermintnode/Dockerfile
Due: none

update Dockerfiles to be faster and fix tparse workflow
  .github/workflows/test.yml
  docker/debug.Dockerfile
  docker/fast-build.Dockerfile
Due: none

check if fast-build fails
  .github/workflows/docker-build-test.yml
Due: none

use slow docker builds
  .github/workflows/docker-build-test.yml
  docker/debug.Dockerfile
Due: none

use correct dockerfile
  .github/workflows/docker-build-test.yml
Due: none

remove an add call that got duplicated'
  app/ante/eth.go
Due: app

comment out new TestPendingTransactionFilter as it's a known bug
  tests/e2e/integration_test.go
Due: none

deps: Go 1.18 (#1147)
  .github/workflows/build.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  CHANGELOG.md
  Makefile
  README.md
  go.mod
  networks/local/ethermintnode/Dockerfile
Due: none

upgrade geth and fix build
  go.mod
  go.sum
  x/evm/keeper/state_transition.go
  x/evm/migrations/v2/types/chain_config.go
  x/evm/types/chain_config.go
  x/evm/types/tracer.go
Due: modules

evm: cleanup, remove atlas/
  .gitignore
  types/int.go
  types/validation.go
  x/evm/atlas/atlas-v0.3.1.md
  x/evm/atlas/atlas.toml
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/utils.go
  x/evm/types/access_list_tx.go
  x/evm/types/codec.go
  x/evm/types/config.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/utils.go
Due: modules, core

rm tparse action
  .github/workflows/test.yml
Due: none

fix lint issue
  ethereum/eip712/eip712.go
Due: none

use cases.NoLower
  ethereum/eip712/eip712.go
Due: none

tidy
  go.mod
  go.sum
Due: none

evm: cleanup, remove atlas/ (#1152)
  .github/workflows/test.yml
  .gitignore
  ethereum/eip712/eip712.go
  go.mod
  go.sum
  types/int.go
  types/validation.go
  x/evm/atlas/atlas-v0.3.1.md
  x/evm/atlas/atlas.toml
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/utils.go
  x/evm/types/access_list_tx.go
  x/evm/types/codec.go
  x/evm/types/config.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/utils.go
Due: modules, core

release: v0.17.0 changelog
  CHANGELOG.md
Due: none

rm newline
  CHANGELOG.md
Due: none

update link
  CHANGELOG.md
Due: none
