Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

docs: state revert logic (#421)
  docs/core/state_snapshot.md
Due: none

docs: LoC badge
  README.md
Due: none

docs: LoC badge (#554)
  README.md
Due: none

fix error assert issue
  tests/solidity/suites/proxy/test/depositable_delegate_proxy.js
Due: none

first version
  ethereum/rpc/namespaces/debug/api.go
  x/evm/keeper/grpc_query.go
Due: modules

json rpc concurrency
  ethereum/rpc/namespaces/debug/api.go
  ethereum/rpc/namespaces/debug/types.go
Due: none

rever makefile change
  Makefile
Due: none

add ApplyNativeMessage
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
Due: modules

fix lint
  x/evm/types/tracer.go
Due: modules

FIX gas used
  ethereum/rpc/backend/backend.go
Due: none

remove grpc traceblock
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/types/query.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
Due: modules

create internal traceBlock function
  ethereum/rpc/namespaces/debug/api.go
  x/evm/keeper/grpc_query.go
Due: modules

added types to evm module
  ethereum/rpc/namespaces/debug/api.go
  ethereum/rpc/namespaces/debug/types.go
  x/evm/types/tracer.go
Due: modules

tendermintBlockByNumber rename
  ethereum/rpc/backend/backend.go
  ethereum/rpc/namespaces/debug/api.go
Due: none

added safe message check
  ethereum/rpc/namespaces/debug/api.go
Due: none

remove unnecesary line
  x/evm/keeper/grpc_query.go
Due: modules

check error
  x/evm/keeper/grpc_query.go
Due: modules

fix lint
  ethereum/rpc/namespaces/debug/api.go
Due: none

fix linter
  ethereum/rpc/namespaces/debug/api.go
  go.mod
  go.sum
  x/evm/keeper/grpc_query.go
  x/evm/types/query.go
  x/evm/types/tracer.go
Due: modules

rpc: fix JSON-RPC gas used (#558)
  ethereum/rpc/backend/backend.go
Due: none

Update ethereum/rpc/namespaces/debug/api.go
  ethereum/rpc/namespaces/debug/api.go
Due: none

Update ethereum/rpc/backend/backend.go
  ethereum/rpc/backend/backend.go
Due: none

improve traceBlock performance
  ethereum/rpc/namespaces/debug/api.go
Due: none

fix linter
  ethereum/rpc/namespaces/debug/api.go
  ethereum/rpc/namespaces/eth/filters/filters.go
  x/evm/keeper/grpc_query.go
Due: modules

add extra line on function parameters
  x/evm/keeper/grpc_query.go
Due: modules

changed index to uint 64
  docs/api/proto-docs.md
  ethereum/rpc/namespaces/debug/api.go
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
Due: modules

fix lint
  ethereum/rpc/namespaces/eth/filters/filters.go
Due: none

proto gen
  go.mod
  go.sum
Due: none

Update x/evm/types/tracer.go
  x/evm/types/tracer.go
Due: modules

fix export homedir
  server/util.go
Due: none

Changelog updated
  CHANGELOG.md
Due: none

update endpoints documentation
  docs/api/json-rpc/endpoints.md
Due: none

update changelog
  CHANGELOG.md
Due: none

fix: homedir consistency (#561)
  CHANGELOG.md
  server/util.go
Due: none

Apply suggestions from code review
  docs/api/json-rpc/endpoints.md
  ethereum/rpc/namespaces/eth/filters/filters.go
Due: none

Update ethereum/rpc/namespaces/eth/filters/filters.go
  ethereum/rpc/namespaces/eth/filters/filters.go
Due: none

rpc: `debug_traceBlockByNumber` endpoint (#555)
  CHANGELOG.md
  docs/api/json-rpc/endpoints.md
  docs/api/proto-docs.md
  ethereum/rpc/backend/backend.go
  ethereum/rpc/namespaces/debug/api.go
  go.mod
  go.sum
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
  x/evm/types/tracer.go
Due: modules

Remove tx logs and block bloom from chain state
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  ethereum/rpc/backend/backend.go
  ethereum/rpc/backend/utils.go
  ethereum/rpc/namespaces/eth/api.go
  go.mod
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  x/evm/genesis.go
  x/evm/keeper/abci.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
  x/evm/types/events.go
  x/evm/types/genesis.go
  x/evm/types/genesis.pb.go
  x/evm/types/genesis_test.go
  x/evm/types/key.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/feemarket/types/query.pb.gw.go
Due: modules, clients

evm: remove tx logs and block bloom from chain state (#556)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  ethereum/rpc/backend/backend.go
  ethereum/rpc/backend/utils.go
  ethereum/rpc/namespaces/eth/api.go
  go.mod
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  x/evm/genesis.go
  x/evm/keeper/abci.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
  x/evm/types/events.go
  x/evm/types/genesis.go
  x/evm/types/genesis.pb.go
  x/evm/types/genesis_test.go
  x/evm/types/key.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/feemarket/types/query.pb.gw.go
Due: modules, clients
