Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

add chainId to latestSigner function
  tests/e2e/integration_test.go
Due: none

Integration tests (#913)
  tests/e2e/integration_test.go
  tests/rpc/rpc_test.go
  x/evm/types/SimpleStorageContract.json
  x/evm/types/compiled_contract.go
Due: modules

fix minimal gas price calculation
  rpc/ethereum/namespaces/eth/api.go
Due: clients

ci: enable semgrep config
  .github/workflows/semgrep.yml
Due: none

fix config
  .github/workflows/semgrep.yml
  .semgrepignore
Due: none

ignore grpc web
  .semgrepignore
Due: none

ci: semgrep config (#917)
  .github/workflows/semgrep.yml
  .semgrepignore
Due: none

fix defualt base fee state in genesis
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_test.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/types/genesis.go
Due: modules

fix zero fee coins
  rpc/ethereum/backend/backend.go
  x/evm/keeper/utils.go
  x/evm/types/msg.go
Due: modules, clients

Problem: minimal-gas-prices and baseFeePerGas conflicts
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
Due: app, clients

changelog
  CHANGELOG.md
Due: none

fix: default base fee state in genesis (#919)
  CHANGELOG.md
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_test.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/types/genesis.go
Due: modules

fix: minimal-gas-prices and baseFeePerGas conflicts (#916)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  x/evm/keeper/utils.go
  x/evm/types/msg.go
Due: app, modules, clients

fix: wrong comment in EthGasConsumeDecorator
  app/ante/eth.go
Due: app

ci: separate out rpc and integration tests
  .github/workflows/build.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/test.yml
  Makefile
  scripts/integration-test-all.sh
  scripts/start.sh
  tests/e2e/integration_test.go
Due: none

ci: separate out rpc and integration tests (#931)
  .github/workflows/build.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/test.yml
  Makefile
  scripts/integration-test-all.sh
  scripts/start.sh
  tests/e2e/integration_test.go
Due: none

fix: wrong comment in EthGasConsumeDecorator (#929)
  app/ante/eth.go
Due: app

fix newPendingTransactions subscription deadlock issue
  rpc/websockets.go
Due: clients

updated changelog
  CHANGELOG.md
Due: none

fix base fee check logic in state transition
  CHANGELOG.md
  x/evm/keeper/state_transition.go
Due: modules

add comment
  rpc/websockets.go
Due: clients

fix newPendingTransactions subscription deadlock issue (#933)
  CHANGELOG.md
  rpc/websockets.go
Due: clients

code migrated
  app/ante/ante.go
  app/ante/eip712.go
  app/ante/handler_options.go
  ethereum/eip712/eip712.go
  go.mod
  go.sum
Due: app

signed_data ported to avoid conficting dependency
  app/ante/eip712.go
  ethereum/eip712/eip712.go
  ethereum/eip712/signed_data.go
  go.mod
  go.sum
Due: app

remove unused parameters from evm spec
  x/evm/spec/08_params.md
Due: modules

remove unused parameters from evm spec (#934)
  x/evm/spec/08_params.md
Due: modules

upgrade geth to v1.10.15
  Makefile
  app/ante/interfaces.go
  app/app.go
  go.mod
  go.sum
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: app, modules

fix lint
  x/evm/keeper/grpc_query.go
  x/evm/types/tracer.go
Due: modules

fix imports
  x/evm/keeper/grpc_query.go
  x/evm/types/tracer.go
Due: modules

revert makefile change
  Makefile
Due: none

update changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add basefee change proposal
  app/app.go
  docs/api/proto-docs.md
  proto/ethermint/feemarket/v1/feemarket.proto
  x/feemarket/module.go
  x/feemarket/proposal_handler.go
  x/feemarket/types/codec.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/proposal.go
Due: app, modules

fix lint
  x/feemarket/proposal_handler.go
  x/feemarket/types/codec.go
Due: modules

add cli
  app/app.go
  x/feemarket/client/cli/tx.go
  x/feemarket/client/proposal_handler.go
  x/feemarket/client/rest/rest.go
Due: app, modules

fix lint
  CHANGELOG.md
  client/docs/statik/statik.go
  x/feemarket/client/cli/tx.go
  x/feemarket/proposal_handler.go
Due: modules, clients

update chain config
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/chain_config.go
  x/evm/types/evm.pb.go
Due: modules

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
