Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

Problem: eth_newPendingTransactionFilter don't return correct tx hash
  rpc/apis.go
  rpc/ethereum/namespaces/eth/filters/api.go
Due: clients

changelog
  CHANGELOG.md
Due: none

Rebase on tharsis/ethermint v0.11.0 (#24)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/goreleaser.yml
  .github/workflows/labeler.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  app/ante/eth.go
  app/ante/eth_test.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/feebackend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
  types/gasmeter.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
  x/evm/types/tx.go
Due: app, modules, core, clients

rename module back to github.com/tharsis/ethermint (#29)
  go.mod
  go.sum
Due: none

remove copied TODO comment and ignore err result of Notify
  rpc/ethereum/namespaces/eth/filters/api.go
Due: clients

add e2e test
  tests/e2e/integration_test.go
Due: none

Comment out CI tests that need ephemeral-cluster (#30)
  .github/workflows/labeler.yml
  .github/workflows/test.yml
Due: none

fix ws client in e2e test
  testutil/network/util.go
Due: none

fix test
  tests/e2e/integration_test.go
Due: none

Apply suggestions from code review
  rpc/ethereum/namespaces/eth/filters/api.go
Due: clients

Update .github/workflows/lint.yml
  .github/workflows/lint.yml
Due: none

fix: `eth_newPendingTransactionFilter` doesn't return ethereum tx hash (#1012)
  CHANGELOG.md
  rpc/apis.go
  rpc/ethereum/namespaces/eth/filters/api.go
  tests/e2e/integration_test.go
  testutil/network/util.go
Due: clients

release: v0.12.0 changelog
  CHANGELOG.md
Due: none

use customized RandomAccounts to generate accounts with ethsecp256k1 private key
  app/simulation_test.go
Due: app

RandomAccounts generate random accounts with ethsecp256k1 private key
  app/test_helpers.go
Due: app

implement SimulateEthSimpleTransfer
  x/evm/simulation/operations.go
Due: modules

Build both linux/amd64 and linux/arm64 evmos images (#32)
  .github/workflows/build-test-evmos.yml
  .github/workflows/ephemeral.yml
Due: none

implement SimulateEthCreateContract
  x/evm/simulation/operations.go
Due: modules

abci.go -> gasfee and eip-1559.go baseFee fixed
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/eip1559.go
Due: modules

evm: update empty hash check for storage state
  x/evm/types/storage.go
  x/evm/types/storage_test.go
Due: modules

evm: update empty hash check for storage state (#1016)
  x/evm/types/storage.go
  x/evm/types/storage_test.go
Due: modules

v0.12.1: changelog
  CHANGELOG.md
Due: none

changelog: v0.12.1 (#1019)
  CHANGELOG.md
  x/evm/types/storage.go
  x/evm/types/storage_test.go
Due: modules

add verbose flag to go tests run
  .github/workflows/build-test-evmos.yml
Due: none

refactor and implement operationSimulateEthCallContract as future operations of SimulateEthCreateContract
  x/evm/simulation/operations.go
Due: modules

Update app/app.go
  app/app.go
Due: app

Update app/test_helpers.go
  app/test_helpers.go
Due: app

Update x/evm/simulation/operations.go
  x/evm/simulation/operations.go
Due: modules

imp: migrate JSON for feemarket
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/types/keys.go
  x/feemarket/v0_12/migrate.go
Due: modules

migrate JSON
  x/feemarket/v0_11/types.go
  x/feemarket/v0_12/migrate.go
Due: modules

types
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/migrations/v0_12/migrate.go
  x/feemarket/v0_11/types.go
Due: modules

fix
  x/feemarket/migrations/v0_12/migrate.go
  x/feemarket/migrations/v0_9/types/feemarket.pb copy.go
  x/feemarket/migrations/v0_9/types/genesis.pb copy.go
Due: modules

fix unmarshal JSON error
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/migrations/v0_10/migrate.go
  x/feemarket/migrations/v0_10/migrate_test.go
  x/feemarket/migrations/v0_12/migrate.go
Due: modules

fix lint
  client/testnet.go
  rpc/ethereum/backend/feebackend.go
  tests/importer/chain_ctx.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/migrations/v010/migrate.go
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/migrations/v09/types/feemarket.pb copy.go
  x/feemarket/migrations/v09/types/genesis.pb copy.go
Due: modules, clients

fix test
  x/feemarket/migrations/v010/migrate_test.go
Due: modules

imp: migrate JSON for feemarket (#1021)
  CHANGELOG.md
  client/testnet.go
  rpc/ethereum/backend/feebackend.go
  tests/importer/chain_ctx.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/migrations/v010/migrate.go
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/migrations/v09/types/feemarket.pb copy.go
  x/feemarket/migrations/v09/types/genesis.pb copy.go
  x/feemarket/types/keys.go
Due: modules, clients
