Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix: nil pointer panic in `ApplyNativeMessage` (#660)
  CHANGELOG.md
  x/evm/keeper/state_transition.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix pubsub underterministic test (#666)
  rpc/ethereum/pubsub/pubsub_test.go
Due: clients

rpc: fix ExpandHome restrictions bypass
  CHANGELOG.md
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  rpc/ethereum/namespaces/debug/utils.go
  server/start.go
Due: clients

Fix struct alignment
  server/config/config.go
Due: none

fix issue for staking test
  tests/solidity/suites/staking/package.json
  tests/solidity/suites/staking/patches/@aragon+contract-helpers-test+0.0.3.patch
  tests/solidity/suites/staking/patches/truffle+5.4.14.patch
  tests/solidity/suites/staking/test/locking/locking.js
  tests/solidity/yarn.lock
Due: none

fix bug in test helper
  tests/solidity/test-helper.js
Due: none

rpc: fix `ExpandHome` restrictions bypass (#667)
  CHANGELOG.md
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  rpc/ethereum/namespaces/debug/utils.go
  server/start.go
Due: clients

fix: limit total number of filters that can be created (#661)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
Due: clients

fix linter
  x/evm/types/eip1559.go
Due: modules

add london block check in state transition
  app/ante/eth.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  x/evm/keeper/state_transition.go
  x/evm/types/eip1559.go
Due: app, modules, clients

disable basefee if not london block
  rpc/ethereum/backend/backend.go
Due: clients

clean code
  app/ante/eth.go
  rpc/ethereum/backend/backend.go
  x/evm/keeper/state_transition.go
  x/evm/types/eip1559.go
  x/evm/types/eip1559_test.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: app, modules, clients

add unit test
  x/evm/types/eip1559_test.go
Due: modules

add changelog
  CHANGELOG.md
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

evm, rpc: disable `BaseFee` for non London block (#662)
  CHANGELOG.md
  app/ante/eth.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  x/evm/keeper/state_transition.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: app, modules, clients

add trace flag to init script
  tests/solidity/init-test-node.sh
Due: none

reduce block time
  tests/solidity/init-test-node.sh
Due: none

Update test cases
  tests/solidity/suites/staking/test/staking_proxy.js
Due: none

use truffle 5.4.14 as global
  tests/solidity/package.json
  tests/solidity/suites/basic/package.json
  tests/solidity/suites/exception/package.json
  tests/solidity/suites/initializable-buidler/package.json
  tests/solidity/suites/initializable-buidler/test/lifecycle.js
  tests/solidity/suites/initializable/package.json
  tests/solidity/suites/initializable/test/lifecycle.js
  tests/solidity/suites/opcode/package.json
  tests/solidity/suites/proxy/package.json
  tests/solidity/suites/staking/package.json
  tests/solidity/suites/storage/package.json
  tests/solidity/yarn.lock
Due: none

remove two checks
  tests/solidity/suites/initializable-buidler/test/lifecycle.js
  tests/solidity/suites/initializable/test/lifecycle.js
Due: none

reduce block time to 150ms
  tests/solidity/init-test-node.sh
Due: none

fix patches paths
  tests/solidity/package.json
  tests/solidity/patches/truffle+5.4.14.patch
Due: none

add feemarketGenesis in the app setup param
  app/ante/utils_test.go
  app/test_helpers.go
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
Due: app, modules

test DynamicFeeTx against state_transition_benchmark_test
  x/evm/keeper/state_transition_benchmark_test.go
Due: modules

fix gasFeeCap assignment in newMsgEthereumTx
  x/evm/types/msg.go
Due: modules

update TestAddLog
  x/evm/keeper/statedb_test.go
Due: modules

add dynamicTxFee flag to KeeperTestSuite
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_benchmark_test.go
Due: modules

add feemarketGenesis.BaseFee setup
  x/evm/keeper/keeper_test.go
Due: modules

update test cases in grpc_query_test w/ dynamicTxFee
  x/evm/keeper/grpc_query_test.go
Due: modules

modify keeperTestSuite helper functions to support dynamicTxFee
  x/evm/keeper/keeper_test.go
Due: modules

add dynamic tx fee in the ante tests
  app/ante/ante_test.go
  app/ante/utils_test.go
Due: app

update the evm keeper utils tests
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
Due: modules

fix: networks/local/ethermintnode/Dockerfile to reduce vulnerabilities
  networks/local/ethermintnode/Dockerfile
Due: none

Update networks/local/ethermintnode/Dockerfile
  networks/local/ethermintnode/Dockerfile
Due: none

[Snyk] Security upgrade golang from 1.16.7 to 1.16 (#670)
  networks/local/ethermintnode/Dockerfile
Due: none

Update test scripts
  tests/solidity/init-test-node.sh
Due: none

store base fee in event
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/types/utils.go
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/keeper.go
  x/feemarket/types/events.go
  x/feemarket/types/params.go
Due: modules, clients

update changelog
  CHANGELOG.md
  rpc/ethereum/backend/utils.go
Due: clients

tests: add trace flag to init script (#669)
  tests/solidity/init-test-node.sh
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
