Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

rename GetTendermintBlockByNumber to TendermintBlockByNumber
  rpc/backend/account_info.go
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/debug/api.go
Due: clients

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Apply suggestions from code review
  x/evm/vm/geth/geth.go
  x/evm/vm/geth/precompiles.go
Due: modules

rename GetTendermintBlockResultByNumber to TendermintBlockResultByNumber
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info.go
  rpc/backend/filters.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
Due: clients

rename GetTendermintBlockByHash to TendermintBlockByHash
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/filters.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
Due: clients

rename BlockByNumber to EthBlockByNumber
  rpc/backend/backend.go
  rpc/backend/blocks.go
Due: clients

rename BlockByHash to EthBlockByHash
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/namespaces/ethereum/debug/api.go
Due: clients

rename GetBlockNumberByHash to BlockNumberFromTendermintByHash
  rpc/backend/backend.go
  rpc/backend/blocks.go
Due: clients

rename GetBlockNumber to BlockNumberFromTendermint
  rpc/backend/account_info.go
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

rename GetEthereumMsgsFromTendermintBlock to EthMsgsFromTendermintBlock
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

rename GetEthBlockFromTendermint to BlockFromTendermintBlock
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
Due: clients

rename EthBlockFromTendermint to EthBlockFromTendermintBlock
  rpc/backend/backend.go
  rpc/backend/blocks.go
Due: clients

ping pong read loop
  rpc/websockets.go
Due: clients

fumpt
  indexer/kv_indexer_test.go
  tests/importer/importer_test.go
  tests/rpc/rpc_pending_test.go
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/keeper_test.go
Due: modules

golangci
  .golangci.yml
Due: none

Update keeper_test.go
  x/feemarket/keeper/keeper_test.go
Due: modules

Update keeper_test.go
  x/evm/keeper/keeper_test.go
Due: modules

Update handler_test.go
  x/evm/handler_test.go
Due: modules

Update rpc_pending_test.go
  tests/rpc/rpc_pending_test.go
Due: none

add TestEthBlockFromTendermintBlock with no transactions. Note that this endpoint is breaking when querying a block with transactions
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
Due: clients

add block transaction count tests
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
Due: clients

add TendermintBlockByHash test'
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
Due: clients

imp(evm): update move gas functions to a new file
  x/evm/keeper/gas.go
  x/evm/keeper/state_transition.go
Due: modules

changelog fix
  CHANGELOG.md
Due: none

changelog 2
  CHANGELOG.md
Due: none

fix gomod2nix
  gomod2nix.toml
Due: none

integration tests
  rpc/websockets.go
Due: clients

Update cosmos-sdk to 0.46.1
  go.mod
  go.sum
  rpc/backend/backend.go
  rpc/backend/node_info.go
  server/config/config.go
  server/indexer_cmd.go
  server/start.go
Due: clients

update gomod2nix.toml
  gomod2nix.toml
Due: none

deps: Update cosmos-sdk to `v0.46.1` (#1300)
  go.mod
  go.sum
  gomod2nix.toml
  rpc/backend/backend.go
  rpc/backend/node_info.go
  server/config/config.go
  server/indexer_cmd.go
  server/start.go
Due: clients

add TestBlockNumberFromTendermint tests
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
Due: clients

add HeaderByHash and HeaderByNumber tests
  rpc/backend/blocks_test.go
Due: clients

eth_sendTransaction returns internal trace on missing param (#1284)
  CHANGELOG.md
  rpc/backend/sign_tx.go
  rpc/websockets.go
  tests/integration_tests/test_types.py
  tests/rpc/rpc_test.go
Due: clients

add new struct WebSocketConfig; mod config.Config
  server/config/config.go
Due: none

changelog
  CHANGELOG.md
Due: none

evm: stateful contracts
  x/evm/vm/ethermint/evm.go
  x/evm/vm/geth/evm.go
  x/evm/vm/interface.go
Due: modules

lll
  .golangci.yml
  app/ante/eip712.go
  app/app.go
  client/keys/add.go
  client/testnet.go
  rpc/apis.go
  rpc/backend/account_info.go
  rpc/backend/node_info.go
  rpc/backend/tracing.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
  tests/importer/chain_ctx.go
  tests/rpc/utils.go
  types/chain_id.go
  x/evm/client/cli/query.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/utils.go
  x/evm/simulation/operations.go
  x/evm/types/tracer.go
  x/feemarket/simulation/genesis.go
Due: app, modules, core, clients

sdk v0.45.8, tendermint v0.34.21, iavl v0.19.1 & store options
  go.mod
  go.sum
  server/config/config.go
  server/indexer_cmd.go
Due: none

line length limits
  .golangci.yml
  app/ante/eth.go
  app/ante/fees.go
  app/utils.go
  client/testnet.go
  ethereum/eip712/eip712.go
  rpc/apis.go
  rpc/backend/call_tx.go
  rpc/namespaces/ethereum/eth/filters/api.go
  server/start.go
  server/util.go
  x/evm/simulation/operations.go
Due: app, modules, clients

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
