Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

refactor(params): add paramSetPairs for backwards compatibility
  x/evm/types/params.go
  x/evm/types/params_legacy.go
Due: modules

address merge conflicts
  CHANGELOG.md
Due: none

support customize db opener in `StartCmd` (#1615)
  CHANGELOG.md
  cmd/ethermintd/root.go
  server/start.go
  server/util.go
Due: none

conflicts
  CHANGELOG.md
Due: none

fix(rpc): wrong block number in debug trace related api (#1591)
  CHANGELOG.md
  gomod2nix.toml
  x/evm/keeper/grpc_query.go
Due: modules

tests: add benchmark tests setup
  tests/benchmarks/evm/keeper_test.go
  tests/benchmarks/evm/params_benchmark_test.go
Due: none

fix: localized benchmark tests to keeper
  tests/benchmarks/evm/keeper_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/params_benchmark_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update benchmark
  x/evm/keeper/params_benchmark_test.go
Due: modules

refactor(params): add license to params_legacy file
  x/evm/types/params_legacy.go
Due: modules

Apply suggestions from code review
  x/evm/types/params_legacy.go
Due: modules

fix(evm): handle RC1 params during migration
  x/evm/migrations/v4/migrate.go
Due: modules

migration
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/params.go
Due: modules

tests(evm): add benchmark tests setup for params (#1623)
  x/evm/keeper/keeper_test.go
  x/evm/keeper/params_benchmark_test.go
Due: modules

fix: test case updated for RC1
  proto/ethermint/evm/v1/evm.proto
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/chain_config.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/params.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_legacy.go
  x/evm/types/params_test.go
Due: modules

v5 migration
  x/evm/keeper/migrations.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/types/evm.pb.go
  x/evm/module.go
Due: modules

tests
  x/evm/keeper/migrations.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/migrations/v5/types/evm.pb.go
Due: modules

tests pt2
  x/evm/migrations/v5/migrate_test.go
Due: modules

comment
  x/evm/migrations/v5/migrate.go
Due: modules

execute make proto-all
  proto/ethermint/evm/v1/evm.proto
Due: none

lint
  app/app.go
Due: app

fix(evm): handle RC1 params during migration (#1624)
  app/app.go
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/migrations.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/chain_config.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/params.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/migrations/v5/types/evm.pb.go
  x/evm/module.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_legacy.go
  x/evm/types/params_test.go
Due: app, modules

Apply suggestions from code review
  x/evm/keeper/params.go
  x/evm/migrations/v4/migrate.go
Due: modules

rm dup vars
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/migrate_test.go
Due: modules

refactor(params): store all params under one key in evm module (#1617)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/interfaces.go
  app/ante/setup.go
  app/ante/sigverify.go
  app/app.go
  proto/ethermint/evm/v1/evm.proto
  x/evm/handler_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/migrations.go
  x/evm/keeper/params.go
  x/evm/keeper/params_test.go
  x/evm/keeper/utils_test.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/chain_config.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/params.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/migrations/v5/types/evm.pb.go
  x/evm/module.go
  x/evm/types/evm.pb.go
  x/evm/types/key.go
  x/evm/types/params.go
  x/evm/types/params_legacy.go
  x/evm/types/params_test.go
Due: app, modules

Revert "chore(evm): Deprecate x/params usage in x/evm (#1472)"
  CHANGELOG.md
  app/ante/interfaces.go
  app/app.go
  client/docs/statik/statik.go
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/tx.proto
  rpc/backend/backend_suite_test.go
  x/evm/genesis.go
  x/evm/handler.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params.go
  x/evm/keeper/params_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/module.go
  x/evm/types/codec.go
  x/evm/types/interfaces.go
  x/evm/types/msg.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/tx.pb.go
Due: app, modules, clients

revert x/evm params refactor
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/keeper/params_benchmark_test.go
  x/evm/types/params.go
  x/evm/types/params_legacy.go
Due: app, modules

fix(evm): revert v4 migration changes
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/evm.pb.go
Due: modules

add check for chainID
  x/evm/migrations/v5/migrate.go
Due: modules

fix: renamed vars to avoid duplicate proto
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/evm.pb.go
Due: modules

test
  x/evm/migrations/v4/migrate_test.go
Due: modules

fix: set default extraEIPs to nil
  x/evm/types/params.go
Due: modules

fix: updated tests
  x/evm/migrations/v4/migrate_test.go
Due: modules

fix(evm): revert v4 migration changes (#1625)
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/migrate.go
  x/evm/types/params.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

fix duplicate changelog entries
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
