Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

test earliest balance for old blocks as eth
  scripts/run-integration-tests.sh
  tests/integration_tests/test_account.py
Due: none

update nix
  go.mod
  gomod2nix.toml
Due: none

add next fee in fee history
  rpc/backend/chain_info.go
  rpc/backend/utils.go
  rpc/types/types.go
Due: clients

bind default json-rpc to 127.0.0.1
  scripts/contract-test.sh
  scripts/ethermint-devnet.yaml
  scripts/integration-test-all.sh
  scripts/start.sh
  server/config/config.go
  tests/integration_tests/configs/default.jsonnet
  testutil/network/network.go
Due: none

add change doc
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix test
  rpc/backend/chain_info_test.go
  tests/rpc/rpc_test.go
Due: clients

fix(rpc): bind default json-rpc listen address to localhost (#1613)
  CHANGELOG.md
  go.mod
  gomod2nix.toml
  scripts/contract-test.sh
  scripts/ethermint-devnet.yaml
  scripts/integration-test-all.sh
  scripts/start.sh
  server/config/config.go
  tests/integration_tests/configs/default.jsonnet
  testutil/network/network.go
Due: none

height + 1 for next fee
  rpc/backend/utils.go
Due: clients

cross check baseFeePerGas len
  tests/integration_tests/test_fee_history.py
Due: none

support customize db opener in `StartCmd`
  CHANGELOG.md
  cmd/ethermintd/root.go
  server/start.go
  server/util.go
Due: none

Add new hardfork rows after london
  x/evm/spec/08_params.md
Due: modules

add shanghai and cancun
  x/evm/spec/08_params.md
Due: modules

Add new hardfork rows after london (#1616)
  x/evm/spec/08_params.md
Due: modules

Update tests/integration_tests/test_fee_history.py
  tests/integration_tests/test_fee_history.py
Due: none

fix oldestBlock & align earliest input as eth
  rpc/backend/chain_info.go
Due: clients

update doc
  CHANGELOG.md
Due: none

update nix
  gomod2nix.toml
Due: none

isort test_fee_history.py
  tests/integration_tests/test_fee_history.py
Due: none

fix test
  rpc/backend/chain_info_test.go
Due: clients

align rpc res as eth
  tests/rpc/rpc_test.go
Due: none

add cross check
  tests/integration_tests/test_fee_history.py
Due: none

refactor(params): store all params under one key in evm module
  x/evm/keeper/params.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/types/params.go
Due: modules

refactor(params): add changelog entry
  CHANGELOG.md
Due: none

pass to dbOpener, so we can control different options through cli flags
  server/start.go
Due: none

add baseFeePerGas len check
  tests/integration_tests/test_fee_history.py
Due: none

add oldestBlock check
  tests/integration_tests/test_fee_history.py
Due: none

refactor(params): update based on review comments. Remove params getter functions
  app/ante/eth.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/interfaces.go
  app/ante/setup.go
  app/ante/sigverify.go
  x/evm/handler_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/params.go
  x/evm/keeper/params_test.go
  x/evm/keeper/utils_test.go
  x/evm/migrations/v4/migrate.go
  x/evm/types/key.go
  x/evm/types/params.go
Due: app, modules

refactor(params): refactor params store key
  x/evm/keeper/params.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/types/key.go
Due: modules

fix(rpc): align fee history (#1611)
  CHANGELOG.md
  gomod2nix.toml
  rpc/backend/chain_info.go
  rpc/backend/chain_info_test.go
  rpc/backend/utils.go
  rpc/types/types.go
  tests/integration_tests/test_fee_history.py
  tests/rpc/rpc_test.go
Due: clients

refactor(params): remove unnecessary store keys
  x/evm/types/params.go
Due: modules

add comments
  server/start.go
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
