Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

fix
  rpc/ethereum/types/utils.go
  rpc/websockets.go
Due: clients

Problem: newPendingTransactions filter don't return ethereum tx hash (#900)
  CHANGELOG.md
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  server/json_rpc.go
Due: clients

support batch eth tx
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  x/evm/client/rest/rest.go
  x/evm/types/utils.go
  x/evm/types/utils_test.go
Due: app, modules, clients

fix transaction receipt api
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/utils.go
Due: clients

fix tx receipt api and accumulate tx gas used
  app/ante/eth.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/types/utils.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/types/events.go
  x/evm/types/key.go
Due: app, modules, clients

fix lint
  app/ante/eth.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/utils.go
Due: app, clients

fix test
  app/ante/eth_test.go
Due: app

fix rpc test
  rpc/ethereum/backend/utils.go
Due: clients

cleanup
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
Due: modules

fix cumulativeGasUsed and gasUsed
  app/ante/eth.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/utils.go
Due: app, clients

fix lint
  rpc/ethereum/types/utils.go
Due: clients

Update app/ante/eth.go
  app/ante/eth.go
Due: app

Update rpc/ethereum/backend/utils.go
  rpc/ethereum/backend/utils.go
Due: clients

pr suggestions
  CHANGELOG.md
  app/ante/eth.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/utils.go
  x/evm/spec/02_state.md
  x/evm/spec/07_events.md
Due: app, modules, clients

typo
  x/evm/spec/02_state.md
Due: modules

fix lint
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
Due: clients

impr: support batch eth txs (#901)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  x/evm/client/rest/rest.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/spec/02_state.md
  x/evm/spec/07_events.md
  x/evm/types/events.go
  x/evm/types/key.go
  x/evm/types/utils.go
  x/evm/types/utils_test.go
Due: app, modules, clients

make trace transaction api work with batch tx
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/utils.go
Due: clients

review suggestion
  rpc/ethereum/types/utils.go
Due: clients

add api.enable flag for Cosmos SDK Rest server
  init.sh
  server/flags/flags.go
  server/start.go
  tests/solidity/init-test-node.sh
Due: none

rpc: make trace transaction api work with batch tx (#907)
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/utils.go
Due: clients

fix insufficient fee error message
  app/ante/eth.go
Due: app

fix insufficient fee error message (#911)
  app/ante/eth.go
Due: app

update changelog
  CHANGELOG.md
Due: none

server: add `api.enable` flag for Cosmos SDK API server (#908)
  CHANGELOG.md
  init.sh
  server/flags/flags.go
  server/start.go
  tests/solidity/init-test-node.sh
Due: none

deps: bump SDK version to v0.45.0
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

deprecation fix
  client/testnet.go
Due: clients

deprecation fix 2
  testutil/network/network.go
Due: none

deps: bump Cosmos SDK version to `v0.45.0` (#912)
  CHANGELOG.md
  client/testnet.go
  go.mod
  go.sum
  testutil/network/network.go
Due: clients

add SimpleStorage compile contract
  x/evm/types/SimpleStorageContract.json
  x/evm/types/compiled_contract.go
Due: modules

migrate rpc tests into integration tests
  tests/e2e/integration_test.go
Due: none

update ContractDeploymentNoGas test depecrated transaction
  tests/e2e/integration_test.go
Due: none

add comment
  tests/e2e/integration_test.go
Due: none

add old balance state test
  tests/e2e/integration_test.go
Due: none

small refactor
  tests/e2e/integration_test.go
Due: none

update comment
  tests/e2e/integration_test.go
Due: none

add blockTransactionHash case
  tests/e2e/integration_test.go
Due: none

remove old rpc tests
  tests/rpc/rpc_test.go
Due: none
