Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

changelog: v0.12.2
  CHANGELOG.md
  client/testnet.go
  rpc/ethereum/backend/feebackend.go
  signed.json
  tests/importer/chain_ctx.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/migrations/v010/migrate.go
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/migrations/v09/types/feemarket.pb copy.go
  x/feemarket/migrations/v09/types/genesis.pb copy.go
  x/feemarket/types/keys.go
Due: modules, clients

fix
  signed.json
Due: none

changelog: v0.12.2 (#1022)
  CHANGELOG.md
  client/testnet.go
  rpc/ethereum/backend/feebackend.go
  tests/importer/chain_ctx.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/migrations/v010/migrate.go
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/migrations/v09/types/feemarket.pb copy.go
  x/feemarket/migrations/v09/types/genesis.pb copy.go
  x/feemarket/types/keys.go
Due: modules, clients

remove proto message registration from legacy v09 types to fix conflict with existing types
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/migrations/v09/types/feemarket.pb copy.go
  x/feemarket/migrations/v09/types/genesis.pb copy.go
Due: modules

fix r.Read return only 1 result
  app/test_helpers.go
Due: app

fix linter errors
  x/evm/simulation/operations.go
Due: modules

change SimulateContext to private
  x/evm/simulation/operations.go
Due: modules

return transferable amount immediately
  x/evm/simulation/operations.go
Due: modules

fix linter errors
  app/test_helpers.go
Due: app

fix linter errors: append assign to different slice
  x/evm/simulation/operations.go
Due: modules

fix linter error: remove else block
  x/evm/simulation/operations.go
Due: modules

use gofumpt
  x/evm/simulation/operations.go
Due: modules

fix: update feemarket REST endpoints
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/feemarket/v1/query.proto
  scripts/proto-tools-installer.sh
  x/feemarket/types/query.pb.go
  x/feemarket/types/query.pb.gw.go
Due: clients

changelog
  CHANGELOG.md
Due: none

fix: update feemarket REST endpoints (#1026)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/feemarket/v1/query.proto
  scripts/proto-tools-installer.sh
  x/feemarket/types/query.pb.go
  x/feemarket/types/query.pb.gw.go
Due: clients

x/evm - PostTxProcessing use message as callback input
  x/evm/handler_test.go
  x/evm/keeper/hooks.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/interfaces.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Use core.Message for the PostTxProcessing hook (PR review)
  x/evm/handler_test.go
  x/evm/keeper/hooks.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/types/interfaces.go
Due: modules

evm: PostTxProcessing hook - include the full message data (#1027)
  CHANGELOG.md
  x/evm/handler_test.go
  x/evm/keeper/hooks.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/interfaces.go
Due: modules

add log after tx post processing hook
  CHANGELOG.md
  x/evm/keeper/state_transition.go
Due: modules

Update x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition.go
Due: modules

fix lint workflow
  .github/workflows/lint.yml
  Makefile
Due: none

fix comment
  x/evm/keeper/state_transition.go
Due: modules

remove format
  .github/workflows/lint.yml
Due: none

change checkout with setup-go
  .github/workflows/lint.yml
Due: none

update comment
  x/evm/handler_test.go
Due: modules

add checkout
  .github/workflows/lint.yml
Due: none

add lint issue
  Makefile
  x/evm/keeper/state_transition.go
Due: modules

revert lint error
  x/evm/keeper/state_transition.go
Due: modules

upgrade cosmos-sdk to v0.45.2
  go.mod
  go.sum
Due: none

fix: lint workflow (#1028)
  .github/workflows/lint.yml
  Makefile
  x/evm/handler_test.go
  x/evm/keeper/state_transition.go
Due: modules

deps: upgrade cosmos-sdk to v0.45.2 (#1029)
  go.mod
  go.sum
Due: none

evm: allow to append logs after a post processing hook (#1025)
  CHANGELOG.md
  x/evm/keeper/state_transition.go
Due: modules

fix: remove proto message registration from legacy v09 types to fix conflict (#1023)
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/migrations/v09/types/feemarket.pb copy.go
  x/feemarket/migrations/v09/types/genesis.pb copy.go
Due: modules

Update x/evm/simulation/operations.go
  x/evm/simulation/operations.go
Due: modules

fix
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/migrations/v09/types/feemarket.pb.go
  x/feemarket/migrations/v09/types/genesis.pb.go
Due: modules

update changelog
  CHANGELOG.md
Due: none
