Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

Adjust deprecated sdkerrors import
  app/ante/ante.go
  app/ante/eip712.go
  app/ante/eth.go
  app/ante/fee_checker.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/handler_options.go
  app/ante/mempool.go
  app/ante/reject_msgs.go
  app/ante/setup.go
  app/ante/sigverify.go
Due: app

Update .protolint.yml with Evmos settings
  .protolint.yml
Due: none

Add super-linter.yml for GH action
  .github/workflows/super-linter.yml
Due: none

Copy .markdownlint.yml settings from Evmos
  .markdownlint.yml
Due: none

Sort proto imports
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
Due: none

Adjust deprecated sdkerrors import (#1493)
  app/ante/ante.go
  app/ante/eip712.go
  app/ante/eth.go
  app/ante/fee_checker.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/handler_options.go
  app/ante/mempool.go
  app/ante/reject_msgs.go
  app/ante/setup.go
  app/ante/sigverify.go
Due: app

fix(tests): Delete inconsistent test (#1481)
  x/evm/keeper/grpc_query_test.go
Due: modules

refactor test files
  app/ante/eth_test.go
  app/ante/fees.go
  app/ante/fees_test.go
  app/ante/mempool.go
  app/ante/setup_test.go
  app/ante/signverify_test.go
Due: app

Merge main and fix conflicts
  app/ante/utils_test.go
Due: app

Apply suggestions from code review
  tests/integration_tests/test_account.py
Due: none

chore: refactor imports naming for clarity (#1491)
  app/ante/utils_test.go
Due: app

crosscheck with ws & geth
  tests/integration_tests/test_account.py
Due: none

wait new blk right before send tx
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: none

larger timeout_commit for priority test
  tests/integration_tests/configs/long_timeout_commit.jsonnet
  tests/integration_tests/test_priority.py
Due: none

larger timeout_commit for mempool related test
  tests/integration_tests/conftest.py
  tests/integration_tests/network.py
  tests/integration_tests/test_priority.py
Due: none

keep cluster in module scope
  tests/integration_tests/conftest.py
  tests/integration_tests/test_filters.py
  tests/integration_tests/test_priority.py
Due: none

mv chain id test to cluster used test
  tests/integration_tests/test_basic.py
  tests/integration_tests/test_filters.py
Due: none

sync gomod2nix
  gomod2nix.toml
Due: none

tests(filters) add topics filter test cases
  package-lock.json
  package.json
  tests/integration_tests/contracts/contracts/Mars.sol
  tests/integration_tests/contracts/contracts/TestERC20A.sol
  tests/integration_tests/contracts/hardhat.config.ts
  tests/integration_tests/contracts/package-lock.json
  tests/integration_tests/contracts/package.json
  tests/integration_tests/package-lock.json
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: none

adjust timeout_commit
  tests/integration_tests/configs/cosmovisor.jsonnet
  tests/integration_tests/configs/default.jsonnet
Due: none

(refactor): registered implementation for the new msg
  x/evm/types/codec.go
Due: modules

retry to send tx instead of wait
  tests/integration_tests/test_gas.py
  tests/integration_tests/utils.py
Due: none

lint fix
  tests/integration_tests/test_gas.py
Due: none

fix test priority
  tests/integration_tests/test_priority.py
Due: none

Update rpc/backend/utils.go
  rpc/backend/utils.go
Due: clients

tests(filters) fix linting errors
  tests/integration_tests/test_filters.py
Due: none

Apply suggestions from code review
  app/ante/eip712.go
  app/ante/fees.go
  app/ante/setup.go
  app/ante/sigverify.go
  x/evm/types/tx.go
Due: app, modules

address protolint error in all Protobuf files
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  proto/ethermint/types/v1/indexer.proto
  proto/ethermint/types/v1/web3.proto
Due: none

lint
  app/ante/eip712.go
  app/ante/setup.go
Due: app

update Makefile to mirror Proto commands for Evmos
  Makefile
Due: none

remove unnecessary go get command in protocgen.sh when using cosmos docker image
  scripts/protocgen.sh
Due: none

copy .clang-format from Evmos repo
  .clang-format
Due: none

apply make proto-format
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/types/v1/account.proto
Due: none

Execute make proto-all after changes to config are complete
  crypto/ethsecp256k1/keys.pb.go
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
Due: none

use session provider
  tests/integration_tests/test_account.py
Due: none

address last linter comment
  proto/ethermint/evm/v1/query.proto
  x/evm/types/query.pb.go
Due: none

fix: align empty account result for old blocks as ethereum (#1484)
  CHANGELOG.md
  gomod2nix.toml
  rpc/backend/utils.go
  tests/integration_tests/test_account.py
  tests/integration_tests/utils.py
Due: clients

prioritization comment
  x/evm/types/tx.go
Due: modules

fix test
  app/ante/fees_test.go
Due: app
