Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

update nix
  gomod2nix.toml
Due: none

separate contract to avoid gas change
  tests/integration_tests/hardhat/contracts/TestERC20A.sol
  tests/integration_tests/hardhat/contracts/TestRevert.sol
  tests/integration_tests/test_estimate_gas.py
  tests/integration_tests/utils.py
Due: none

bump btcd for security fix (#1716)
  crypto/hd/algorithm.go
  crypto/hd/algorithm_test.go
  crypto/hd/utils_test.go
  go.mod
  go.sum
  gomod2nix.toml
  server/start.go
  server/util.go
Due: core

fix typo on comment
  rpc/types/utils.go
Due: clients

update gomod2nix
  gomod2nix.toml
Due: none

fix: align filter rule for debug trace block (#1688)
  CHANGELOG.md
  gomod2nix.toml
  rpc/backend/tracing.go
  rpc/backend/tracing_test.go
  rpc/types/utils.go
  tests/integration_tests/test_account.py
  tests/integration_tests/test_debug_trace.py
  tests/integration_tests/utils.py
Due: clients

fix template
  server/config/toml.go
Due: none

rename parameter
  x/evm/keeper/state_transition.go
Due: modules

separate lines
  x/evm/types/msg.go
Due: modules

run gofumpt
  x/evm/types/msg.go
Due: modules

Problem: repeated tx sender recovery is wastful (#1717)
  CHANGELOG.md
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/types/msg.go
Due: modules

fix: add required checks for max ints and msg signing validation
  rpc/backend/account_info.go
  rpc/backend/blocks.go
  rpc/backend/sign_tx.go
  rpc/backend/tracing.go
Due: clients

fix: lint issues
  client/keys/add.go
  ethereum/eip712/eip712.go
  rpc/backend/node_info.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/miner/unsupported.go
  rpc/websockets.go
  tests/importer/chain_ctx.go
  x/evm/keeper/abci.go
  x/evm/keeper/config.go
  x/evm/keeper/grpc_query.go
  x/evm/statedb/statedb.go
  x/evm/types/access_list_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/tracer.go
  x/evm/types/tx_args.go
  x/feemarket/keeper/abci.go
Due: modules, clients

fix: lint issues (#1731)
  client/keys/add.go
  ethereum/eip712/eip712.go
  rpc/backend/node_info.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/miner/unsupported.go
  rpc/websockets.go
  tests/importer/chain_ctx.go
  x/evm/keeper/abci.go
  x/evm/keeper/config.go
  x/evm/keeper/grpc_query.go
  x/evm/statedb/statedb.go
  x/evm/types/access_list_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/tracer.go
  x/evm/types/tx_args.go
  x/feemarket/keeper/abci.go
Due: modules, clients

fix docker-build command
  Makefile
Due: none

fix docker-build command (#1737)
  Makefile
Due: none

fix wrong client route for ibc
  app/app.go
Due: app

add change doc
  CHANGELOG.md
Due: none

imp: remove distribution perms
  app/app.go
Due: app

update changelog
  CHANGELOG.md
Due: none

imp: remove distribution perms (#1739)
  CHANGELOG.md
  app/app.go
Due: app

fix: add authz ante handler
  app/ante/authz.go
  app/ante/authz_test.go
  app/ante/eip712.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  testutil/abci.go
  testutil/constants.go
  testutil/fund.go
  testutil/tx/cosmos.go
  testutil/tx/eip712.go
  testutil/tx/signer.go
Due: app

fix tests
  app/ante/authz_test.go
  app/ante/utils_test.go
  testutil/fund.go
  testutil/tx/cosmos.go
  testutil/tx/eip712.go
  testutil/tx/signer.go
Due: app

fix constants
  testutil/abci.go
  testutil/constants.go
  testutil/tx/cosmos.go
Due: none

remove unnecesary setup
  app/ante/utils_test.go
Due: app

fix commit
  testutil/abci.go
Due: none

fix lint
  testutil/abci.go
Due: none

Address changes in authz.go and partially refactor unit tests
  app/ante/authz.go
  app/ante/authz_test.go
Due: app

Refactor duplicate test utils and improve naming
  app/ante/authz_test.go
Due: app

Refactor test suite to improve code quality
  app/ante/authz_test.go
  testutil/tx/cosmos.go
Due: app

Fix EIP-712 testutil comment header
  testutil/tx/eip712.go
Due: none

Add DisabledAuthzMsgs to handler options
  app/ante/authz.go
  app/ante/authz_test.go
  app/ante/eip712.go
  app/ante/handler_options.go
  app/app.go
Due: app

Add ante test
  app/ante/ante_test.go
  app/ante/out.txt
  app/ante/utils_test.go
Due: app

Add minor code-quality refactors
  app/ante/authz.go
  app/ante/authz_test.go
  app/ante/eip712.go
  app/ante/out.txt
  app/ante/utils_test.go
Due: app

fix: add authz ante handler (#1741)
  app/ante/ante_test.go
  app/ante/authz.go
  app/ante/authz_test.go
  app/ante/eip712.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  app/app.go
  testutil/abci.go
  testutil/constants.go
  testutil/fund.go
  testutil/tx/cosmos.go
  testutil/tx/eip712.go
  testutil/tx/signer.go
Due: app

Migrate updated EIP-712 algorithm from Evmos
  app/ante/ante_test.go
  app/ante/eip712.go
  app/ante/utils_test.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/domain.go
  ethereum/eip712/eip712_fuzzer_test.go
  ethereum/eip712/eip712_legacy.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding_legacy.go
  ethereum/eip712/message.go
  ethereum/eip712/preprocess.go
  ethereum/eip712/preprocess_test.go
  ethereum/eip712/types.go
  go.mod
  go.sum
  testutil/tx/eip712.go
Due: app, core

Update licenses for Ethermint
  ethereum/eip712/domain.go
  ethereum/eip712/eip712.go
  ethereum/eip712/eip712_legacy.go
  ethereum/eip712/encoding.go
  ethereum/eip712/encoding_legacy.go
  ethereum/eip712/message.go
  ethereum/eip712/types.go
Due: none

update gomod2nix and go mod tidy
  go.mod
  gomod2nix.toml
Due: none

Move ante test suite execution to ante_test
  app/ante/ante_test.go
  app/ante/utils_test.go
Due: app

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
