Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

update changelog
  CHANGELOG.md
Due: none

Update x/evm/types/params.go
  x/evm/types/params.go
Due: modules

Refactor accessListTx Test suits to use TxDataTestSuite
  x/evm/types/access_list_test.go
Due: modules

Update x/evm/keeper/context_stack.go
  x/evm/keeper/context_stack.go
Due: modules

evm: unit tests (#619)
  x/evm/types/access_list_test.go
  x/evm/types/chain_config_test.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/genesis_test.go
  x/evm/types/legacy_tx.go
  x/evm/types/legacy_tx_test.go
  x/evm/types/msg.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: modules

evm: fix panic when transaction is reverted (#650)
  CHANGELOG.md
  x/evm/keeper/context_stack.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
Due: modules

Add bencher config with global +-10% threshhold for improvements and regressions
  .bencher/config.yaml
Due: none

chore: merge v0.7.0 to main
  .github/workflows/test.yml
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  x/evm/types/evm.pb.go
  x/feemarket/types/feemarket.pb.go
Due: clients

chore: merge `v0.7.0` to main (#651)
  .github/workflows/test.yml
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  x/evm/types/evm.pb.go
  x/feemarket/types/feemarket.pb.go
Due: clients

ci: add bencher config (#652)
  .bencher/config.yaml
Due: none

bump timeout
  .github/workflows/test.yml
Due: none

ci: fix solidity tests (#278)
  .github/workflows/test.yml
  Makefile
  scripts/run-solidity-tests.sh
  tests/solidity/init-test-node.sh
  tests/solidity/suites/basic/test/counter.js
  tests/solidity/suites/basic/test/estimateGas.js
  tests/solidity/suites/proxy/test/depositable_delegate_proxy.js
  tests/solidity/test-helper.js
Due: none

fix conflicts
  x/evm/types/access_list_test.go
  x/evm/types/chain_config_test.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/genesis_test.go
  x/evm/types/legacy_tx.go
  x/evm/types/legacy_tx_test.go
  x/evm/types/msg.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: modules

rpc: test fix (#608)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/filter_system.go
  rpc/ethereum/namespaces/eth/filters/filters.go
  tests/rpc/net_test.go
  tests/rpc/personal_test.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  tests/rpc/utils.go
Due: clients

release: v0.7.1 cherry-picks
  Makefile
  client/docs/statik/statik.go
Due: clients

changelog
  CHANGELOG.md
Due: none

release: cherry picks `v0.7.1` (#653)
  .bencher/config.yaml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  client/docs/statik/statik.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/filter_system.go
  rpc/ethereum/namespaces/eth/filters/filters.go
  scripts/run-solidity-tests.sh
  tests/rpc/net_test.go
  tests/rpc/personal_test.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  tests/rpc/utils.go
  tests/solidity/init-test-node.sh
  tests/solidity/suites/basic/test/counter.js
  tests/solidity/suites/basic/test/estimateGas.js
  tests/solidity/suites/proxy/test/depositable_delegate_proxy.js
  tests/solidity/test-helper.js
  x/evm/keeper/context_stack.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/access_list_test.go
  x/evm/types/chain_config_test.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/genesis_test.go
  x/evm/types/legacy_tx.go
  x/evm/types/legacy_tx_test.go
  x/evm/types/msg.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: modules, clients

evm: fixed commented out simulations, pubsub, and handler tests
  app/app.go
  app/simulation_test.go
  rpc/ethereum/pubsub/pubsub_test.go
  x/evm/handler_test.go
  x/evm/module.go
  x/evm/simulation/genesis.go
  x/evm/types/genesis.go
  x/feemarket/module.go
  x/feemarket/simulation/genesis.go
  x/feemarket/types/genesis.go
Due: app, modules, clients

gofumpt
  app/simulation_test.go
  x/evm/handler_test.go
  x/evm/simulation/genesis.go
  x/feemarket/simulation/genesis.go
Due: app, modules

evm: fixed commented out simulations, pubsub, and handler tests (#655)
  app/app.go
  app/simulation_test.go
  rpc/ethereum/pubsub/pubsub_test.go
  x/evm/handler_test.go
  x/evm/module.go
  x/evm/simulation/genesis.go
  x/evm/types/genesis.go
  x/feemarket/module.go
  x/feemarket/simulation/genesis.go
  x/feemarket/types/genesis.go
Due: app, modules, clients

add eip1559 test
  tests/solidity/suites/eip1559/package.json
  tests/solidity/suites/eip1559/test/eip1559.js
  tests/solidity/suites/eip1559/truffle-config.js
  tests/solidity/yarn.lock
Due: none

Update test scripts and CI
  .github/workflows/test.yml
  scripts/run-solidity-tests.sh
  tests/solidity/test-helper.js
Due: none

Update timeout
  .github/workflows/test.yml
Due: none

Problem: nil pointer panic in ApplyNativeMessage
  x/evm/keeper/state_transition.go
Due: modules

Problem: No way to limit total number of filters that can be created
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
Due: clients

Add defer statement for releasing locks
  rpc/ethereum/namespaces/eth/filters/api.go
Due: clients

Update test-helper
  tests/solidity/test-helper.js
Due: none

use NewTracer
  x/evm/keeper/state_transition.go
Due: modules

deps: bump cosmos-sdk
  go.mod
  go.sum
Due: none

c++
  CHANGELOG.md
Due: none

deps: bump cosmos-sdk (#665)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

Change default value for filter cap to 200
  server/config/config.go
Due: none

Changed data type of filter cap to int32
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  server/config/config.go
  server/start.go
Due: clients

Add changelog entry
  CHANGELOG.md
Due: none

fix pubsub underterministic test
  rpc/ethereum/pubsub/pubsub_test.go
Due: clients
