Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

rpc, feemarket: store base fee in event (#673)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/types/utils.go
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/keeper.go
  x/feemarket/types/events.go
  x/feemarket/types/params.go
Due: modules, clients

remove duplicate type define
  x/evm/keeper/state_transition_benchmark_test.go
Due: modules

fix error return type
  x/evm/keeper/utils.go
Due: modules

handle file close logic
  rpc/ethereum/namespaces/debug/utils.go
Due: clients

update changelog
  CHANGELOG.md
Due: none

remove unused var
  app/export.go
  x/evm/keeper/state_transition_test.go
Due: app, modules

Update rpc/ethereum/namespaces/debug/utils.go
  rpc/ethereum/namespaces/debug/utils.go
Due: clients

remove unused var (#680)
  app/export.go
  x/evm/keeper/state_transition_test.go
Due: app, modules

Problem: No test on the transaction receipt api
  scripts/gen-tests-artifacts.sh
  tests/rpc/rpc_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/types/ERC20Contract.json
  x/evm/types/compiled_contract.go
Due: modules

lower gas fee
  tests/rpc/rpc_test.go
Due: none

build with go 1.17 in CI
  .github/workflows/build.yml
Due: none

use go 1.17 in test-solidity
  .github/workflows/test.yml
Due: none

tests: DynamicFeeTx (#649)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/utils_test.go
  app/test_helpers.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/types/msg.go
Due: app, modules

fix: handle file close logic (#679)
  CHANGELOG.md
  rpc/ethereum/namespaces/debug/utils.go
Due: clients

Problem: missing json rpc for eth_resend #675
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  server/config/config.go
  server/flags/flags.go
  server/start.go
  tests/rpc/rpc_test.go
Due: clients

fix lint
  rpc/ethereum/namespaces/eth/api.go
  tests/rpc/rpc_test.go
Due: clients

fix merge
  x/evm/keeper/grpc_query_test.go
Due: modules

add TestGetEthIntrinsicGas
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
Due: modules

more test cases in TestGetEthIntrinsicGas
  x/evm/keeper/state_transition_test.go
Due: modules

add GasToRefund tests
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
Due: modules

add TestRefundGas tests
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
Due: modules

made resetGasMeterAndConsumeGas public for testing
  x/evm/keeper/state_transition.go
Due: modules

remove duplicate leftoverGas check
  x/evm/keeper/state_transition.go
Due: modules

TestResetGasMeterAndConsumeGas tmp
  x/evm/keeper/state_transition_test.go
Due: modules

add mintFeeCollector flag for gas refund tests
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
Due: modules

add comment and check
  x/evm/keeper/keeper_test.go
Due: modules

add TestResetGasMeterAndConsumeGas
  x/evm/keeper/state_transition_test.go
Due: modules

rpc: transaction receipt test (#678)
  .github/workflows/build.yml
  .github/workflows/test.yml
  scripts/gen-tests-artifacts.sh
  tests/rpc/rpc_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/types/ERC20Contract.json
  x/evm/types/compiled_contract.go
Due: modules

Update x/evm/keeper/state_transition_test.go
  x/evm/keeper/state_transition_test.go
Due: modules

evm: unit tests for gas refund (#686)
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
Due: modules

Apply suggestions from code review
  rpc/ethereum/namespaces/eth/api.go
Due: clients

rpc: `eth_resend` (#684)
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  server/config/config.go
  server/flags/flags.go
  server/start.go
  tests/rpc/rpc_test.go
Due: clients

ci: update test scripts and actions (#657)
  .github/workflows/test.yml
  scripts/run-solidity-tests.sh
  tests/solidity/init-test-node.sh
  tests/solidity/package.json
  tests/solidity/patches/truffle+5.4.14.patch
  tests/solidity/suites/basic/package.json
  tests/solidity/suites/exception/package.json
  tests/solidity/suites/initializable-buidler/package.json
  tests/solidity/suites/initializable-buidler/test/lifecycle.js
  tests/solidity/suites/initializable/package.json
  tests/solidity/suites/initializable/test/lifecycle.js
  tests/solidity/suites/opcode/package.json
  tests/solidity/suites/proxy/package.json
  tests/solidity/suites/staking/package.json
  tests/solidity/suites/staking/patches/@aragon+contract-helpers-test+0.0.3.patch
  tests/solidity/suites/staking/patches/truffle+5.4.14.patch
  tests/solidity/suites/staking/test/locking/locking.js
  tests/solidity/suites/staking/test/staking_proxy.js
  tests/solidity/suites/storage/package.json
  tests/solidity/test-helper.js
  tests/solidity/yarn.lock
Due: none

eth_call/eth_estimateGas don't need to pass base fee externally
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  x/evm/keeper/grpc_query.go
  x/evm/types/query.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/feemarket/types/query.pb.gw.go
Due: modules, clients

refactor: `eth_call` and `eth_estimateGas` don't need to pass base fee as field (#671)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  x/evm/keeper/grpc_query.go
  x/evm/types/query.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/feemarket/types/query.pb.gw.go
Due: modules, clients

remove a dead branch
  tests/importer/importer_test.go
Due: none

deps: bump cosmos-sdk
  CHANGELOG.md
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
