Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

Problem: websocket client get duplicated messages
  rpc/ethereum/namespaces/eth/filters/filter_system.go
  rpc/ethereum/pubsub/pubsub.go
  rpc/websockets.go
Due: clients

changelog
  CHANGELOG.md
Due: none

fix lint issues
  rpc/ethereum/namespaces/eth/api.go
Due: clients

add crypto recovery offset
  rpc/ethereum/namespaces/eth/api.go
Due: clients

fix linter
  rpc/ethereum/pubsub/pubsub.go
  rpc/websockets.go
Due: clients

fix test building
  rpc/ethereum/pubsub/pubsub_test.go
Due: clients

add spec for feemarket
  x/feemarket/spec/01_concepts.md
  x/feemarket/spec/02_state.md
  x/feemarket/spec/03_keeper.md
  x/feemarket/spec/04_events.md
  x/feemarket/spec/05_params.md
  x/feemarket/spec/README.md
Due: modules

update spec from comments
  x/README.md
  x/feemarket/spec/01_concepts.md
  x/feemarket/spec/02_state.md
  x/feemarket/spec/03_begin_block.md
  x/feemarket/spec/04_end_block.md
  x/feemarket/spec/05_keeper.md
  x/feemarket/spec/05_params.md
  x/feemarket/spec/06_events.md
  x/feemarket/spec/07_params.md
  x/feemarket/spec/08_client.md
  x/feemarket/spec/09_future_improvements.md
  x/feemarket/spec/README.md
Due: modules

add more content for tip section
  x/feemarket/spec/01_concepts.md
Due: modules

update abstract
  x/feemarket/spec/README.md
Due: modules

update spec
  x/README.md
  x/feemarket/spec/02_state.md
  x/feemarket/spec/07_params.md
Due: modules

update with grpc query
  x/feemarket/spec/08_client.md
  x/feemarket/spec/README.md
Due: modules

update specs with latest behavior
  x/feemarket/spec/01_concepts.md
  x/feemarket/spec/02_state.md
  x/feemarket/spec/03_begin_block.md
  x/feemarket/spec/07_params.md
  x/feemarket/spec/README.md
Due: modules

cleanup unused store prefix
  x/feemarket/types/keys.go
Due: modules

Update x/feemarket/spec/01_concepts.md
  x/feemarket/spec/01_concepts.md
Due: modules

Apply suggestions from code review
  rpc/ethereum/namespaces/eth/api.go
Due: clients

Apply suggestions from code review
  x/feemarket/spec/01_concepts.md
Due: modules

docs: add spec for feemarket module (#889)
  x/README.md
  x/feemarket/spec/01_concepts.md
  x/feemarket/spec/02_state.md
  x/feemarket/spec/03_begin_block.md
  x/feemarket/spec/04_end_block.md
  x/feemarket/spec/05_keeper.md
  x/feemarket/spec/06_events.md
  x/feemarket/spec/07_params.md
  x/feemarket/spec/08_client.md
  x/feemarket/spec/09_future_improvements.md
  x/feemarket/spec/README.md
  x/feemarket/types/keys.go
Due: modules

add changelog
  CHANGELOG.md
Due: none

rpc: add support for `eth_signedTypedData` (#953)
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/api.go
Due: clients

fix: websocket client duplicated messages (#955)
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/filters/filter_system.go
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
  rpc/websockets.go
Due: clients

test first try
  app/ante/ante_test.go
  app/ante/eip712.go
  app/ante/utils_test.go
Due: app

fix test
  app/ante/ante_test.go
  app/ante/utils_test.go
Due: app

fix tests
  app/ante/utils_test.go
Due: app

enforce fee delegated eip712
  app/ante/eip712.go
Due: app

verify signature refactor
  app/ante/eip712.go
Due: app

SignedTypedData api refactor
  rpc/ethereum/namespaces/eth/api.go
Due: clients

add AnteHandler test for EIP712
  app/ante/ante_test.go
  app/ante/utils_test.go
Due: app

remove comment
  app/ante/utils_test.go
Due: app

code clean up
  app/ante/eip712.go
Due: app

return more detailed error messages
  app/ante/eip712.go
Due: app

fix linter
  rpc/ethereum/namespaces/eth/api.go
Due: clients

remove unnecesary global vars
  app/ante/eip712.go
Due: app

Update app/ante/eip712.go
  app/ante/eip712.go
Due: app

fix pr comments
  app/ante/ante_test.go
  app/ante/eip712.go
Due: app

remove hardcoded value
  app/ante/utils_test.go
Due: app

add more tests
  app/ante/ante_test.go
Due: app

use sdk errors
  app/ante/eip712.go
Due: app

add MsgDelegate test
  app/ante/ante_test.go
  app/ante/eip712.go
  app/ante/utils_test.go
Due: app

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
