Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

Fix: typos (#1602)
  docs/api/proto-docs.md
  docs/architecture/README.md
  docs/architecture/adr-001-state.md
Due: none

fix: avoid duplicate register proto type in evm & feemarket (#1586)
  app/app.go
  gomod2nix.toml
  tests/integration_tests/configs/upgrade-test-package.nix
  tests/integration_tests/cosmoscli.py
  x/evm/keeper/keeper.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/params.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/types/events.pb.go
  x/evm/types/params.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/keeper/params.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/migrations/v4/migrate_test.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
Due: app, modules

update nix
  gomod2nix.toml
Due: none

Update tests/integration_tests/test_message_call.py
  tests/integration_tests/test_message_call.py
Due: none

Refactor to use gJSON library; add tests
  ethereum/eip712/eip712.go
  ethereum/eip712/eip712_fuzzer_test.go
  ethereum/eip712/eip712_test.go
  go.mod
  go.sum
Due: none

Run gofumpt on eip712.go
  ethereum/eip712/eip712.go
Due: none

Update go.mod
  go.mod
Due: none

fix: updated Changelog
  CHANGELOG.md
Due: none

fix: removed linking
  CHANGELOG.md
Due: none

chore: update changelog (#1605)
  CHANGELOG.md
Due: none

changelog: added rc-1 changelog entry
  CHANGELOG.md
Due: none

fix: typo fix rc1
  CHANGELOG.md
Due: none

release: v0.21.0-rc1 changelog (#1606)
  CHANGELOG.md
Due: none

fix: updated Changelog to include rc-1 release
  CHANGELOG.md
Due: none

fix: updated Changelog to include rc-1 release (#1607)
  CHANGELOG.md
Due: none

set default FixRevertGasRefundHeight
  server/config/config.go
Due: none

minor comments fix
  rpc/backend/tx_info.go
Due: clients

fix lint
  rpc/backend/tx_info.go
Due: clients

Add edge cases and functionality tests; debug empty array issue; improve code quality
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
  ethereum/eip712/eip712_test.go
Due: app

Address lint issues
  ethereum/eip712/eip712.go
  ethereum/eip712/eip712_test.go
Due: none

Rename chainID variable for linter
  ethereum/eip712/eip712.go
Due: none

fix sol warning
  tests/integration_tests/hardhat/contracts/TestMessageCall.sol
Due: none

fix(rpc): patch gas used api for block less than upgrade height (#1557)
  CHANGELOG.md
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  tests/integration_tests/configs/default.jsonnet
Due: clients

update nix
  go.mod
  gomod2nix.toml
Due: none

support backup grpc client
  rpc/apis.go
  rpc/backend/backend.go
  server/json_rpc.go
  server/start.go
  tests/integration_tests/configs/backup.jsonnet
  tests/integration_tests/configs/main.jsonnet
  tests/integration_tests/test_backup_grpc.py
  tests/integration_tests/utils.py
  testutil/network/util.go
Due: clients

support grpc client map
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/tracing.go
  server/json_rpc.go
  server/start.go
  testutil/network/util.go
Due: clients

config deprecate migrate height
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
  tests/integration_tests/configs/default.jsonnet
Due: none

apply backup grpc client
  rpc/backend/account_info.go
  rpc/backend/blocks.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
Due: clients

Revert "keep grpc query compatible with version before migrate"
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/keeper/params.go
Due: app, modules

cleanup todo
  rpc/backend/call_tx.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
  tests/integration_tests/configs/backup.jsonnet
  tests/integration_tests/configs/default.jsonnet
Due: clients

cant use var as key in toml
  server/config/config.go
  server/config/toml.go
  server/start.go
  tests/integration_tests/configs/backup.jsonnet
Due: none

revert keep grpc query compatible with version before feemarket migrate
  app/app.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/params.go
Due: app, modules

fix config
  server/config/config.go
  server/config/toml.go
  server/start.go
  tests/integration_tests/configs/backup.jsonnet
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/configs/main.jsonnet
  tests/integration_tests/test_backup_grpc.py
  tests/integration_tests/test_upgrade.py
Due: none

support backup for eth_call
  rpc/backend/call_tx.go
  tests/integration_tests/configs/upgrade-test-package.nix
Due: clients

fix lint
  rpc/backend/tracing.go
  testutil/network/util.go
Due: clients

fix test
  rpc/backend/backend_suite_test.go
Due: clients

update change doc
  CHANGELOG.md
Due: none

fix lint
  rpc/apis.go
  tests/integration_tests/test_upgrade.py
  tests/integration_tests/utils.py
Due: clients
