Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

changelog
  CHANGELOG.md
Due: none

conflicts
  x/evm/keeper/grpc_query_test.go
Due: modules

update go version
  nix/go-ethereum.nix
Due: none

remove maxTxGas server flag
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  app/app.go
  server/start.go
Due: app

remove flag
  server/flags/flags.go
Due: none

add GetTendermintBlockByNumber tests
  rpc/backend/backend_suite_test.go
  rpc/backend/evm_backend_test.go
Due: clients

update changelog
  CHANGELOG.md
Due: none

refactor mock tests
  rpc/backend/backend_suite_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_backend_test.go
  rpc/backend/query_client_test.go
Due: clients

refactor
  rpc/backend/client_test.go
  rpc/backend/evm_backend_test.go
  rpc/backend/query_client_test.go
Due: clients

fix tests
  app/ante/eth_test.go
  server/config/config.go
Due: app

wip backend EthBlockFromTendermint test
  rpc/backend/backend_suite_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_backend.go
  rpc/backend/evm_backend_test.go
  rpc/backend/query_client_test.go
  x/evm/keeper/grpc_query.go
Due: modules, clients

wip backend EthBlockFromTendermint test
  rpc/backend/backend_suite_test.go
  rpc/backend/evm_backend.go
  rpc/backend/evm_backend_test.go
  rpc/backend/utils.go
Due: clients

release: v0.17.2 changelog
  CHANGELOG.md
Due: none

release: v0.17.2 changelog (#1203)
  CHANGELOG.md
Due: none

refactor backend EthBlockFromTendermint test
  rpc/backend/client_test.go
  rpc/backend/evm_backend_test.go
  rpc/backend/query_client_test.go
Due: clients

add TestGetTendermintBlockResultByNumber
  rpc/backend/client_test.go
  rpc/backend/evm_backend_test.go
Due: clients

imp(tests): integration tests setup (#1196)
  .github/workflows/test.yml
  .gitignore
  Makefile
  default.nix
  gomod2nix.toml
  nix/default.nix
  nix/go-ethereum.nix
  nix/go_1_18_overlay.nix
  nix/scripts.nix
  nix/sources.json
  nix/sources.nix
  nix/testenv.nix
  scripts/.env
  scripts/contract-test.sh
  scripts/ethermint-devnet.yaml
  scripts/geth-genesis.json
  scripts/run-integration-tests.sh
  scripts/start-ethermint.sh
  scripts/start-geth.sh
  tests/integration_tests/__init__.py
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/conftest.py
  tests/integration_tests/contracts/.gitignore
  tests/integration_tests/contracts/README.md
  tests/integration_tests/contracts/contracts/TestERC20.sol
  tests/integration_tests/contracts/hardhat.config.ts
  tests/integration_tests/contracts/package-lock.json
  tests/integration_tests/contracts/package.json
  tests/integration_tests/contracts/tsconfig.json
  tests/integration_tests/network.py
  tests/integration_tests/poetry.lock
  tests/integration_tests/pyproject.toml
  tests/integration_tests/shell.nix
  tests/integration_tests/test_basic.py
  tests/integration_tests/utils.py
Due: none

add GetBlockByNumber tests
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_backend.go
  rpc/backend/evm_backend_test.go
  rpc/types/utils_test.go
Due: clients

refactor mocks
  rpc/backend/backend_suite_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_backend_test.go
  rpc/backend/query_client_test.go
Due: clients

fix spelling
  rpc/backend/evm_backend.go
  rpc/backend/evm_backend_test.go
Due: clients

types tests
  tests/integration_tests/test_types.py
  tests/integration_tests/utils.py
Due: none

cleanup
  tests/integration_tests/utils.py
Due: none

cleanup
  tests/integration_tests/test_types.py
Due: none

first pass
  tests/integration_tests/configs/pruned_node.jsonnet
  tests/integration_tests/test_pruned_node.py
Due: none

change default maxGasWanted
  app/ante/eth.go
  app/ante/eth_test.go
  server/config/config.go
Due: app

Reuse cosmos-sdk client library to create keyring
  client/export.go
  client/import.go
  client/keys.go
  client/keys/add.go
  client/keys/keys.go
  client/keys/utils.go
  cmd/ethermintd/genaccounts.go
Due: clients

extra comment
  tests/integration_tests/test_pruned_node.py
Due: none

change default maxGasWanted (#1208)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  server/config/config.go
Due: app

remove stakingkeeper dependency from evmkeeper
  app/app.go
  app/evm_functions.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
Due: app, modules

ree
  x/evm/keeper/keeper.go
Due: modules

fix ci
  app/evm_functions.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
Due: app, modules

merge evmos-main
  go.sum
Due: none

merge evmos-main
  ethereum/eip712/eip712.go
Due: none

nolint
  ethereum/eip712/eip712.go
Due: none

Set priority for eth transactions
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/interfaces.go
  rpc/namespaces/ethereum/eth/api.go
  x/evm/keeper/keeper.go
  x/evm/keeper/utils.go
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/tx_data.go
Due: app, modules, clients

Apply feemarket to native cosmos tx
  CHANGELOG.md
  app/app.go
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/tx.proto
  x/evm/keeper/sdk_tx.go
  x/evm/types/codec.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/extension_option.go
  x/evm/types/tx.pb.go
  x/evm/types/utils.go
Due: app, modules

fallback to default sdk logic when london hardfork not enabled
  go.mod
  go.sum
  x/evm/keeper/sdk_tx.go
  x/evm/keeper/utils.go
Due: modules
