Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

first pass
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
Due: none

refractor
  rpc/websockets.go
  server/json_rpc.go
  server/start.go
  server/util.go
Due: clients

update changelog
  CHANGELOG.md
Due: none

fix test build
  testutil/network/util.go
Due: none

Problem: feemarket's query cli has redundant height parameter
  CHANGELOG.md
  x/feemarket/client/cli/query.go
Due: modules

Apply feemarket to native cosmos tx
  CHANGELOG.md
  app/ante/ante.go
  app/ante/sdk_tx_fee.go
  app/simulation_test.go
  docs/api/proto-docs.md
  proto/ethermint/types/v1/dynamic_fee.proto
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/network.py
  tests/integration_tests/test_priority.py
  tests/integration_tests/utils.py
  types/codec.go
  types/dynamic_fee.go
  types/dynamic_fee.pb.go
  x/evm/keeper/utils.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/evm.pb.go
  x/evm/types/utils.go
  x/feemarket/keeper/integration_test.go
Due: app, modules, core

fix unit tests
  app/ante/ante_test.go
  app/ante/eth_test.go
Due: app

fix integration test
  tests/integration_tests/test_priority.py
Due: none

improve unit test coverage
  app/ante/interfaces.go
  app/ante/sdk_tx_fee.go
  app/ante/sdk_tx_fee_test.go
Due: app

Problem: feemarket's query cli has redundant height parameter (#1230)
  CHANGELOG.md
  x/feemarket/client/cli/query.go
Due: modules

fix go lint
  app/ante/sdk_tx_fee.go
Due: app

Apply suggestions from code review
  CHANGELOG.md
  server/config/config.go
Due: none

refactor
  app/ante/ante.go
  app/ante/fee_checker.go
  app/ante/fee_checker_test.go
  app/ante/sdk_tx_fee.go
  app/ante/sdk_tx_fee_test.go
  rpc/backend/evm_backend_test.go
Due: app, clients

Store eth tx index separately
  CHANGELOG.md
  docs/api/proto-docs.md
  proto/ethermint/types/v1/indexer.proto
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/events.go
  rpc/types/events_test.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/indexer.go
  server/indexer_cmd.go
  server/indexer_service.go
  server/indexer_test.go
  server/json_rpc.go
  server/start.go
  server/util.go
  testutil/network/util.go
  types/indexer.go
  types/indexer.pb.go
Due: core, clients

fix simulation tests
  app/ante/ante.go
  app/app.go
Due: app

Apply suggestions from code review
  rpc/backend/tx_info.go
Due: clients

tests(rpc): add pending transaction filter test
  tests/integration_tests/README.md
  tests/integration_tests/test_filters.py
Due: none

test enable-indexer in integration test
  tests/integration_tests/conftest.py
Due: none

fix go lint
  server/indexer.go
  tests/integration_tests/configs/enable-indexer.jsonnet
  tests/integration_tests/conftest.py
Due: none

add comments
  server/util.go
Due: none

fix go linter
  app/ante/fee_checker.go
Due: app

Add support for `MaxOpenConnections` (#1229)
  CHANGELOG.md
  rpc/websockets.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
  server/util.go
  testutil/network/util.go
Due: clients

address review suggestions
  server/indexer.go
Due: none

fix linter
  server/config/config.go
  server/flags/flags.go
Due: none

tests(rpc): add block filter and event log test
  tests/integration_tests/README.md
  tests/integration_tests/contracts/contracts/Greeter.sol
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Due: none

tests(rpc): simplify to cluster instead of comparing types
  rpc/namespaces/ethereum/eth/filters/api.go
  tests/integration_tests/test_filters.py
Due: clients

feat!: Apply feemarket to native cosmos tx (#1194)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/ante_test.go
  app/ante/eth_test.go
  app/ante/fee_checker.go
  app/ante/fee_checker_test.go
  app/ante/interfaces.go
  app/app.go
  app/simulation_test.go
  docs/api/proto-docs.md
  proto/ethermint/types/v1/dynamic_fee.proto
  rpc/backend/evm_backend_test.go
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/network.py
  tests/integration_tests/test_priority.py
  tests/integration_tests/utils.py
  types/codec.go
  types/dynamic_fee.go
  types/dynamic_fee.pb.go
  x/evm/keeper/utils.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/evm.pb.go
  x/evm/types/utils.go
  x/feemarket/keeper/integration_test.go
Due: app, modules, core, clients

Merge pull request from GHSA-f92v-grc2-w2fg
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Due: modules

Merge pull request from GHSA-f92v-grc2-w2fg (#1234)
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Due: modules

address review suggestions
  default.nix
  docs/api/proto-docs.md
  indexer/kv_indexer.go
  proto/ethermint/types/v1/indexer.proto
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_info.go
  rpc/backend/evm_backend_test.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
  rpc/types/utils.go
  server/indexer_cmd.go
  server/start.go
  types/indexer.pb.go
Due: clients

fix build
  server/start.go
Due: none

fix test
  indexer/kv_indexer_test.go
Due: none

service name
  server/indexer_service.go
Due: none

tests(rpc): wip filter by address
  rpc/namespaces/ethereum/eth/filters/api.go
  tests/integration_tests/test_filters.py
Due: clients

imp(deps): Geth upgrade v1.10.19 (#1159)
  CHANGELOG.md
  app/ante/utils_test.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  rpc/types/block.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations.go
  x/evm/keeper/state_transition.go
  x/evm/migrations/v2/types/chain_config.go
  x/evm/migrations/v3/migrate.go
  x/evm/migrations/v3/migrate_test.go
  x/evm/migrations/v3/types/chain_config.go
  x/evm/migrations/v3/types/evm.pb.go
  x/evm/migrations/v3/types/params.go
  x/evm/module.go
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: app, modules, clients

fix: traceTransaction returns zero gas used (#1179)
  CHANGELOG.md
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
Due: modules

imp: NewAnteHandler returns error if input not valid (#1173)
  app/ante/ante.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  app/app.go
Due: app

!fix(evm): Fix eth tx hashes in json-rpc responses (#1176)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/utils_test.go
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/tx.proto
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/types/events.go
  rpc/types/events_test.go
  rpc/types/utils.go
  tests/e2e/integration_test.go
  x/evm/keeper/integration_test.go
  x/evm/spec/04_transactions.md
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/evm/types/tx.pb.go
  x/evm/types/tx_args.go
  x/evm/types/utils.go
  x/feemarket/keeper/integration_test.go
Due: app, modules, clients

imp(tests): integration tests setup (#1196)
  .github/workflows/test.yml
  .gitignore
  Makefile
  default.nix
  gomod2nix.toml
  nix/default.nix
  nix/go-ethereum.nix
  nix/go_1_18_overlay.nix
  nix/scripts.nix
  nix/sources.json
  nix/sources.nix
  nix/testenv.nix
  scripts/.env
  scripts/contract-test.sh
  scripts/ethermint-devnet.yaml
  scripts/geth-genesis.json
  scripts/run-integration-tests.sh
  scripts/start-ethermint.sh
  scripts/start-geth.sh
  tests/integration_tests/__init__.py
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/conftest.py
  tests/integration_tests/contracts/.gitignore
  tests/integration_tests/contracts/README.md
  tests/integration_tests/contracts/contracts/TestERC20.sol
  tests/integration_tests/contracts/hardhat.config.ts
  tests/integration_tests/contracts/package-lock.json
  tests/integration_tests/contracts/package.json
  tests/integration_tests/contracts/tsconfig.json
  tests/integration_tests/network.py
  tests/integration_tests/poetry.lock
  tests/integration_tests/pyproject.toml
  tests/integration_tests/shell.nix
  tests/integration_tests/test_basic.py
  tests/integration_tests/utils.py
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
