Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

add more nolints
  app/ante/reject_msgs.go
  rpc/ethereum/types/block.go
Due: app, clients

release: v0.10.2 changelog with backport (#1177)
  CHANGELOG.md
  app/app.go
  client/testnet.go
  ethereum/eip712/eip712.go
  go.sum
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/feebackend.go
  rpc/ethereum/namespaces/eth/api.go
  tests/importer/chain_ctx.go
Due: app, clients

release: v0.11.1 changelog and backport (#1178)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/eip712.go
  app/ante/eth.go
  app/ante/reject_msgs.go
  app/app.go
  client/testnet.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712.go
  go.sum
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/feebackend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/block.go
  tests/importer/chain_ctx.go
  types/account.go
  x/evm/keeper/statedb.go
  x/evm/types/msg.go
Due: app, modules, core, clients

release: v0.14.1 changelog and backport (#1183)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
Due: clients

fix(rpc): optimize `eth_getBalance` endpoint (#1169) (#1182)
  CHANGELOG.md
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

fix(rpc): optimize `eth_getBalance` endpoint (#1169) (#1181)
  CHANGELOG.md
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

fix(rpc): optimize `eth_getBalance` endpoint (#1169) (#1180)
  CHANGELOG.md
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

fix changelog version
  CHANGELOG.md
Due: none

fix changelog version (#1184)
  CHANGELOG.md
Due: none

fix trace unit tests
  x/evm/keeper/grpc_query_test.go
Due: modules

Fix eth tx hashes in json-rpc responses
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/utils_test.go
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/tx.proto
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/types/utils.go
  tests/e2e/integration_test.go
  x/evm/spec/04_transactions.md
  x/evm/types/msg.go
  x/evm/types/tx.pb.go
  x/evm/types/utils.go
  x/feemarket/keeper/integration_test.go
Due: app, modules, clients

wip backend mocks
  rpc/mock/evm_backend.go
  rpc/mock/evm_backend_test.go
Due: clients

wip backend mocks
  rpc/backend/mock/evm_backend.go
  rpc/backend/mock/evm_backend_test.go
  rpc/namespaces/ethereum/eth/mock/eth_api.go
Due: clients

Fix TxIndex wrongly when trace first Tx of a block
  x/evm/keeper/grpc_query.go
Due: modules

add overflow check
  x/evm/keeper/state_transition.go
Due: modules

add comment
  x/evm/keeper/state_transition.go
Due: modules

check gas used is positive
  x/evm/keeper/grpc_query_test.go
Due: modules

move some validation to ValidateBasic
  app/ante/eth.go
  x/evm/types/msg.go
Due: app, modules

apply suggestion and add change-log
  CHANGELOG.md
  x/evm/keeper/grpc_query.go
Due: modules

fix comment
  CHANGELOG.md
Due: none

Update x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition.go
Due: modules

fix(rpc): fix panic on breaking EVM and feemarket params
  x/evm/keeper/params.go
  x/feemarket/keeper/params.go
Due: modules

tests(json-rpc): wip evm_backend unit test setup
  rpc/backend/evm_backend_test.go
Due: clients

move changelog to state machine breaking
  CHANGELOG.md
Due: none

add ReadHeaderTimeout`
  server/json_rpc.go
Due: none

revert ReadHeaderTimeout config change
  server/json_rpc.go
Due: none

changelog
  .mergify.yml
  CHANGELOG.md
Due: none

fix gosec
  server/json_rpc.go
Due: none

fix: traceTransaction returns zero gas used (#1179)
  CHANGELOG.md
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
Due: modules

impr(evm): add check msg.Validate check to prevent 0 gas txs (#1174)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_benchmark_test.go
  x/evm/types/errors.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/feemarket/keeper/integration_test.go
Due: modules, clients

move validation to ValidateBasic
  app/ante/ante_test.go
  app/ante/eth.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
Due: app, modules

make ToTransaction returns a valid msg
  x/evm/types/tx_args.go
Due: modules

restructure the protoTxProvider check
  app/ante/eth.go
Due: app

add comment
  x/evm/types/msg.go
Due: modules

workaround tx hash issue in event parsing
  rpc/types/events.go
Due: clients

Problem: ReadHeaderTimeout is not configured in the http.Server
  CHANGELOG.md
  server/json_rpc.go
Due: none

imp: NewAnteHandler returns error if input not valid (#1173)
  app/ante/ante.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  app/app.go
Due: app

fix integration test
  tests/e2e/integration_test.go
  x/evm/keeper/integration_test.go
Due: modules

imp(evm): EVM interface
  ethereum/vm/geth.go
  ethereum/vm/interface.go
  x/evm/keeper/state_transition.go
Due: modules

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
