Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

Update ethereum/eip712/encoding.go
  ethereum/eip712/encoding.go
Due: none

Code cleanup
  ethereum/eip712/encoding.go
Due: none

shadowing geth evm functions
  x/evm/types/precompiles.go
  x/evm/vm/geth/evm.go
  x/evm/vm/geth/geth.go
  x/evm/vm/interface.go
Due: modules

Manually copied updates on top of newest version of evmos/ethermint, and switched to rollmint
  .github/workflows/docker-build-debug.yml
  .github/workflows/docker-build-test.yml
  .github/workflows/labeler.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/semgrep.yml
  .github/workflows/test.yml
  CODE_OF_CONDUCT.md
  README.md
  docker/Dockerfile
  docker/debug.Dockerfile
  docker/entrypoint-debug.sh
  docker/entrypoint.sh
  docker/fast-build.Dockerfile
  go.mod
  go.sum
  init.sh
  server/start.go
  tests/e2e/integration_test.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  testutil/network/network.go
  testutil/network/util.go
Due: none

Tested version that works to deploy simple contract in ephemeral cluster
  docker/Dockerfile
  docker/debug.Dockerfile
  docker/entrypoint-debug.sh
  docker/entrypoint.sh
  docker/fast-build.Dockerfile
  server/start.go
  testutil/network/util.go
Due: none

allowing tests to run so we can know which don't
  .github/workflows/test.yml
  tests/e2e/integration_test.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
Due: none

Minor codefix
  ethereum/eip712/encoding.go
Due: none

Fixing errors
  README.md
  docker/debug.Dockerfile
  docker/entrypoint.sh
Due: none

CacheCtx in Journal Approach
  x/evm/statedb/interfaces.go
  x/evm/statedb/statedb.go
  x/evm/types/precompiles.go
  x/evm/vm/geth/geth.go
  x/evm/vm/interface.go
Due: modules

fix: chain-id in grpc query is not initialized without abci event
  CHANGELOG.md
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  rpc/backend/call_tx.go
  rpc/backend/tracing.go
  x/evm/keeper/grpc_query.go
  x/evm/simulation/operations.go
  x/evm/types/query.pb.go
Due: modules, clients

Update CHANGELOG.md
  CHANGELOG.md
Due: none

only override if input is not empty
  x/evm/keeper/grpc_query.go
Due: modules

fix init.sh
  init.sh
Due: none

Remove a failing test
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

add comment to chain id
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  x/evm/types/query.pb.go
Due: none

update gomod2nix
  gomod2nix.toml
Due: none

logically correct implementation of cache context in journal
  x/evm/statedb/interfaces.go
  x/evm/statedb/statedb.go
  x/evm/types/precompiles.go
  x/evm/vm/geth/geth.go
  x/evm/vm/stateful-precompiles-doc.md
Due: modules

tests(websocket): websocket integration tests (#1355)
  .flake8
  tests/integration_tests/conftest.py
  tests/integration_tests/test_types.py
  tests/integration_tests/test_websockets.py
Due: none

wip add tracer config
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/grpc_query.go
  x/evm/types/evm.pb.go
Due: modules

pass chain-id to state transition
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  rpc/backend/call_tx.go
  rpc/backend/tracing.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
  x/evm/simulation/operations.go
  x/evm/types/query.pb.go
Due: modules, clients

Update x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query.go
Due: modules

Apply suggestions from code review
  x/evm/keeper/state_transition.go
Due: modules

test: add preliminary unit tests and additional mocks for chain_info, account_info and filters
  rpc/backend/account_info_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/filters.go
  rpc/backend/filters_test.go
  rpc/backend/node_info_test.go
Due: clients

wip: precompile
  x/evm/vm/ethermint/evm.go
  x/evm/vm/ethermint/precompiles.go
  x/evm/vm/geth/evm.go
  x/evm/vm/interface.go
Due: modules

chore(docs): update SECURITY.md
  SECURITY.md
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

fix golang lint
  x/evm/keeper/grpc_query.go
Due: modules

update gomod2nix.toml
  gomod2nix.toml
Due: none

Minor code revision updates
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712_test.go
Due: core

read private depth field of EVM struct
  x/evm/vm/geth/evm.go
  x/evm/vm/geth/geth.go
Due: modules

doc with up-to-date details of approach
  x/evm/vm/stateful-precompiles-doc.md
Due: modules

tests: added additional mocked client calls
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
Due: clients

tests: bumped coverage of call_tx to 56% and chain_info to 77%
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
Due: clients

updated doc with necessary changes
  x/evm/vm/stateful-precompiles-doc.md
Due: modules

typo
  x/evm/vm/stateful-precompiles-doc.md
Due: modules

typo2
  x/evm/vm/stateful-precompiles-doc.md
Due: modules

Refactor EIP712 unit tests to use test suite
  ethereum/eip712/eip712_test.go
Due: none

update to geth patch
  go.mod
  go.sum
Due: none
