Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

filter txs by block height
  rpc/ethereum/backend/backend.go
Due: clients

fix linter
  rpc/ethereum/backend/backend.go
Due: clients

ci: add gosec to PRs and main
  .github/workflows/security.yml
Due: none

Update x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition.go
Due: modules

changelog
  CHANGELOG.md
  x/evm/types/tracer.go
Due: modules

fix: set EVM debug based on tracer config (#746)
  CHANGELOG.md
  app/app.go
  init.sh
  server/config/config.go
  tests/solidity/init-test-node.sh
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
Due: app, modules

use informalsystems gosec
  .github/workflows/security.yml
  tests/solidity/suites/staking/.github/workflows/ci_contracts.yml
Due: none

add SARIF
  .github/workflows/security.yml
Due: none

commit to test
  .github/workflows/security.yml
Due: none

comment changes
  .github/workflows/security.yml
Due: none

ci: add gosec to PRs and main (#750)
  .github/workflows/security.yml
  tests/solidity/suites/staking/.github/workflows/ci_contracts.yml
Due: none

Update rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/backend.go
Due: clients

remove unnecesary hex calls
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
Due: clients

Problem: need to add JSON-RPC endpoint debug_intermediateRoots
  rpc/ethereum/namespaces/debug/api.go
Due: clients

add changelog entry
  CHANGELOG.md
Due: none

fix gas consumption when reverted
  CHANGELOG.md
  x/evm/handler_test.go
  x/evm/keeper/state_transition.go
Due: modules

comments
  x/evm/handler_test.go
Due: modules

fix: filter non Ethereum txs in block JSON-RPC response (#741)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
Due: clients

rpc: `debug_intermediateRoots` (#754)
  CHANGELOG.md
  rpc/ethereum/namespaces/debug/api.go
Due: clients

fix: don't revert gas refund logic when transaction reverted (#751)
  CHANGELOG.md
  x/evm/handler_test.go
  x/evm/keeper/state_transition.go
Due: modules

reject tx with too large gas limit (#12)
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/types.go
Due: clients

cherry-pick (tharsis#720)
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  proto/ethermint/evm/v1/query.proto
  rpc/ethereum/namespaces/debug/api.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/query.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
Due: modules, clients

cherry-pick (tharsis#746)
  app/app.go
  init.sh
  server/config/config.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
Due: app, modules

cherry-pick (tharsis#743)
  go.mod
  init.sh
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/debug/api.go
Due: clients

cherry-pick (tharsis#741)
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
Due: clients

Problem: missing json rpc of eth_feeHistory #685
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/feebackend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/types.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  tests/rpc/rpc_test.go
Due: clients

Fee-Market(Keeper): Add review comments
  x/feemarket/keeper/keeper_test.go
Due: modules

Apply suggestions from code review
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/feebackend.go
  rpc/ethereum/types/types.go
Due: clients

changelog
  CHANGELOG.md
Due: none

linter fixes
  rpc/ethereum/backend/feebackend.go
  tests/rpc/rpc_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/msg_test.go
Due: modules, clients

rpc: `eth_feeHistory` (#734)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/feebackend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/types.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  tests/rpc/rpc_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/msg_test.go
Due: modules, clients

test fix
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/keeper_test.go
Due: modules

feemarket: unit tests (#749)
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/params_test.go
  x/feemarket/types/genesis_test.go
  x/feemarket/types/params_test.go
Due: modules, clients

update changelog
  CHANGELOG.md
Due: none

release: `v0.8.0` changelog (#757)
  CHANGELOG.md
Due: none

Fee-Market(Keeper): WIP grpc tests
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/params_test.go
Due: modules

Fee-Market(Keeper): WIP ERIP1559 tests
  x/feemarket/keeper/eip1559_test.go
Due: modules

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
