Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

tests: added test coverage for sign_tx and additional mocks
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/sign_tx_test.go
Due: clients

additional changes from diff
  ethereum/eip712/eip712.go
  rpc/backend/chain_info.go
  rpc/backend/sign_tx.go
  rpc/types/block.go
  x/evm/keeper/state_transition.go
  x/evm/types/chain_config.go
Due: modules, clients

Update CHANGELOG.md
  CHANGELOG.md
Due: none

tests: tx_info test coverage bumped to 60.3%
  rpc/backend/backend_suite_test.go
  rpc/backend/client_test.go
  rpc/backend/tx_info_test.go
Due: clients

Update ethereum/eip712/encoding.go
  ethereum/eip712/encoding.go
Due: none

Add minor refactors; increase test coverage
  app/ante/ante_test.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
Due: app

Correct ante_test for change in payload
  app/ante/ante_test.go
Due: app

backport: add v0.19.3 dragonberry changes to `main` and bump iavl to v0.19.4 (#1419)
  .github/workflows/lint.yml
  .golangci.yml
  CHANGELOG.md
  go.mod
  go.sum
  gomod2nix.toml
  x/feemarket/types/keys.go
Due: modules

fix issues
  app/ante/eip712.go
  app/ante/utils_test.go
Due: app

solve lint issues
  app/ante/eip712.go
Due: app

Add single-signer util and tests
  app/ante/ante_test.go
  app/ante/utils_test.go
Due: app

Revert "feat(eip712): Create LedgerPreprocessHook to reformat EIP-712 payloads (#1277)"
  CHANGELOG.md
  ethereum/eip712/preprocess.go
  ethereum/eip712/preprocess_test.go
Due: none

release: upadte changelog
  CHANGELOG.md
Due: none

release: v0.20.0-rc1 cherry pick and changelog (#1422)
  CHANGELOG.md
  ethereum/eip712/preprocess.go
  ethereum/eip712/preprocess_test.go
Due: none

deps(sdk): bump to v0.46.4
  go.mod
  go.sum
Due: none

deps(sdk): add IAVLDisableFastNode flag with false default
  cmd/ethermintd/root.go
  server/config/config.go
Due: none

test: coverage for tracing_tests now at 72%
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/tracing.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
Due: clients

deps(sdk): remove defualt for IAVLDisableFastNode as it is set in the sdk
  server/config/config.go
Due: none

deps(sdk): update gomod2nix with "nix run -f ./nix gomod2nix --extra-experimental-features nix-command"
  gomod2nix.toml
Due: none

deps(sdk): bump to v0.46.4 (#1423)
  cmd/ethermintd/root.go
  go.mod
  go.sum
  gomod2nix.toml
Due: none

release: v0.20.0-rc2 upadte changelog
  CHANGELOG.md
Due: none

fix build
  ethereum/eip712/encoding.go
Due: none

release: v0.20.0-rc2 upadte changelog (#1427)
  CHANGELOG.md
Due: none

fix tests
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_types.py
Due: none

tests: added fee makert query client mocks and bumped chain_info to 87.6% coverage.
  rpc/backend/chain_info_test.go
  rpc/backend/feemarket_query_client_test.go
  rpc/backend/mocks/feemarket_query_client.go
Due: clients

imp: reduce integration test block time to 2s
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/test_upgrade.py
  tests/integration_tests/utils.py
Due: none

imp: reduce integration test block time to 2s (#1428)
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/test_upgrade.py
  tests/integration_tests/utils.py
Due: none

tests: failing Cosmos auth module account query.
  rpc/backend/account_info_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/client_test.go
  rpc/backend/feemarket_query_client_test.go
  rpc/backend/filters_test.go
  rpc/backend/utils.go
Due: clients

tests: added FeeMarket Params mock to call_tx_test
  rpc/backend/call_tx_test.go
Due: clients

cleanup some unused code
  rpc/backend/backend.go
  rpc/backend/client_test.go
  rpc/backend/mocks/feemarket_query_client.go
Due: clients

fix flake
  gomod2nix.toml
  tests/integration_tests/test_types.py
Due: none

Remove reflect import
  ethereum/eip712/encoding.go
Due: none

cleanup
  x/evm/vm/ethermint/journal_entries.go
  x/evm/vm/ethermint/precompiles.go
Due: modules

Add EIP-712 encoding support type for any array
  ethereum/eip712/eip712.go
Due: none
