Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

feemarket: global `MinGasPrice` parameter (#1104)
  CHANGELOG.md
  app/ante/fees.go
  app/ante/fees_test.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/ante/utils_test.go
  app/app.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/feemarket/v1/feemarket.proto
  tests/e2e/integration_test.go
  testutil/fund.go
  tools/tools.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/migrations.go
  x/feemarket/migrations/v010/migrate.go
  x/feemarket/migrations/v010/types/feemarket.pb.go
  x/feemarket/migrations/v010/types/genesis.pb.go
  x/feemarket/migrations/v010/types/params.go
  x/feemarket/migrations/v011/migrate.go
  x/feemarket/migrations/v011/migrate_test.go
  x/feemarket/module.go
  x/feemarket/simulation/genesis.go
  x/feemarket/spec/01_concepts.md
  x/feemarket/spec/07_params.md
  x/feemarket/spec/09_antehandlers.md
  x/feemarket/spec/10_future_improvements.md
  x/feemarket/types/params_test.go
Due: app, modules

add gasWanted transient store keys
  x/feemarket/types/keys.go
Due: modules

add gasWanted transient store keeper functions
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/keeper_test.go
Due: modules

add gasWanted transient store tracker
  app/ante/eth.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/app.go
  x/evm/types/interfaces.go
  x/feemarket/genesis.go
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/grpc_query.go
Due: app, modules

add comment
  app/ante/eth.go
Due: app

remove unncesary comment
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/abci_test.go
Due: modules

remove unnecesary function
  x/feemarket/keeper/keeper.go
Due: modules

fix tests
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query_test.go
Due: modules

fix bad comment
  x/evm/keeper/keeper.go
Due: modules

remove unnecesary comment
  x/feemarket/keeper/abci.go
Due: modules

update comment
  x/feemarket/keeper/abci.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

analytics(evm): replace telemetry gauges with counters and add gasUsed counter
  x/evm/keeper/msg_server.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

analytics(feemarket): add telemetry gauges for base fee and block gas
  x/feemarket/keeper/abci.go
Due: modules

analytics(feemarket): add telemetry gauges for gas_used per gas_limit
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/feemarket/keeper/abci.go
Due: modules

analytics(feemarket): remove refund telemetry
  x/evm/keeper/state_transition.go
Due: modules

analytics(app): update CHANGELOG
  CHANGELOG.md
Due: none

remove unwanted change
  x/evm/keeper/state_transition.go
Due: modules

address PR comments
  x/evm/keeper/msg_server.go
Due: modules

update comment
  x/evm/keeper/msg_server.go
Due: modules

analytics(app): update telemetry to Ethermint modules (#1106)
  CHANGELOG.md
  x/evm/keeper/msg_server.go
  x/feemarket/keeper/abci.go
Due: modules

add GasWantedDecorator
  app/ante/eth.go
  app/ante/feeMarket.go
  app/ante/handler_options.go
Due: app

remove unnecesary comments
  app/ante/eth.go
  app/ante/handler_options.go
Due: app

gasWanted decorator test
  app/ante/eth_test.go
  app/ante/fee_market.go
  app/ante/fee_market_test.go
  app/ante/fees_test.go
  app/ante/utils_test.go
Due: app

fix tests
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/abci_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/types/keys.go
Due: modules

fix tests and build
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/abci_test.go
Due: modules

fix lint
  app/ante/fee_market.go
  rpc/backend/backend.go
Due: app, clients

updated end block event
  x/feemarket/keeper/abci.go
Due: modules

return MinGasPrice as minium on GetGasPrice api
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

update logic
  rpc/namespaces/ethereum/eth/api.go
Due: clients

Update app/ante/fee_market.go
  app/ante/fee_market.go
Due: app

fix undeclared variable
  app/ante/fee_market.go
  rpc/types/utils.go
  x/feemarket/keeper/abci.go
Due: app, modules, clients

Update app/ante/fee_market_test.go
  app/ante/fee_market_test.go
Due: app

globalmingsprice comment
  CHANGELOG.md
  rpc/backend/evm_backend.go
Due: clients

rpc: Update `GetGasPrice` RPC endpoint with global `MinGasPrice` (#1108)
  CHANGELOG.md
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

remove unnecesary line
  rpc/types/utils.go
Due: clients

migrate MinGasMultiplier to FeeMarket module
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  x/evm/keeper/keeper.go
  x/evm/keeper/migrations.go
  x/evm/keeper/state_transition.go
  x/evm/migrations/v2/migration.go
  x/evm/migrations/v2/migration_test.go
  x/evm/module.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/feemarket/migrations/v011/migrate.go
  x/feemarket/migrations/v011/migrate_test.go
  x/feemarket/simulation/genesis.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
Due: modules

set limited gas wanted
  x/feemarket/keeper/abci.go
Due: modules
