Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

changelog
  CHANGELOG.md
Due: none

tracer tests
  x/evm/types/msg.go
  x/evm/types/tracer_test.go
Due: modules

bump timeout
  .github/workflows/test.yml
Due: none

swagger update
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: clients

build: update makefile proto
  Makefile
  client/docs/statik/statik.go
Due: clients

updates
  Makefile
Due: none

revert swagger-gen
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/web3.proto
Due: clients

build: update makefile proto (#647)
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/web3.proto
Due: clients

fix
  rpc/ethereum/backend/backend.go
  x/evm/types/dynamic_fee_tx.go
Due: modules, clients

rpc: fix range filter fromBlock logic (#643)
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/filters/filters.go
Due: clients

latest fixes and cherry-picks from main
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  docs/protodoc-markdown.tmpl
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/web3.proto
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/feemarket/keeper/grpc_query.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/query.pb.go
Due: modules, clients

Add proto-tools-installer script to make proto-swagger-gen
  Makefile
Due: none

Add swagger generated files
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: clients

build: add `proto-tools-installer` script to make proto-swagger-gen (#648)
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: clients

fix rpc tests with net namespace
  tests/rpc/net_test.go
  tests/rpc/utils.go
Due: none

skip personal test
  tests/rpc/personal_test.go
Due: none

skip rpc pending test
  tests/rpc/rpc_pending_test.go
Due: none

fix eth_getproof when the block number is equal to pending or latest
  rpc/ethereum/namespaces/eth/api.go
Due: clients

fix rpc pending test
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  tests/rpc/utils.go
Due: none

fix missing gas param in some rpc tests
  tests/rpc/rpc_test.go
Due: none

fix endpoint
  rpc/ethereum/namespaces/eth/api.go
Due: clients

fix rpc tests filter subscribe failed
  rpc/ethereum/namespaces/eth/filters/filter_system.go
Due: clients

fix eth_estimateGas
  tests/rpc/rpc_test.go
Due: none

fix PendingTransactionFilter and TestEth_GetFilterChanges_BlockFilter
  rpc/ethereum/namespaces/eth/filters/filter_system.go
  tests/rpc/rpc_test.go
Due: clients

lint
  tests/rpc/utils.go
Due: none

remove unused linter
  rpc/ethereum/namespaces/eth/filters/filters.go
Due: clients

skip TestEth_ExportAccount_WithStorage
  tests/rpc/rpc_test.go
Due: none

fix TestEth_EstimateGas_ContractDeployment
  tests/rpc/rpc_test.go
Due: none

remove sleep in rpc test
  tests/rpc/rpc_test.go
Due: none

Update changelog
  CHANGELOG.md
Due: none

add test-rpc in github action
  .github/workflows/test.yml
Due: none

bump golangci-lint version to v1.42.1
  .github/workflows/lint.yml
Due: none

Add FormatLogs tests
  x/evm/types/tracer_test.go
Due: modules

Add NewNoOpTracer test
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: modules

rpc: test fix (#608)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/filter_system.go
  rpc/ethereum/namespaces/eth/filters/filters.go
  tests/rpc/net_test.go
  tests/rpc/personal_test.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  tests/rpc/utils.go
Due: clients

Refactor to test suite
  x/evm/types/access_list_test.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/legacy_tx_test.go
Due: modules

Refactor Tx Test suits to only use TxDataTestSuite
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/legacy_tx_test.go
Due: modules

Update link to geth interpreter
  x/evm/types/params.go
Due: modules

fix panic when transaction is reverted
  x/evm/keeper/context_stack.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
Due: modules
