Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

tests: Add AccessListTx tests
  x/evm/types/access_list_tx_test.go
Due: modules

tests: Fix dropped LegacyTx coverage
  x/evm/types/msg_test.go
Due: modules

modify gh actions to build and test ethermint images
  .github/workflows/docker-build-debug.yml
  .github/workflows/docker-build-test.yml
  docker/debug.Dockerfile
Due: none

fix syntax
  .github/workflows/docker-build-debug.yml
  .github/workflows/docker-build-test.yml
Due: none

fix fork check logic
  .github/workflows/docker-build-debug.yml
  .github/workflows/docker-build-test.yml
Due: none

update tags
  .github/workflows/docker-build-test.yml
Due: none

push correct image
  .github/workflows/docker-build-test.yml
Due: none

change usages of evmos to ethermint
  .github/workflows/docker-build-test.yml
  docker/Dockerfile
Due: none

deps: bump SDK to v0.45.3
  go.mod
  go.sum
  server/util.go
Due: none

changelog
  CHANGELOG.md
Due: none

fixes
  rpc/ethereum/backend/feebackend.go
  rpc/websockets.go
Due: clients

deps: bump SDK to v0.45.3 (#1046)
  CHANGELOG.md
  go.mod
  go.sum
  rpc/ethereum/backend/feebackend.go
  rpc/websockets.go
  server/util.go
  x/feemarket/migrations/v09/types/feemarket.pb.go
  x/feemarket/migrations/v09/types/genesis.pb.go
Due: clients

ci: cleanup
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/semgrep.yml
  .github/workflows/test.yml
Due: none

ci: cleanup (#1048)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/semgrep.yml
  .github/workflows/test.yml
Due: none

changed proto to reserved
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/query.proto
  x/evm/types/query.pb.go
Due: none

fix grpc_query tests
  go.mod
  go.sum
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
Due: modules

revert debugging change
  x/evm/keeper/grpc_query.go
Due: modules

Address PR comments
  x/evm/types/access_list_tx_test.go
  x/evm/types/msg_test.go
Due: modules

tests: Increase coverage for msg.go and access_list_tx.go (#1044)
  x/evm/types/access_list_tx_test.go
  x/evm/types/msg_test.go
Due: modules

remove NewTxConfig
  x/evm/simulation/operations.go
Due: modules

implement RegisterStoreDecoder
  x/evm/module.go
  x/evm/simulation/decoder.go
Due: modules

remove WeightMsgEthCallContract and adjust weights
  x/evm/simulation/operations.go
Due: modules

use gofmt
  app/test_helpers.go
Due: app

update godoc
  x/evm/simulation/operations.go
Due: modules

use types.DefaultEVMDenom in evm genesis params
  x/evm/simulation/genesis.go
Due: modules

use types.DefaultEVMDenom
  x/evm/simulation/genesis.go
Due: modules

Update x/evm/simulation/genesis.go
  x/evm/simulation/genesis.go
Due: modules

replace evmdenom with bonddenom in AppStateFn
  app/simulation_test.go
  app/test_helpers.go
Due: app

fix txIndex on getBlockBynumber
  rpc/ethereum/backend/backend.go
Due: clients

test EthBatchTransactions
  tests/e2e/integration_test.go
Due: none

changelog update
  CHANGELOG.md
Due: none

fix block height context height
  x/evm/keeper/grpc_query.go
Due: modules

remove txIndex from QueryTraceTxRequest
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/query.proto
  rpc/ethereum/namespaces/debug/api.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/query.pb.go
Due: modules, clients

update changelog
  CHANGELOG.md
Due: none

fix AppStateFn
  app/test_helpers.go
Due: app

fix lint error
  x/evm/simulation/operations.go
Due: modules

automatic debug image build use distinct image name, not tag
  .github/workflows/docker-build-debug.yml
  .github/workflows/docker-build-test.yml
Due: none

Apply suggestions from code review
  tests/e2e/integration_test.go
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
