Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

update changelog
  CHANGELOG.md
Due: none

skip undeterministic integration test
  tests/integration_tests/test_grpc_only.py
Due: none

chore: release `v0.20.0-rc3` (#1529)
  .github/workflows/dependencies.yml
  .github/workflows/lint.yml
  CHANGELOG.md
  Makefile
  app/ante/ante.go
  app/ante/eip712.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  cmd/ethermintd/flags.go
  default.nix
  go.mod
  go.sum
  gomod2nix.toml
  tests/integration_tests/README.md
  tests/integration_tests/hardhat/package-lock.json
  tests/integration_tests/test_filters.py
  tests/integration_tests/test_gas.py
  tests/solidity/yarn.lock
  x/evm/keeper/state_transition.go
  x/feemarket/spec/01_concepts.md
Due: app, modules

fix: Bump Go-Ethereum dependency to 1.10.26
  go.mod
  go.sum
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

remove artifacts
  tests/integration_tests/contracts/artifacts/@openzeppelin/contracts/token/ERC20/ERC20.sol/ERC20.dbg.json
  tests/integration_tests/contracts/artifacts/@openzeppelin/contracts/token/ERC20/ERC20.sol/ERC20.json
  tests/integration_tests/contracts/artifacts/@openzeppelin/contracts/token/ERC20/IERC20.sol/IERC20.dbg.json
  tests/integration_tests/contracts/artifacts/@openzeppelin/contracts/token/ERC20/IERC20.sol/IERC20.json
  tests/integration_tests/contracts/artifacts/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata.sol/IERC20Metadata.dbg.json
  tests/integration_tests/contracts/artifacts/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata.sol/IERC20Metadata.json
  tests/integration_tests/contracts/artifacts/@openzeppelin/contracts/utils/Context.sol/Context.dbg.json
  tests/integration_tests/contracts/artifacts/@openzeppelin/contracts/utils/Context.sol/Context.json
  tests/integration_tests/contracts/artifacts/build-info/0d7e53bb57cd39675d597b9295d3d9a5.json
  tests/integration_tests/contracts/artifacts/build-info/7b676386d973d83ca909c7932718ec4d.json
  tests/integration_tests/contracts/artifacts/build-info/94ebb3db1d1c0e0480983e1aa0154f0b.json
  tests/integration_tests/contracts/artifacts/build-info/e785d94c4f776c1ce6ea6e78b33a4bd6.json
  tests/integration_tests/contracts/artifacts/contracts/BurnGas.sol/BurnGas.dbg.json
  tests/integration_tests/contracts/artifacts/contracts/BurnGas.sol/BurnGas.json
  tests/integration_tests/contracts/artifacts/contracts/ChainID.sol/TestChainID.dbg.json
  tests/integration_tests/contracts/artifacts/contracts/ChainID.sol/TestChainID.json
  tests/integration_tests/contracts/artifacts/contracts/Greeter.sol/Greeter.dbg.json
  tests/integration_tests/contracts/artifacts/contracts/Greeter.sol/Greeter.json
  tests/integration_tests/contracts/artifacts/contracts/TestERC20A.sol/TestERC20A.dbg.json
  tests/integration_tests/contracts/artifacts/contracts/TestERC20A.sol/TestERC20A.json
  tests/integration_tests/contracts/cache/solidity-files-cache.json
  tests/integration_tests/contracts/typechain/BurnGas.d.ts
  tests/integration_tests/contracts/typechain/ERC20.d.ts
  tests/integration_tests/contracts/typechain/Greeter.d.ts
  tests/integration_tests/contracts/typechain/IERC20.d.ts
  tests/integration_tests/contracts/typechain/IERC20Metadata.d.ts
  tests/integration_tests/contracts/typechain/TestChainID.d.ts
  tests/integration_tests/contracts/typechain/TestERC20A.d.ts
  tests/integration_tests/contracts/typechain/factories/BurnGas__factory.ts
  tests/integration_tests/contracts/typechain/factories/ERC20__factory.ts
  tests/integration_tests/contracts/typechain/factories/Greeter__factory.ts
  tests/integration_tests/contracts/typechain/factories/IERC20Metadata__factory.ts
  tests/integration_tests/contracts/typechain/factories/IERC20__factory.ts
  tests/integration_tests/contracts/typechain/factories/TestChainID__factory.ts
  tests/integration_tests/contracts/typechain/factories/TestERC20A__factory.ts
  tests/integration_tests/contracts/typechain/index.ts
Due: none

recursive function refactor, cosmovisor_upgrade test fix
  tests/integration_tests/test_gas.py
  tests/integration_tests/test_priority.py
  tests/integration_tests/test_upgrade.py
  tests/integration_tests/utils.py
Due: none

allow retry continue on empty rsp
  tests/integration_tests/test_grpc_only.py
Due: none

fix: Bump Go-Ethereum dependency to 1.10.26 (#1532)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

minor changes to integration tests
  tests/integration_tests/test_gas.py
  tests/integration_tests/utils.py
Due: none

fix flake
  tests/integration_tests/test_gas.py
  tests/integration_tests/test_grpc_only.py
Due: none

update gomod2nix
  gomod2nix.toml
Due: none

Adjust priority tip docs to point to Evmos mempool docs
  x/feemarket/spec/01_concepts.md
Due: modules

remove some typos and out of place commas in feemarket concepts
  x/feemarket/spec/01_concepts.md
Due: modules

add missing "in"
  x/feemarket/spec/01_concepts.md
Due: modules

fix(eip712): fix hash
  ethereum/eip712/encoding.go
Due: none

Rename getEIP712Hash to Bytes to clarity method intent
  app/ante/utils_test.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
Due: app, core

Update comments and revert unrelated code
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
Due: core

Fix variable naming in tests
  ethereum/eip712/eip712_test.go
Due: none

Fix to use raw data rather than hash from Go-Ethereum interface
  ethereum/eip712/encoding.go
Due: none

Update eip712_test to detect EIP-712 hash vs bytes
  ethereum/eip712/eip712_test.go
Due: none

Update TypedData conversion error message
  ethereum/eip712/encoding.go
Due: none

imp (docs): Point to Evmos mempool docs for tx prioritization (#1536)
  x/feemarket/spec/01_concepts.md
Due: modules

generate proto
  crypto/ethsecp256k1/keys.pb.go
  go.mod
  go.sum
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
Due: none

rename binary to entangled
  .github/workflows/test.yml
  .goreleaser.yml
  Dockerfile
  Makefile
  app/app.go
  cmd/entangled/cmd_test.go
  cmd/entangled/flags.go
  cmd/entangled/genaccounts.go
  cmd/entangled/main.go
  cmd/entangled/root.go
  contrib/scripts/test_localnet_liveness.sh
  default.nix
  docker-compose.yml
  go.mod
  go.sum
  init.bat
  init.sh
  networks/local/Makefile
  networks/local/ethermintnode/Dockerfile
  nix/scripts.nix
  scripts/contract-test.sh
  scripts/ethermint-devnet.yaml
  scripts/integration-test-all.sh
  scripts/run-solidity-tests.sh
  scripts/start-docker.sh
  scripts/start.sh
  tests/integration_tests/configs/broken-ethermintd.nix
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/configs/upgrade-test-package.nix
  tests/integration_tests/network.py
  tests/integration_tests/shell.nix
  tests/integration_tests/test_rollback.py
  tests/integration_tests/test_upgrade.py
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  tests/solidity/README.md
  tests/solidity/init-test-node.sh
  tests/solidity/test-helper.js
  x/evm/spec/09_client.md
  x/feemarket/spec/08_client.md
Due: app, modules

Improve error handling for EIP-712 encoding config init
  app/app.go
  ethereum/eip712/encoding.go
Due: app

some rename fixes + add new key for test
  .github/workflows/lint.yml
  .github/workflows/semgrep.yml
  .goreleaser.yml
  Makefile
  default.nix
  docker-compose.yml
  init.sh
  scripts/start.sh
Due: none

(refactor): Migrated to new Typed Events
  proto/ethermint/evm/v1/events.proto
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/types/events.pb.go
Due: modules

(fix): fixed tests and initialized the logs array in the proto message
  x/evm/keeper/abci_test.go
  x/evm/keeper/msg_server.go
Due: modules

Added CHANGELOG entry
  CHANGELOG.md
Due: none

(refactor): Made migration to Typedevent to feemarket module
  proto/ethermint/evm/v1/events.proto
  proto/ethermint/feemarket/v1/events.proto
  x/feemarket/keeper/abci.go
  x/feemarket/types/events.pb.go
Due: modules

Skip undeterministic integration test (#1531)
  gomod2nix.toml
  tests/integration_tests/test_gas.py
  tests/integration_tests/test_grpc_only.py
Due: none

fix flake
  tests/integration_tests/test_gas.py
Due: none

Rename getEIP712Hash to Bytes to clarity method intent (#1539)
  app/ante/utils_test.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
Due: app, core

mod tidy
  gomod2nix.toml
Due: none

keep grpc only test
  tests/integration_tests/test_grpc_only.py
Due: none

Apply suggestions from code review
  proto/ethermint/evm/v1/evm.proto
  rpc/backend/backend_suite_test.go
  x/evm/types/msg.go
Due: modules, clients

(fix): Added new block to migration
  x/evm/migrations/v4/types/chain_config.go
Due: modules

(fix): Added additional comments and formatted proto files
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/tx.proto
  x/evm/types/evm.pb.go
  x/evm/types/params.go
Due: modules
