Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

update gomod2nix
  gomod2nix.toml
Due: none

fix unit tests
  x/evm/keeper/state_transition_test.go
Due: modules

Update SECURITY.md
  SECURITY.md
Due: none

chore(docs): update SECURITY.md (#1410)
  SECURITY.md
Due: none

tests: bumped call_tx coverage to 70.2% and added additional mock client calls
  rpc/backend/call_tx_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
Due: clients

tracers test
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_tracers.py
Due: none

tests: tx_info preliminary tests added for debugging.
  rpc/backend/client_test.go
  rpc/backend/tx_info_test.go
Due: clients

api breaking changelog
  CHANGELOG.md
Due: none

update tests
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_filters.py
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/test_tracers.py
  tests/integration_tests/test_types.py
  tests/integration_tests/test_upgrade.py
  tests/integration_tests/utils.py
Due: none

add unit tests, and fix TraceBlock by the way
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
Due: modules

deps: bump go to v1.19
  .github/workflows/build.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  Makefile
  README.md
  go.mod
  networks/local/ethermintnode/Dockerfile
Due: none

deps: add dragonberry patch repalce in go.mod
  go.mod
  go.sum
Due: none

deps: add ival bump to v0.19.4
  go.mod
  go.sum
Due: none

update to v1.10.25
  go.mod
  go.sum
  gomod2nix.toml
  nix/go-ethereum.nix
Due: none

chore(cli): apply google CLI Syntax for required and optional args
  cmd/ethermintd/genaccounts.go
  x/evm/client/cli/query.go
  x/evm/client/cli/tx.go
  x/evm/spec/09_client.md
  x/feemarket/client/cli/query.go
  x/feemarket/spec/08_client.md
Due: modules

deps: remove unrelated version bumps to adress in differnet PR
  go.mod
Due: none

go mod tidy
  go.sum
Due: none

chore(cli): add changes in CHANGELOG
  CHANGELOG.md
Due: none

chore(cli): fix link to PR in CHANGELOG
  CHANGELOG.md
Due: none

fix linter python
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_filters.py
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/test_tracers.py
  tests/integration_tests/test_types.py
  tests/integration_tests/test_upgrade.py
  tests/integration_tests/utils.py
Due: none

ignore error
  x/evm/keeper/grpc_query.go
Due: modules

add changelog
  CHANGELOG.md
Due: none

fix typo in changelog
  CHANGELOG.md
Due: none

chore(cli): fix args in feemarket
  x/feemarket/client/cli/query.go
Due: modules

backport: v0.19.3 dragonberry changes and iavl bump
  go.mod
  go.sum
Due: none

chore(ci): update linters
  .github/CODEOWNERS
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-links.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .gitignore
  .markdownlintignore
  .mergify.yml
  .solhint.json
  .yamllint
  CONTRIBUTING.md
  gometalinter.json
  mlc_config.json
  starport.yml
Due: none

add v0.19.3 changelog
  CHANGELOG.md
Due: none

skip md link
  .github/workflows/markdown-links.yml
Due: none

deps: bump go to v1.19 (#1416)
  .github/workflows/build.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  CHANGELOG.md
  Makefile
  README.md
  go.mod
  networks/local/ethermintnode/Dockerfile
Due: none

chore(cli): update docs based on comments
  x/feemarket/spec/08_client.md
Due: modules

chore(cli): apply google CLI Syntax for required and optional args (#1417)
  CHANGELOG.md
  cmd/ethermintd/genaccounts.go
  x/evm/client/cli/query.go
  x/evm/client/cli/tx.go
  x/evm/spec/09_client.md
  x/feemarket/spec/08_client.md
Due: modules

chore(ci): update linters (#1418)
  .github/CODEOWNERS
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-links.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .gitignore
  .markdownlintignore
  .mergify.yml
  .solhint.json
  .yamllint
  CONTRIBUTING.md
  gometalinter.json
  mlc_config.json
  starport.yml
Due: none

fix linter
  .golangci.yml
  x/feemarket/types/keys.go
Due: modules

use latest for golangci github workflow
  .github/workflows/lint.yml
Due: none

fix lint
  x/evm/keeper/grpc_query.go
Due: modules

Address import cycle and implement minor refactors
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/encoding.go
  types/validation_test.go
Due: core

Fix lint issues
  ethereum/eip712/encoding.go
Due: none

Add EIP712 unit suite test function
  ethereum/eip712/eip712_test.go
Due: none
