Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

rpc: fix truncation
  ethereum/rpc/types/block.go
Due: none

c++
  CHANGELOG.md
Due: none

rpc: fix truncation (#598)
  CHANGELOG.md
  ethereum/rpc/types/block.go
Due: none

rpc, server: add TLS certificate for websocket
  ethereum/rpc/websockets.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
Due: none

changelog
  CHANGELOG.md
Due: none

rpc, server: add TLS certificate for websocket (#600)
  CHANGELOG.md
  ethereum/rpc/websockets.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
Due: none

fix: networks/local/ethermintnode/Dockerfile to reduce vulnerabilities
  networks/local/ethermintnode/Dockerfile
Due: none

fix: networks/local/ethermintnode/Dockerfile to reduce vulnerabilities (#602)
  networks/local/ethermintnode/Dockerfile
Due: none

ci: update goreleaser
  .github/workflows/goreleaser.yml
  .goreleaser.yml
  Makefile
Due: none

bump version
  .github/workflows/goreleaser.yml
Due: none

ci: update goreleaser (#604)
  .github/workflows/goreleaser.yml
  .goreleaser.yml
  Makefile
Due: none

docs: v0.6.0 changelog
  CHANGELOG.md
Due: none

update codeowners
  .github/CODEOWNERS
Due: none

docs: v0.6.0 changelog (#605)
  .github/CODEOWNERS
  CHANGELOG.md
Due: none

docs: v0.6.0 changelog (#605) (#606)
  .github/CODEOWNERS
  CHANGELOG.md
Due: none

docs: readd banner
  .github/workflows/goreleaser.yml
  README.md
  docs/ethermint.jpg
  x/evm/atlas/atlas-v0.3.1.md
Due: modules

update
  README.md
Due: none

jobs
  README.md
Due: none

docs: banner & other (#607)
  .github/workflows/goreleaser.yml
  README.md
  docs/ethermint.jpg
  x/evm/atlas/atlas-v0.3.1.md
Due: modules

changelog
  CHANGELOG.md
  go.mod
Due: none

update
  cmd/ethermintd/genaccounts.go
Due: none

cmd: use config on genaccounts (#483)
  CHANGELOG.md
  cmd/ethermintd/genaccounts.go
Due: none

rpc: fix panic
  ethereum/rpc/backend/backend.go
Due: none

fix
  ethereum/rpc/backend/backend.go
Due: none

rpc: fix panic (#611)
  CHANGELOG.md
  ethereum/rpc/backend/backend.go
Due: none

remove estimate gas test
  tests/solidity/suites/basic/test/estimateGas.js
Due: none

Restructure ethermint/rpc repo structure and change import statements
  rpc/apis.go
  rpc/doc.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  rpc/ethereum/namespaces/debug/trace_fallback.go
  rpc/ethereum/namespaces/debug/utils.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/namespaces/eth/filters/filter_system.go
  rpc/ethereum/namespaces/eth/filters/filters.go
  rpc/ethereum/namespaces/eth/filters/subscription.go
  rpc/ethereum/namespaces/eth/filters/utils.go
  rpc/ethereum/namespaces/miner/api.go
  rpc/ethereum/namespaces/miner/unsupported.go
  rpc/ethereum/namespaces/net/api.go
  rpc/ethereum/namespaces/personal/api.go
  rpc/ethereum/namespaces/txpool/api.go
  rpc/ethereum/namespaces/web3/api.go
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
  rpc/ethereum/types/addrlock.go
  rpc/ethereum/types/block.go
  rpc/ethereum/types/block_test.go
  rpc/ethereum/types/query_client.go
  rpc/ethereum/types/types.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  server/json_rpc.go
  server/start.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  testutil/network/util.go
  x/evm/client/cli/query.go
  x/evm/client/rest/rest.go
Due: modules, clients

Add #400 to changelog
  CHANGELOG.md
Due: none

fix filepath in util and json_rpc
  go.sum
  server/json_rpc.go
  testutil/network/util.go
Due: none

Move #400 to unreleased section
  CHANGELOG.md
Due: none

rpc: restructure JSON-RPC directory and rename server config (#612)
  CHANGELOG.md
  go.sum
  rpc/apis.go
  rpc/doc.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  rpc/ethereum/namespaces/debug/trace_fallback.go
  rpc/ethereum/namespaces/debug/utils.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/namespaces/eth/filters/filter_system.go
  rpc/ethereum/namespaces/eth/filters/filters.go
  rpc/ethereum/namespaces/eth/filters/subscription.go
  rpc/ethereum/namespaces/eth/filters/utils.go
  rpc/ethereum/namespaces/miner/api.go
  rpc/ethereum/namespaces/miner/unsupported.go
  rpc/ethereum/namespaces/net/api.go
  rpc/ethereum/namespaces/personal/api.go
  rpc/ethereum/namespaces/txpool/api.go
  rpc/ethereum/namespaces/web3/api.go
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
  rpc/ethereum/types/addrlock.go
  rpc/ethereum/types/block.go
  rpc/ethereum/types/block_test.go
  rpc/ethereum/types/query_client.go
  rpc/ethereum/types/types.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  server/json_rpc.go
  server/start.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  testutil/network/util.go
  x/evm/client/cli/query.go
  x/evm/client/rest/rest.go
Due: modules, clients

DNM: debug traceTx
  x/evm/keeper/grpc_query.go
Due: modules

Problem: tx log attribtue value not parsable by some client
  rpc/ethereum/backend/utils.go
  x/evm/keeper/msg_server.go
Due: modules, clients

Problem: iterator on deeply nested cache contexts is extremely slow
  x/evm/keeper/context_stack.go
  x/evm/keeper/state_transition.go
Due: modules

Update x/evm/keeper/context_stack.go
  x/evm/keeper/context_stack.go
Due: modules

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
