Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

remove semgrep workflow and fix debug build
  .github/workflows/semgrep.yml
  docker/debug.Dockerfile
Due: none

add reject unprotected parameter
  app/ante/eth.go
  app/ante/utils_test.go
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/migrations.go
  x/evm/module.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/feemarket/module.go
Due: app, modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Apply suggestions from code review
  x/evm/keeper/migrations.go
  x/feemarket/module.go
Due: modules

pr suggestions
  x/evm/keeper/migrations.go
  x/evm/types/params.go
Due: modules

add unit test case
  app/ante/eth_test.go
Due: app

Reject not replay-protected tx to prevent replay attack
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/migrations.go
  x/evm/module.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/feemarket/module.go
Due: app, modules

add migrations
  x/evm/migrations/v2/migrate.go
  x/evm/migrations/v2/migrate_test.go
  x/evm/migrations/v2/types/chain_config.go
  x/evm/migrations/v2/types/evm.pb.go
  x/evm/migrations/v2/types/params.go
Due: modules

Apply suggestions from code review
  x/evm/types/params.go
Due: modules

rename
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/evm.proto
  x/evm/migrations/v2/migrate.go
  x/evm/migrations/v2/migrate_test.go
  x/evm/types/evm.pb.go
Due: app, modules

update comments
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/tx.proto
  x/evm/types/tx.pb.go
  x/evm/types/tx_data.go
Due: modules

!feat(evm): Reject not replay-protected tx to prevent replay attack (#1124)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/tx.proto
  x/evm/keeper/migrations.go
  x/evm/migrations/v2/migrate.go
  x/evm/migrations/v2/migrate_test.go
  x/evm/migrations/v2/types/chain_config.go
  x/evm/migrations/v2/types/evm.pb.go
  x/evm/migrations/v2/types/params.go
  x/evm/module.go
  x/evm/types/tx.pb.go
  x/evm/types/tx_data.go
  x/feemarket/module.go
Due: app, modules

fix json-rpc failures for pruned nodes
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
Due: clients

changelog
  CHANGELOG.md
Due: none

fix lint
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/filters/api.go
Due: clients

use GetTendermintBlockResultByNumber
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

use optimint v0.3.2
  go.mod
  go.sum
Due: none

add ws log on read loop break
  rpc/websockets.go
Due: clients

fix merge conflict
  CHANGELOG.md
Due: none

fix merge conflict
  .github/workflows/test.yml
Due: none

rpc: add ws log on read loop break (#1127)
  rpc/websockets.go
Due: clients

Problem: clear logs if tx failed in post processing hooks
  CHANGELOG.md
  x/evm/handler_test.go
  x/evm/keeper/state_transition.go
Due: modules

bug(feemarket): set lower bound of base fee to min gas price param)
  x/feemarket/keeper/eip1559.go
Due: modules

fix
  x/feemarket/keeper/eip1559.go
Due: modules

mergify
  .mergify.yml
Due: none

mergify 2
  .mergify.yml
Due: none

lint
  .markdownlint.yml
  .markdownlintignore
  CHANGELOG.md
  CONTRIBUTING.md
  docs/api/proto-docs.md
  docs/architecture/PROCESS.md
  tests/solidity/README.md
  x/README.md
  x/evm/spec/01_concepts.md
  x/evm/spec/02_state.md
  x/evm/spec/03_state_transitions.md
  x/evm/spec/04_transactions.md
  x/evm/spec/07_events.md
  x/evm/spec/08_params.md
  x/evm/spec/09_client.md
  x/feemarket/spec/01_concepts.md
  x/feemarket/spec/02_state.md
  x/feemarket/spec/03_begin_block.md
  x/feemarket/spec/04_end_block.md
  x/feemarket/spec/05_keeper.md
  x/feemarket/spec/08_client.md
  x/feemarket/spec/10_future_improvements.md
  x/feemarket/spec/README.md
Due: modules

bug(feemarket): flag necessary improvement to integration tests, as the baseFee changes for every test
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/integration_test.go
Due: modules

bug(feemarket): add unit tests for CalculateBaseFee
  x/feemarket/keeper/eip1559_test.go
Due: modules

bug(feemarket): move integration test setup out of Describe block
  x/feemarket/keeper/integration_test.go
Due: modules

Update x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition.go
Due: modules

fix gasPrice minGasPrice comparison
  rpc/namespaces/ethereum/eth/api.go
Due: clients

wip fix tests
  rpc/namespaces/ethereum/eth/api.go
  x/feemarket/keeper/integration_test.go
Due: modules, clients

update changelog
  CHANGELOG.md
Due: none

fix(rpc): Fix `GasPrice` calculation with relation to `MinGasPrice` (#1138)
  CHANGELOG.md
  rpc/namespaces/ethereum/eth/api.go
Due: clients

fix(evm): clear logs if tx failed in post processing hooks (#1128)
  CHANGELOG.md
  x/evm/handler_test.go
  x/evm/keeper/state_transition.go
Due: modules

imp(evm): rename RejectUnprotectedTx to AllowUnprotectedTxs
  Makefile
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  crypto/ethsecp256k1/keys.pb.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/tx.proto
  types/account.pb.go
  types/web3.pb.go
  x/evm/migrations/v2/migrate.go
  x/evm/migrations/v2/migrate_test.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/params.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/evm/types/tx_data.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
Due: app, modules, clients
