Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

point to offset param tm
  go.mod
  go.sum
  gomod2nix.toml
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

feat(eip712): Create LedgerPreprocessHook to reformat EIP-712 payloads (#1277)
  CHANGELOG.md
  ethereum/eip712/preprocess.go
  ethereum/eip712/preprocess_test.go
Due: none

Apply suggestions from code review
  client/eip712/data_type.go
  client/flags/flags.go
Due: clients

comments from review
  x/evm/statedb/journal.go
  x/evm/vm/geth/geth.go
  x/evm/vm/interface.go
Due: modules

lint
  x/evm/vm/interface.go
Due: modules

tests(rpc): add GetCode pass test
  rpc/backend/account_info_test.go
  rpc/backend/query_client_test.go
Due: clients

tests(rpc): add GetCode failing tests
  rpc/backend/account_info_test.go
  rpc/backend/query_client_test.go
Due: clients

format error on EstimateGas rpc call
  rpc/backend/call_tx.go
  tests/integration_tests/test_types.py
Due: clients

changelog
  CHANGELOG.md
Due: none

tests(rpc): wip StorageAt tests
  rpc/backend/account_info_test.go
  rpc/backend/query_client_test.go
Due: clients

WIP! add Ethereum JSONRPC Websocket test
  Makefile
  scripts/integration-test-all.sh
  tests/ws/ws_test.go
Due: none

imp(evm): stateless custom precompiles (#1272)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/interfaces.go
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/journal.go
  x/evm/statedb/statedb.go
  x/evm/vm/geth/geth.go
  x/evm/vm/geth/precompiles.go
  x/evm/vm/interface.go
Due: app, modules

move to test-rpc
  Makefile
  scripts/integration-test-all.sh
  tests/rpc/ws_test.go
  tests/ws/ws_test.go
Due: none

clean up
  scripts/integration-test-all.sh
  tests/rpc/ws_test.go
Due: none

tests(rpc): add StorageAt tests
  rpc/backend/account_info_test.go
  rpc/backend/query_client_test.go
Due: clients

fix for create validator msg and tests
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
Due: app

update
  CHANGELOG.md
Due: none

fix: upload nix binary for macOS (#1327)
  .github/workflows/test.yml
Due: none

fix batch request with websocket
  rpc/websockets.go
Due: clients

refactor
  tests/rpc/ws_test.go
Due: none

chore: update changelog from v0.19 (#1347)
  CHANGELOG.md
Due: none

fix(rpc): estimate gas error response (#1340)
  CHANGELOG.md
  rpc/backend/call_tx.go
  tests/integration_tests/test_types.py
Due: clients

!fix(erc712): support `MsgCreateValidator` (#1346)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
Due: app

wip
  rpc/backend/account_info_test.go
  rpc/backend/client_test.go
  rpc/backend/query_client_test.go
Due: clients

wip balance tests
  rpc/backend/account_info_test.go
  rpc/backend/query_client_test.go
Due: clients

test(rpc): Ethereum JSONRPC Websocket (#1342)
  rpc/websockets.go
  scripts/integration-test-all.sh
  tests/rpc/ws_test.go
Due: clients

add balance tests
  rpc/backend/account_info_test.go
  rpc/backend/query_client_test.go
Due: clients

add TestGetTransactionCount
  rpc/backend/account_info_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/client_test.go
Due: clients

Problem: grpc query is not run concurrently
  CHANGELOG.md
  server/start.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update server/start.go
  server/start.go
Due: none

wrap error
  server/start.go
Due: none

more complete copy
  server/start.go
Due: none

fix grpc crash
  x/evm/keeper/grpc_query.go
Due: modules

imp(rpc,server): concurrent gRPC queries (#1352)
  CHANGELOG.md
  server/start.go
  x/evm/keeper/grpc_query.go
Due: modules
