Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

update gomod2nix
  gomod2nix.toml
Due: none

fix python linter
  tests/integration_tests/network.py
  tests/integration_tests/utils.py
Due: none

Apply suggestions from code review
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Cherry pick latest changes (#1265)
  CHANGELOG.md
  gomod2nix.toml
  indexer/kv_indexer_test.go
  rpc/backend/account_info.go
  rpc/backend/backend.go
  rpc/backend/node_info.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/miner/api.go
  tests/integration_tests/README.md
  tests/integration_tests/contracts/contracts/Greeter.sol
  tests/integration_tests/network.py
  tests/integration_tests/test_filters.py
  tests/integration_tests/test_types.py
  tests/integration_tests/utils.py
Due: clients

changelog release date
  CHANGELOG.md
Due: none

changelog release date (#1270)
  CHANGELOG.md
Due: none

fixes
  app/ante/eth.go
  app/ante/interfaces.go
  app/app.go
  ethereum/vm/geth.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/vm/geth.go
  x/evm/vm/interface.go
  x/evm/vm/precompiles.go
Due: app, modules

remove stakingkeeper dependency from evmkeeper
  .github/workflows/test.yml
  app/app.go
  app/evm_functions.go
  ethereum/eip712/eip712.go
  go.mod
  go.sum
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
Due: app, modules

fix: ci
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

fix: lint.yml from upstream
  .github/workflows/lint.yml
Due: none

fix: lint.yml
  .github/workflows/test.yml
Due: none

fix indentation
  .github/workflows/lint.yml
  config.yml
  x/evm/types/historical_info.go
  x/evm/types/validator.go
Due: modules

fix lint
  app/simulation_test.go
  cmd/config/config.go
  rpc/backend/backend.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  x/evm/handler_test.go
  x/evm/types/logs.go
  x/feemarket/types/keys.go
Due: app, modules, clients

fix lint pt 2
  app/simulation_test.go
  cmd/config/config.go
  rpc/backend/backend.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  x/evm/handler_test.go
  x/evm/types/logs.go
  x/evm/vm/interface.go
  x/feemarket/types/keys.go
Due: app, modules, clients

initial wiring for stateful contracts
  app/app.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/journal.go
  x/evm/statedb/statedb.go
  x/evm/vm/geth.go
  x/evm/vm/geth/geth.go
  x/evm/vm/geth/precompiles.go
  x/evm/vm/interface.go
Due: app, modules

eip712 with cosmos046
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
  go.mod
Due: app

support optional params
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
Due: app

added test, used get method for from param
  rpc/backend/sign_tx.go
  tests/rpc/rpc_test.go
Due: clients

gosec fixes
  tests/rpc/rpc_test.go
Due: none

adding nosec v1
  rpc/websockets.go
  tests/rpc/rpc_test.go
Due: clients

fix linter
  ethereum/eip712/eip712.go
Due: none

submit evidence test
  app/ante/ante_test.go
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
Due: app

add different proposal test
  app/ante/ante_test.go
Due: app

test eip msg grant
  app/ante/ante_test.go
Due: app

added test to python tests, removed testing lines
  tests/integration_tests/test_types.py
  tests/rpc/rpc_test.go
Due: none

fixing flake issues
  tests/integration_tests/test_types.py
Due: none

test-unit-cover
  tests/integration_tests/test_types.py
Due: none

fix: eip712 support for ethtypes arrays
  ethereum/eip712/eip712.go
Due: none

fix: eip712 support for ethtypes arrays (#1288)
  ethereum/eip712/eip712.go
Due: none

Change the fallback priority mechanism to be based on gas price
  CHANGELOG.md
  app/ante/fee_checker.go
Due: app

websockets
  rpc/websockets.go
Due: clients

websockets
  .gitpod.yml
Due: none

tidy
  go.mod
Due: none

hack?
  rpc/websockets.go
Due: clients

ping loop
  rpc/websockets.go
Due: clients

gitpod image
  .gitpod.yml
Due: none

Update websockets.go
  rpc/websockets.go
Due: clients

wip
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients
