Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

re-added CI check
  .github/workflows/test.yml
  Makefile
Due: none

go 1.17
  .github/workflows/test.yml
Due: none

deps: bump IBC-go
  app/ante/ante.go
  app/app.go
  app/simulation_test.go
  go.mod
  go.sum
Due: app

fix
  go.mod
  go.sum
Due: none

fix
  cmd/ethermintd/root.go
Due: none

deps: bump cosmos-sdk (#692)
  CHANGELOG.md
  cmd/ethermintd/root.go
  go.mod
  go.sum
Due: none

deps: bump IBC-go (#693)
  app/ante/ante.go
  app/app.go
  app/simulation_test.go
  go.mod
  go.sum
Due: app

Problem: state transition code is duplicated
  CHANGELOG.md
  app/ante/eth.go
  rpc/ethereum/namespaces/eth/filters/filters.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/config.go
  x/evm/types/errors.go
Due: app, modules, clients

improve performance
  app/ante/eth.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
Due: app, modules

evm: refactor dup state transition code (#674)
  CHANGELOG.md
  app/ante/eth.go
  rpc/ethereum/namespaces/eth/filters/filters.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/config.go
  x/evm/types/errors.go
Due: app, modules, clients

tests: add eip1559 solidity test (#656)
  tests/solidity/suites/eip1559/package.json
  tests/solidity/suites/eip1559/test/eip1559.js
  tests/solidity/suites/eip1559/truffle-config.js
  tests/solidity/yarn.lock
Due: none

changelog
  CHANGELOG.md
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  rpc/ethereum/namespaces/debug/utils.go
  server/start.go
Due: clients

fix: handle file close logic (#679)
  CHANGELOG.md
  rpc/ethereum/namespaces/debug/utils.go
Due: clients

remove unused var (#680)
  app/export.go
  x/evm/keeper/state_transition_test.go
Due: app, modules

c++
  CHANGELOG.md
  cmd/ethermintd/root.go
  go.mod
  go.sum
Due: none

fix
  app/ante/ante.go
  app/app.go
  app/simulation_test.go
  go.mod
  go.sum
Due: app

tendermint
  CHANGELOG.md
Due: none

c++
  CHANGELOG.md
Due: none

add NoBaseFee check in backend.BaseFee
  rpc/ethereum/backend/backend.go
  tests/rpc/rpc_test.go
Due: clients

don't use IBC v2
  app/ante/ante.go
  app/app.go
  app/simulation_test.go
  go.mod
  go.sum
Due: app

rpc: add NoBaseFee check in backend.BaseFee (#697)
  rpc/ethereum/backend/backend.go
  tests/rpc/rpc_test.go
Due: clients

release: cherry-pick v0.7.2 (#696)
  CHANGELOG.md
  app/export.go
  app/simulation_test.go
  cmd/ethermintd/root.go
  go.mod
  go.sum
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  rpc/ethereum/namespaces/debug/utils.go
  server/start.go
  x/evm/keeper/state_transition_test.go
Due: app, modules, clients

update changelog
  CHANGELOG.md
Due: none

release: update CHANGELOG.md (#698)
  CHANGELOG.md
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

docs: update changelog (#699)
  CHANGELOG.md
Due: none

fix: importer test is run on rpc tests check
  scripts/integration-test-all.sh
  scripts/start.sh
Due: none

fix: importer test is run on rpc tests check (#700)
  scripts/integration-test-all.sh
  scripts/start.sh
Due: none

fix
  go.mod
  go.sum
  x/evm/types/chain_config_test.go
Due: modules

rpc: RLP apis
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/types/utils.go
Due: clients

tx fee cap fix
  server/config/config.go
  server/config/toml.go
Due: none

fix config
  encoding/config.go
  go.mod
  go.sum
  server/config/toml.go
Due: none

fix test
  rpc/ethereum/backend/backend.go
Due: clients

typo
  rpc/ethereum/namespaces/eth/api.go
Due: clients

cherry-pick (#661)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
Due: clients

cherry-pick (#689)
  app/ante/ante.go
  app/ante/ante_test.go
  app/ante/eth.go
Due: app

add validation rules
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/errors.go
  x/evm/types/legacy_tx.go
  x/evm/types/msg_test.go
  x/evm/types/utils.go
Due: modules

Problem: Some Web3 RPC Handlers could panic
  encoding/config.go
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/legacy_tx.go
  x/evm/types/legacy_tx_test.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/evm/types/tx_data.go
  x/evm/types/utils.go
Due: modules

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
