Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

add logconfig parameters to traceconfig
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/grpc_query.go
  x/evm/types/evm.pb.go
  x/evm/types/query.pb.gw.go
  x/feemarket/types/query.pb.gw.go
Due: modules

rpc: fix `TraceConfig` param for tracers (#565)
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/grpc_query.go
  x/evm/types/evm.pb.go
  x/evm/types/query.pb.gw.go
  x/feemarket/types/query.pb.gw.go
Due: modules

ADD stateErr on keeper
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
Due: modules

UPDATE init stateErr
  x/evm/keeper/keeper.go
Due: modules

UPDATE test case
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Due: modules

Update x/evm/keeper/statedb.go
  x/evm/keeper/statedb.go
Due: modules

ADD comment
  CHANGELOG.md
  x/evm/keeper/statedb.go
Due: modules

add gitattributes file
  .gitattributes
Due: none

add gitattributes file (#567)
  .gitattributes
Due: none

UPDATE clear evm state error
  x/evm/keeper/state_transition.go
Due: modules

REMOVE unnecessary clear
  x/evm/keeper/state_transition.go
Due: modules

ADD comment
  x/evm/keeper/state_transition.go
Due: modules

UPDATE false value
  x/evm/keeper/statedb.go
Due: modules

Update x/evm/types/tracer.go
  x/evm/types/tracer.go
Due: modules

evm: fail early on `StateDB` functions (#566)
  CHANGELOG.md
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Due: modules

no-op tracer
  app/ante/eth.go
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
Due: app, modules

evm: add `ApplyNativeMessage` (#557)
  app/ante/eth.go
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
Due: app, modules

fix gas price in rpc endpoints
  ethereum/rpc/backend/backend.go
  ethereum/rpc/backend/utils.go
  ethereum/rpc/namespaces/eth/api.go
  types/coin.go
Due: core

fix integration tests
  testutil/network/network.go
  testutil/network/test_config/app.toml
Due: none

fix e2e tests
  testutil/network/network.go
  testutil/network/test_config/app.toml
Due: none

rpc: fix gas price (#568)
  ethereum/rpc/backend/backend.go
  ethereum/rpc/backend/utils.go
  ethereum/rpc/namespaces/eth/api.go
  testutil/network/network.go
  types/coin.go
Due: core

apply the bloom filter when query the ethlogs with a range of blocks
  ethereum/rpc/backend/backend.go
  ethereum/rpc/namespaces/eth/filters/api.go
  ethereum/rpc/namespaces/eth/filters/filters.go
  tests/rpc/rpc_test.go
Due: none

fix lint
  ethereum/rpc/namespaces/eth/filters/filters.go
Due: none

ignore bad test case
  tests/solidity/suites/proxy/test/depositable_delegate_proxy.js
Due: none

adds more erc20 token benchmark tests
  x/evm/keeper/benchmark_test.go
Due: modules

add more benchmark for statedb
  x/evm/keeper/statedb_benchmark_test.go
Due: modules

adds benchmark for state_transition
  x/evm/keeper/state_transition_benchmark_test.go
Due: modules

evm: check tx cost not negative
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
Due: modules

evm: check tx cost not negative (#578)
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
Due: modules

evm: fix Chain ID derivation
  x/evm/types/tx_data.go
  x/evm/types/tx_data_test.go
Due: modules

update
  x/evm/types/tx_data_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

evm: fix Chain ID derivation (#579)
  CHANGELOG.md
  x/evm/types/tx_data.go
  x/evm/types/tx_data_test.go
Due: modules

tx receipt don't contains events
  ethereum/rpc/backend/backend.go
Due: none

tx index should start from 0
  x/evm/keeper/state_transition.go
Due: modules

rpc: tx receipt don't contain events (#580)
  ethereum/rpc/backend/backend.go
  x/evm/keeper/state_transition.go
Due: modules

fixes 2
  app/ante/eth.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/utils.go
  x/evm/types/msg_test.go
Due: app, modules

Problem: node crash in concurrent query
  go.mod
  go.sum
Due: none

deps: fix iavl node crash in concurrent query (#583)
  go.mod
  go.sum
Due: none

ante: move deduct gas to EVM keeper
  app/ante/ante.go
  app/ante/eth.go
  app/ante/eth_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
Due: app, modules
