Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

release: v0.13.0 (#1030)
  CHANGELOG.md
  x/feemarket/migrations/v09/types/feemarket.pb.go
  x/feemarket/migrations/v09/types/genesis.pb.go
Due: none

tests: add more dynamic fee tx tests
  x/evm/types/dynamic_fee_tx_test.go
Due: modules

tests: add more dynamic fee tx tests (#1032)
  x/evm/types/dynamic_fee_tx_test.go
Due: modules

fix recipient typo
  x/evm/simulation/operations.go
Due: modules

add nosec comment to escape Potential hardcoded credentials check
  x/evm/simulation/operations.go
Due: modules

Add ValidateNonZeroAddress validation utility
  types/validation.go
  types/validation_test.go
Due: core

Update types/validation.go
  types/validation.go
Due: core

types: add `ValidateNonZeroAddress` utility function (#1033)
  types/validation.go
  types/validation_test.go
Due: core

add comments
  app/app.go
  app/test_helpers.go
  x/evm/simulation/operations.go
Due: app, modules

use SimAppChainID as valid chainID
  app/simulation_test.go
Due: app

do not specify genesis.json to create random genesis state for simulation
  Makefile
Due: none

sub estimateGas to avoid overflow
  x/evm/simulation/operations.go
Due: modules

fix transaction index
  rpc/ethereum/backend/backend.go
  x/evm/keeper/grpc_query.go
Due: modules, clients

changelog
  CHANGELOG.md
Due: none

check height is not 0
  x/evm/keeper/grpc_query.go
Due: modules

depecrate tx_index on TraceRequest proto
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/v1/web3.proto
  rpc/ethereum/namespaces/debug/api.go
  x/evm/types/query.pb.go
Due: clients

correct RandomGenesisAccounts comments
  app/test_helpers.go
Due: app

correct app/test_helpers.go comments
  app/test_helpers.go
Due: app

tests: Add tests for MsgEthereumTx getter methods
  x/evm/types/msg_test.go
Due: modules

fix: tests/solidity/package.json to reduce vulnerabilities
  tests/solidity/package.json
Due: none

tests: Add nil data test for MsgEthereumTx buildTx
  x/evm/types/msg_test.go
Due: modules

tests: Removed unnecessary sdk>big.Int conversions in MsgEthereumTx ValidateBasic test
  x/evm/types/msg_test.go
Due: modules

fix: tests/solidity/suites/eip1559/package.json to reduce vulnerabilities
  tests/solidity/suites/eip1559/package.json
Due: none

fix: tests/solidity/suites/storage/package.json to reduce vulnerabilities
  tests/solidity/suites/storage/package.json
Due: none

update Dockerfiles to build ethermint without evmos
  .github/workflows/build-test-evmos.yml
  .github/workflows/docker-build-debug.yml
  docker/Dockerfile
  docker/debug.Dockerfile
  docker/entrypoint-debug.sh
  docker/entrypoint.sh
  init.sh
Due: none

rename gh actions
  .github/workflows/docker-build-debug.yml
  .github/workflows/docker-build-test.yml
  docker/entrypoint-debug.sh
Due: none

fix whitespace
  .github/workflows/docker-build-test.yml
Due: none

specify golangci-lint version
  .github/workflows/lint.yml
Due: none

lint skip go installation
  .github/workflows/lint.yml
Due: none

Apply suggestions from code review
  .github/workflows/build.yml
  .github/workflows/goreleaser.yml
  .github/workflows/test.yml
Due: none

fix scripts to test with ephemeral cluster
  .github/workflows/docker-build-test.yml
Due: none

try to install docker-compose v2
  .github/workflows/docker-build-test.yml
Due: none

try to install docker-compose v2 more
  .github/workflows/docker-build-test.yml
Due: none

Support batch fetch tx receipts of a block
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/utils.go
Due: clients

debug docker compose install
  .github/workflows/docker-build-test.yml
Due: none

rename docker-compose
  .github/workflows/docker-build-test.yml
Due: none

debug
  .github/workflows/docker-build-test.yml
Due: none

debug logging
  .github/workflows/docker-build-test.yml
Due: none

tests: Replace deprecated ethtypes.NewTransaction
  x/evm/types/msg_test.go
Due: modules

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
