Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

x/evm/types: remove duplicated gasPrice derivation
  x/evm/types/tx_args.go
Due: modules

Problem: empty topics shouldn't be encoded as nil
  x/evm/types/logs.go
Due: modules

fix unit tests
  x/evm/keeper/statedb_test.go
Due: modules

increase nonce in ante handler for contract creation tx
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/eth_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
Due: app, modules

changelog
  CHANGELOG.md
Due: none

fix: empty log topics shouldn't be encoded as nil (#840)
  CHANGELOG.md
  x/evm/keeper/statedb_test.go
  x/evm/types/logs.go
Due: modules

ci: resort to github's clean up policy
  .github/workflows/clean-artifacts.yml
Due: none

ci: resort to github's clean up policy (#842)
  .github/workflows/clean-artifacts.yml
Due: none

fix: remove duplicated gasPrice derivation (#836)
  x/evm/types/tx_args.go
Due: modules

feemarket: update base fee in `BeginBlock` (#822)
  CHANGELOG.md
  app/app.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/module.go
Due: app, modules, clients

remove redundant ante handler
  app/ante/ante.go
Due: app

fix: use `EffectiveGasPrice` in ante handler for dynamic fee tx (#817)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/ante_test.go
  app/ante/eth.go
  rpc/ethereum/namespaces/eth/api.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/msg.go
  x/evm/types/tx_data.go
Due: app, modules, clients

x/evm/types: properly split in 32 chunks trace.Memory
  CHANGELOG.md
  x/evm/types/tracer.go
Due: modules

x/evm/types: properly split in 32 chunks trace.Memory (#838)
  CHANGELOG.md
  x/evm/types/tracer.go
Due: modules

fix: remove redundant ante handler (#819)
  CHANGELOG.md
  app/ante/ante.go
Due: app

Optimize tx index lookup in web3 rpc
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/utils.go
  x/evm/keeper/msg_server.go
  x/evm/spec/07_events.md
  x/evm/types/events.go
Due: modules, clients

docs(evm): Clean up remaining intrarelayer text on docs
  x/evm/spec/06_hooks.md
Due: modules

fix broken tracer unit test
  x/evm/types/tracer_test.go
Due: modules

fix broken tracer unit test (#847)
  x/evm/types/tracer_test.go
Due: modules

fix empty topics in a non-breaking way (#35)
  CHANGELOG.md
  rpc/ethereum/backend/utils.go
Due: clients

fix empty topics in a non-breaking way (#35) (#848)
  CHANGELOG.md
  rpc/ethereum/backend/utils.go
Due: clients

feekeeper: remove redundant code (#815)
  x/feemarket/types/params.go
Due: modules

rpc: optimize tx index lookup (#810)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/utils.go
  x/evm/keeper/msg_server.go
  x/evm/spec/07_events.md
  x/evm/types/events.go
Due: modules, clients

fix: increase nonce in ante handler for contract creation tx (#809)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/eth_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
Due: app, modules

docs(evm): Clean up remaining intrarelayer text on docs (#846)
  x/evm/spec/06_hooks.md
Due: modules

Change evm_hook to use Transaction Receipt
  x/evm/handler_test.go
  x/evm/keeper/hooks.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/interfaces.go
  x/evm/types/logs.go
Due: modules

use ethtypes.Receipt
  x/evm/handler_test.go
  x/evm/keeper/hooks.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/interfaces.go
  x/evm/types/logs.go
Due: modules

wrong gas limit is wrong when adjust base fee
  go.mod
  go.sum
Due: none

Problem: web3 client don't expect a null baseFeePerGas
  rpc/ethereum/types/utils.go
Due: clients

wip changes
  x/evm/keeper/state_transition.go
Due: modules

Merge pull request from GHSA-mx3r-7hpq-fr4g
  CHANGELOG.md
  app/ante/ante.go
  app/ante/ante_test.go
  app/ante/utils_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Due: app, modules

fix: web3 client doesn't expect a nil baseFeePerGas (#854)
  rpc/ethereum/types/utils.go
Due: clients

consistent baseFee check logic
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/sigs_test.go
  app/ante/utils_test.go
  app/test_helpers.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/utils_test.go
  x/evm/types/params.go
  x/feemarket/keeper/keeper.go
Due: app, modules

Problem: contract address in contract creation receipt is wrong
  tests/rpc/rpc_test.go
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/tx_args.go
Due: modules

add changelog
  CHANGELOG.md
Due: none

fix: contract address in contract creation receipt (#851)
  CHANGELOG.md
  tests/rpc/rpc_test.go
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/tx_args.go
Due: modules

fix: consistent BaseFee check logic (#855)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/sigs_test.go
  app/ante/utils_test.go
  app/test_helpers.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/utils_test.go
  x/evm/types/params.go
  x/feemarket/keeper/keeper.go
Due: app, modules

fix: OOM when eth_getLogs response too large
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/namespaces/eth/filters/filters.go
  server/config/config.go
Due: clients
