Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

Revert comment on init.sh
  init.sh
Due: none

Apply suggestions from code review
  rpc/ethereum/namespaces/debug/api.go
Due: clients

fix remaining endpoints
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
Due: clients

Update rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/api.go
Due: clients

Update rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/backend.go
Due: clients

Apply suggestions from code review
  tests/rpc/personal_test.go
Due: none

rpc: personal_initializeWallet (#740)
  CHANGELOG.md
  rpc/ethereum/namespaces/personal/api.go
  tests/rpc/personal_test.go
Due: clients

fix GetTransactionByBlockNumberAndIndex
  rpc/ethereum/namespaces/eth/api.go
Due: clients

add comment
  rpc/ethereum/namespaces/eth/api.go
Due: clients

Problem: config/client.toml keyring-backend not working correctly (fix #724)
  CHANGELOG.md
  client/keys.go
Due: clients

changelog
  CHANGELOG.md
Due: none

fix: cli-config for `keys` command (#725)
  CHANGELOG.md
  client/keys.go
Due: clients

rpc: add `debug_tranceBlockByHash`, fix `debug_traceBlock* ` crash on non-existing block (#743)
  CHANGELOG.md
  init.sh
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/debug/api.go
Due: clients

update testnet hdPath, fixes #688
  client/testnet.go
Due: clients

lint
  .golangci.yml
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/types/block.go
  testutil/network/network.go
  x/evm/types/utils.go
Due: modules, clients

header
  tests/e2e/integration_test.go
Due: none

e2e wip
  go.mod
  go.sum
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  tests/e2e/integration_test.go
  tools/tools.go
Due: clients

fix getBlock response
  rpc/ethereum/types/utils.go
Due: clients

enable personal API
  scripts/integration-test-all.sh
Due: none

changelog
  CHANGELOG.md
  go.mod
  testutil/network/util.go
Due: none

tests: integration tests with JSON-RPC client (#704)
  .golangci.yml
  CHANGELOG.md
  client/testnet.go
  cmd/ethermintd/root.go
  go.mod
  go.sum
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/types/block.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  scripts/integration-test-all.sh
  tests/e2e/integration_test.go
  testutil/network/network.go
  testutil/network/network_test.go
  testutil/network/util.go
  tools/tools.go
  x/evm/types/utils.go
Due: modules, clients

set debug based on tracer
  init.sh
  server/config/config.go
  tests/solidity/init-test-node.sh
  x/evm/keeper/state_transition.go
Due: modules

Problem: need to add JSON-RPC endpoint personal_listWallets
  rpc/ethereum/namespaces/personal/api.go
  tests/rpc/personal_test.go
Due: clients

changelog entry
  CHANGELOG.md
Due: none

Problem: EVM keeper keeps intermediate states inside
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/sigs_test.go
  app/ante/utils_test.go
  tests/importer/importer_test.go
  testutil/network/util.go
  x/evm/genesis.go
  x/evm/genesis_test.go
  x/evm/handler_test.go
  x/evm/keeper/abci.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
  x/evm/types/context_stack.go
  x/evm/types/interfaces.go
  x/evm/types/statedb.go
Due: app, modules

fix lint failure by exposing RawWallet as public
  rpc/ethereum/namespaces/personal/api.go
Due: clients

fix notes typo
  rpc/ethereum/namespaces/personal/api.go
Due: clients

rpc: `personal_listWallets` (#748)
  CHANGELOG.md
  rpc/ethereum/namespaces/personal/api.go
  tests/rpc/personal_test.go
Due: clients

fix tests
  server/config/config.go
  server/start.go
  x/evm/keeper/grpc_query_test.go
Due: modules

Fee-Market(Types): Setup Params tests
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  x/feemarket/types/params_test.go
Due: modules, clients

Fee-Market(Types): Add all Params tests
  x/feemarket/types/params_test.go
Due: modules

Fee-Market(Types): Add genesis tests
  x/feemarket/types/genesis_test.go
  x/feemarket/types/params_test.go
Due: modules

Fee-Market(Keeper): Copy Keeper setup from EVM module and add Params tests
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/params_test.go
Due: modules

Fee-Market(Keeper): Add Keeper tests
  x/feemarket/keeper/keeper_test.go
Due: modules

set default tracer
  server/start.go
Due: none

remove debug from keeper
  x/evm/keeper/keeper.go
  x/evm/types/tracer.go
Due: modules

remove unnecesary param
  x/evm/keeper/grpc_query.go
Due: modules

remove unnecesary param
  app/app.go
Due: app

fix tx index
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
Due: clients

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
