Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

release: v0.17.0 changelog (#1153)
  CHANGELOG.md
Due: none

update mergify
  .mergify.yml
Due: none

release: backport v0.17.0 changelog (#1155)
  .mergify.yml
  CHANGELOG.md
Due: none

fix(ci): update goreleaser, slither, mdlink
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-link.yml
  .github/workflows/slither.yml
Due: none

only check specs
  .github/workflows/markdown-link.yml
Due: none

rm slither
  .github/workflows/slither.yml
Due: none

update solhint
  .github/workflows/lint.yml
  .solhint.json
  starport.yml
Due: none

fixed semgrep issue
  .github/workflows/semgrep.yml
Due: none

fix(ci): fix semgrep issue (#1157)
  .github/workflows/semgrep.yml
Due: none

add support for
  rpc/types/block.go
Due: clients

update EIPs
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/chain_config.go
  x/evm/types/evm.pb.go
Due: modules

fix keeper tests
  x/evm/keeper/keeper_test.go
Due: modules

update traceTx function with latest geth changes
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/tracer.go
Due: modules

remove unnecessary comments
  x/evm/keeper/grpc_query.go
Due: modules

fix tests
  x/evm/keeper/grpc_query_test.go
Due: modules

update proto
  go.mod
  go.sum
Due: none

add migrations
  go.mod
  go.sum
  x/evm/migrations/v3/migrate.go
  x/evm/migrations/v3/migrate_test.go
  x/evm/migrations/v3/types/chain_config.go
  x/evm/migrations/v3/types/evm.pb.go
  x/evm/migrations/v3/types/params.go
Due: modules

update module version
  x/evm/keeper/migrations.go
  x/evm/module.go
Due: modules

fix grpc test
  x/evm/keeper/grpc_query_test.go
Due: modules

fix lint
  x/evm/keeper/grpc_query.go
  x/evm/migrations/v3/types/chain_config.go
Due: modules

fix lint
  x/evm/migrations/v3/types/chain_config.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

fix typo
  proto/ethermint/evm/v1/evm.proto
Due: none

remove unnecessary format logs
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: modules

Update proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/evm.proto
Due: none

impr(init.sh): remove increase block time
  init.sh
Due: none

bug(goreleaser): update docker image
  Makefile
Due: none

fixing ante tests
  app/ante/utils_test.go
  x/evm/migrations/v3/migrate_test.go
Due: app, modules

update comments
  x/evm/migrations/v3/migrate.go
Due: modules

fixed cycle imports on migrate_test
  x/evm/migrations/v3/migrate_test.go
Due: modules

remove debug true on default
  x/evm/keeper/grpc_query.go
Due: modules

fix goreleaser (#1160)
  Makefile
  init.sh
Due: none

fix wrong naming
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/evm.pb.go
Due: none

feemarket(specs): add hint on different gas terminology for gas in Cosmos and Ethereum
  Makefile
  x/feemarket/spec/01_concepts.md
Due: modules

add changelog
  CHANGELOG.md
Due: none

feemarket(specs): add hint on different gas terminology for gas in Cosmos and Ethereum (#1165)
  CHANGELOG.md
  Makefile
  x/feemarket/spec/01_concepts.md
Due: modules

update cosmos-sdk to latest commit to fix simulation failure
  go.mod
  go.sum
Due: none

fix typo: 'staking genesis' -> 'evm genesis'
  app/utils.go
Due: app

fixes
  docs/architecture/adr-003-stateful-precompiles.md
Due: none

draft ADR for stateful precompiled contracts
  docs/architecture/README.md
  docs/architecture/adr-003-stateful-precompiles.md
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
