Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

fix(evm): revert v4 migration changes (#1625)
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/migrate.go
  x/evm/types/params.go
Due: modules

minor improvement to changelog
  CHANGELOG.md
Due: none

minor improvement to changelog (#1629)
  CHANGELOG.md
Due: none

adjust year to 2023 for v0.21.0-rc2 release
  CHANGELOG.md
Due: none

adjust year to 2023 for v0.21.0-rc2 release (#1630)
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: sync main with v0.21.x branch (#1636)
  CHANGELOG.md
Due: none

add future height check for get_transaction_count
  rpc/backend/account_info.go
Due: clients

add query future account test
  tests/integration_tests/test_account.py
Due: none

fasten get_transaction_count test
  tests/integration_tests/test_account.py
Due: none

add change doc
  CHANGELOG.md
Due: none

fix test
  rpc/backend/account_info_test.go
  rpc/backend/node_info_test.go
Due: clients

update nix
  gomod2nix.toml
Due: none

add state change contract for test
  tests/integration_tests/hardhat/contracts/StateContract.sol
  tests/integration_tests/test_storage_proof.py
  tests/integration_tests/utils.py
Due: none

fix context height for get proof
  rpc/backend/account_info_test.go
  rpc/types/query_client.go
Due: clients

fix lint
  tests/integration_tests/test_storage_proof.py
Due: none

chore(release) update changelog
  CHANGELOG.md
Due: none

chore(release): update changelog (#1641)
  CHANGELOG.md
Due: none

chore(release) update changelog format
  CHANGELOG.md
Due: none

chore: sync main with v0.21.x branch (#1642)
  CHANGELOG.md
Due: none

fix(rpc): align block number input behaviour for eth_getProof (#1639)
  CHANGELOG.md
  rpc/backend/account_info_test.go
  rpc/types/query_client.go
  tests/integration_tests/hardhat/contracts/StateContract.sol
  tests/integration_tests/test_storage_proof.py
  tests/integration_tests/utils.py
Due: clients

Update rpc/backend/account_info.go
  rpc/backend/account_info.go
Due: clients

add test for block height in future
  rpc/backend/account_info_test.go
Due: clients

fix(rpc): align query result of future block for eth_getTransactionCount (#1638)
  CHANGELOG.md
  gomod2nix.toml
  rpc/backend/account_info.go
  rpc/backend/account_info_test.go
  rpc/backend/node_info_test.go
  tests/integration_tests/test_account.py
Due: clients

clean up
  server/config/config.go
  server/config/toml.go
  server/start.go
  tests/integration_tests/test_upgrade.py
Due: none

allow query evm params with old blk
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/test_upgrade.py
  x/evm/client/cli/query.go
Due: modules

deps: update to use rollkit v0.6.0
  README.md
  go.mod
  go.sum
  server/start.go
  testutil/network/network.go
  testutil/network/util.go
Due: none

demonstrate use new cache store clone to integrate native stateful precompiles
  go.mod
  go.sum
  gomod2nix.toml
  x/evm/keeper/state_transition.go
  x/evm/statedb/native.go
  x/evm/statedb/statedb.go
Due: modules

fix to BenchmarkMessageCall
  go.mod
  go.sum
  gomod2nix.toml
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
Due: modules

Bank precompiled contract
  app/ante/eth.go
  app/ante/interfaces.go
  app/app.go
  go.mod
  go.sum
  gomod2nix.toml
  tests/integration_tests/hardhat/contracts/TestBank.sol
  tests/integration_tests/test_precompiles.py
  tests/integration_tests/utils.py
  x/evm/keeper/keeper.go
  x/evm/keeper/precompiles/bank.go
  x/evm/keeper/precompiles/types.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/precompiles.go
  x/evm/statedb/statedb.go
  x/evm/statedb/types.go
  x/evm/vm/geth/geth.go
  x/evm/vm/interface.go
Due: app, modules

fix: use correct naming for testnet output directory
  client/testnet.go
Due: clients

fix: use correct naming for testnet output directory (#1651)
  client/testnet.go
Due: clients

replace extStates commit with executeNativeAction
  app/ante/eth.go
  app/ante/interfaces.go
  x/evm/keeper/keeper.go
  x/evm/keeper/precompiles/bank.go
  x/evm/keeper/precompiles/types.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/precompiles.go
  x/evm/statedb/statedb.go
Due: app, modules

avoid inject precompile contracts
  app/app.go
  go.mod
  go.sum
  gomod2nix.toml
  x/evm/keeper/keeper.go
  x/evm/keeper/precompiles/bank.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/precompiles.go
  x/evm/vm/interface.go
Due: app, modules

avoid fork
  go.mod
  go.sum
  gomod2nix.toml
  x/evm/keeper/precompiles/bank.go
  x/evm/keeper/precompiles/types.go
  x/evm/keeper/state_transition.go
  x/evm/vm/geth/geth.go
  x/evm/vm/interface.go
Due: modules

Update hook test case to clarify original receipt can be changed
  x/evm/keeper/hooks_test.go
Due: modules
