Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

changelog (#973)
  CHANGELOG.md
Due: none

Move gas meter reset to the innermost EthAnteHandle
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  x/evm/keeper/msg_server.go
Due: app, modules

add NewInfiniteGasMeterWithLimit for setting the user provided gas limit
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  types/gasmeter.go
  x/evm/handler_test.go
  x/evm/keeper/msg_server.go
Due: app, modules, core

Fix lint
  app/ante/eth.go
  types/gasmeter.go
Due: app, core

Fix lint
  app/ante/eth.go
Due: app

Quick fix for eth_feeHistory when reward is nil
  rpc/ethereum/backend/feebackend.go
Due: clients

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Quick fix for eth_feeHistory when reward is nil (#975)
  CHANGELOG.md
  rpc/ethereum/backend/feebackend.go
Due: clients

fix: GasMeter reset in AnteHandler `EthGasConsumeDecorator` (#964)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  types/gasmeter.go
  x/evm/keeper/state_transition.go
Due: app, modules, core

conflicts
  CHANGELOG.md
Due: none

docs: changelog fix (#976)
  CHANGELOG.md
Due: none

release: v0.11.0 changelog
  CHANGELOG.md
Due: none

release: v0.11.0 changelog (#977)
  CHANGELOG.md
Due: none

feat: updated optimint in unit/integration tests
  go.mod
  go.sum
  server/start.go
  testutil/network/network.go
  testutil/network/util.go
Due: none

add call to validator back
  rpc/ethereum/backend/backend.go
Due: clients

use optimint v0.1.0 release
  go.mod
  go.sum
Due: none

uncomment coinbase address
  x/evm/keeper/state_transition.go
Due: modules

remove printf debug statements
  cmd/ethermintd/root.go
  go.mod
  rpc/ethereum/backend/backend.go
Due: clients

ran gofumpt
  app/ante/ante_test.go
  app/ante/utils_test.go
  app/app.go
  client/testnet.go
  rpc/ethereum/backend/feebackend.go
  tests/e2e/integration_test.go
  tests/importer/chain_ctx.go
  testutil/network/util.go
  x/evm/types/tracer_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/types/params_test.go
Due: app, modules, clients

Add configurable timeouts to http server
  server/config/config.go
  server/config/toml.go
  server/json_rpc.go
Due: none

add flags
  server/flags/flags.go
  server/start.go
Due: none

changelog
  CHANGELOG.md
Due: none

fix toml
  server/config/toml.go
Due: none

update to use optimint v0.1.1
  go.mod
  go.sum
Due: none

rpc: add configurable timeouts to http server (#979)
  CHANGELOG.md
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
Due: none

Solhint + github Action CI
  .github/workflows/lint.yml
  .solhint.json
  Makefile
Due: none

Update .github/workflows/lint.yml
  .github/workflows/lint.yml
Due: none

Update Solhint Rules
  .github/workflows/lint.yml
  .solhint.json
Due: none

Minor.github/workflows/lint.yml fixes
  .github/workflows/lint.yml
Due: none

update golint
  .github/workflows/lint.yml
  client/testnet.go
  rpc/ethereum/namespaces/eth/filters/api.go
  x/evm/types/tx_data.go
Due: modules, clients

Linter Rule fix for Solidity
  .solhint.json
  tests/solidity/suites/proxy/contracts/DepositableDelegateProxy.sol
Due: none

Linter Rule fix for Solidity
  .github/workflows/lint.yml
Due: none

fix imports
  testutil/network/networkfuzz_test.go
Due: none

fix unimported variable
  testutil/network/networkfuzz_test.go
Due: none

fix network initiation issues
  testutil/network/networkfuzz_test.go
Due: none

add transaction
  testutil/network/networkfuzz_test.go
Due: none

import context
  testutil/network/networkfuzz_test.go
Due: none

Trigger solhint
  tests/solidity/suites/staking/contracts/test/mocks/StandardTokenMock.sol
Due: none

fix
  app/ante/handler_options.go
  app/ante/utils_test.go
  app/app.go
Due: app

minor Lint.yml fix
  .github/workflows/lint.yml
Due: none

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
