Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

added gas consumption test (#1474)
  tests/integration_tests/test_gas.py
Due: none

chore (deps): Update nix dependencies for integration tests
  gomod2nix.toml
  nix/go-ethereum.nix
Due: none

Apply changes from code review
  x/evm/genesis.go
Due: modules

(impv): Added Shanghai and Cancun blocks to current types and latest migration
  proto/ethermint/evm/v1/evm.proto
  x/evm/migrations/v4/types/chain_config.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/types/chain_config.go
  x/evm/types/evm.pb.go
Due: modules

use cosmos/proto-builder docker image for proto-format because clang-format is not installed on tendermintdev/sdk-proto-gen
  Makefile
Due: none

(tests): Update unit tests to include Shanghai and Cancun blocks
  x/evm/keeper/keeper_test.go
  x/evm/keeper/params.go
  x/evm/migrations/v4/types/chain_config.go
Due: modules

update swagger docs after recent additions to evm.proto in #1413
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: clients

(fix) - ran golangci-lint on the entire project
  app/ante/utils_test.go
  client/docs/statik/statik.go
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/filters_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/params_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/chain_config.go
  x/evm/types/chain_config.go
  x/feemarket/keeper/params_test.go
Due: app, modules, clients

chore (deps): Update geth nix file
  nix/go-ethereum.nix
Due: none

fixes
  gomod2nix.toml
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
  rpc/backend/tracing.go
  rpc/backend/tracing_test.go
  tests/integration_tests/test_grpc_only.py
Due: clients

fix lint
  rpc/backend/tracing.go
Due: clients

fix unit test
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/tracing_test.go
Due: clients

split existing gas test
  tests/integration_tests/test_gas.py
Due: none

(fix) - remove deprecated params method
  x/evm/types/params.go
Due: modules

(impv): added marshaling of booleans per individual param key
  x/evm/keeper/params.go
Due: modules

add protolint yaml
  .protolint.yaml
Due: none

added contract call test
  tests/integration_tests/contracts/contracts/BurnGas.sol
  tests/integration_tests/test_gas.py
  tests/integration_tests/utils.py
Due: none

fix: chain-id in grpc query is not initialized without abci event (#1405)
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  gomod2nix.toml
  proto/ethermint/evm/v1/query.proto
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
  rpc/backend/client_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/tracing.go
  rpc/backend/tracing_test.go
  tests/integration_tests/contracts/contracts/ChainID.sol
  tests/integration_tests/cosmoscli.py
  tests/integration_tests/test_grpc_only.py
  tests/integration_tests/utils.py
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/query.pb.go
Due: modules, clients

fix flake issues, update gomod2nix
  gomod2nix.toml
  tests/integration_tests/test_gas.py
Due: none

isort imports
  tests/integration_tests/test_gas.py
Due: none

add stateful contract calls
  tests/integration_tests/test_gas.py
Due: none

fix(evm): Simplify Gas Math (#1452)
  CHANGELOG.md
  x/evm/keeper/state_transition.go
Due: modules

imp(ante): refactor `AnteHandler` (#1455)
  CHANGELOG.md
  app/ante/eth.go
  scripts/integration-test-all.sh
Due: app

tests: add additional gas consumption tests (#1477)
  gomod2nix.toml
  tests/integration_tests/contracts/contracts/BurnGas.sol
  tests/integration_tests/test_gas.py
  tests/integration_tests/utils.py
Due: none

(impv): added individual param getting and setting
  app/ante/eth.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/interfaces.go
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/params.go
  x/evm/simulation/genesis.go
  x/evm/simulation/genesis_test.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_legacy.go
  x/evm/types/params_test.go
Due: app, modules

chore: update proto make commands (#1471)
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/ethermint/evm/v1/evm.proto
  scripts/protocgen.sh
Due: clients

bingbong
  go.mod
  go.sum
  gomod2nix.toml
  proto/buf.gen.gogo.yaml
  proto/buf.gen.swagger.yaml
  x/evm/types/codec.go
  x/evm/types/query.pb.go
Due: modules

Remove unbound labels from added custom tendermint metrics
  x/evm/keeper/msg_server.go
Due: modules

Add entry to changelog
  CHANGELOG.md
Due: none

Remove unbound labels from added custom tendermint metrics (#1434)
  CHANGELOG.md
  x/evm/keeper/msg_server.go
Due: modules

(impv): replaced getters with individual param
  app/ante/fees.go
  x/evm/keeper/keeper.go
Due: app, modules

tests(filters) add block hash check on newBlock filter
  tests/integration_tests/test_filters.py
Due: none

imp(ante): refactor AnteHandler
  app/ante/eth.go
  app/ante/interfaces.go
  app/ante/mempool.go
  app/ante/setup.go
  app/ante/sigverify.go
  x/evm/keeper/utils.go
  x/evm/types/tx.go
Due: app, modules

tests(filters) add getLogs test cases
  tests/integration_tests/test_filters.py
Due: none

Delete inconsistent test
  x/evm/keeper/grpc_query_test.go
Due: modules

fix test
  app/ante/mempool.go
  app/ante/setup.go
  x/evm/keeper/utils_test.go
Due: app, modules

delete test
  x/evm/keeper/grpc_query_test.go
Due: modules

test
  x/evm/handler_test.go
Due: modules

imp: refactor DeductFees
  x/evm/keeper/utils.go
Due: modules
