Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

update unit test
  x/evm/keeper/statedb_test.go
Due: modules

Update rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/api.go
Due: clients

address pr reviews
  CHANGELOG.md
  cmd/ethermintd/root.go
  server/flags/flags.go
  server/start.go
Due: none

add comment
  server/flags/flags.go
Due: none

Update server/start.go
  server/start.go
Due: none

feat(ante, evm): set priority for eth transactions (#1214)
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  default.nix
  go.mod
  go.sum
  gomod2nix.toml
  rpc/namespaces/ethereum/eth/api.go
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/network.py
  tests/integration_tests/test_priority.py
  tests/integration_tests/utils.py
  x/evm/handler_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/tx_data.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/spec/09_antehandlers.md
Due: app, modules, clients

feat: support dynamic app db backend flag (#1226)
  CHANGELOG.md
  Makefile
  cmd/ethermintd/root.go
  server/flags/flags.go
  server/start.go
Due: none

update error msg check
  tests/integration_tests/test_pruned_node.py
Due: none

fix lint
  .github/workflows/lint.yml
Due: none

fix linter
  tests/integration_tests/.isort.cfg
  tests/integration_tests/conftest.py
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/utils.py
Due: none

fix linter
  app/simulation_test.go
  cmd/config/config.go
  rpc/backend/backend.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  x/evm/types/logs.go
  x/feemarket/types/keys.go
Due: app, modules, clients

fix py lint
  .github/workflows/lint.yml
Due: none

test lint
  .github/workflows/lint.yml
Due: none

fix lint
  .github/workflows/lint.yml
  app/ante/doc.go
  app/export.go
  x/evm/statedb/statedb.go
Due: app, modules

pin golangcli version
  .github/workflows/lint.yml
Due: none

pin golanci version
  .github/workflows/lint.yml
Due: none

pin lint to version 0.48
  .github/workflows/lint.yml
Due: none

fix linter
  app/ante/doc.go
  client/keys/add.go
  x/evm/keeper/state_transition.go
  x/evm/types/tx_data.go
Due: app, modules, clients

fix last linter last file
  rpc/types/query_client.go
Due: clients

imp(tests): prune node integration tests (#1212)
  .github/workflows/lint.yml
  app/ante/doc.go
  app/export.go
  app/simulation_test.go
  client/keys/add.go
  cmd/config/config.go
  rpc/backend/backend.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/types/query_client.go
  tests/integration_tests/.isort.cfg
  tests/integration_tests/configs/pruned_node.jsonnet
  tests/integration_tests/contracts/contracts/TestERC20A.sol
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/utils.py
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/statedb.go
  x/evm/types/logs.go
  x/evm/types/tx_data.go
  x/feemarket/types/keys.go
Due: app, modules, clients

fix linter. getProof future queries now behave as geth
  rpc/namespaces/ethereum/eth/api.go
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_types.py
  tests/integration_tests/utils.py
Due: clients

fix spelling
  rpc/namespaces/ethereum/eth/api.go
Due: clients

[ENG-626] Rpc types integration tests (#1207)
  rpc/backend/evm_backend.go
  rpc/backend/evm_backend_test.go
  rpc/namespaces/ethereum/eth/api.go
  tests/integration_tests/expected_constants.py
  tests/integration_tests/test_types.py
  tests/integration_tests/utils.py
Due: clients

update transactionReceipt from upstream
  rpc/backend/read_txs.go
Due: clients

update getBlockByNumber from upstream
  rpc/backend/blocks.go
Due: clients

update getBalance from upstream
  rpc/backend/evm_backend.go
Due: clients

update getProof from upstream
  rpc/backend/evm_backend.go
Due: clients

fix linter
  rpc/namespaces/ethereum/eth/api.go
Due: clients

remove duplicated import
  rpc/backend/backend.go
Due: clients

remove duplicated import
  rpc/backend/read_txs.go
  rpc/backend/tracing.go
Due: clients

fix backend tests
  rpc/backend/backend_suite_test.go
Due: clients

fix lint
  rpc/backend/tracing.go
Due: clients

fix duplicated imports
  rpc/backend/backend_suite_test.go
  rpc/backend/evm_backend.go
Due: clients

fix linter
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/websockets.go
Due: clients

reorganize blocks
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_info.go
  rpc/backend/chain_info.go
  rpc/backend/evm_backend.go
  rpc/backend/node.go
  rpc/backend/read_txs.go
Due: clients

backend folder refractor
  rpc/backend/account_info.go
  rpc/backend/backend.go
  rpc/backend/blocks_info.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/evm_backend.go
  rpc/backend/filters.go
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
Due: clients

remove unnecessary file
  rpc/backend/evm_backend.go
Due: clients

remove duplicate import
  rpc/backend/call_tx.go
Due: clients

chore(rpc): restructure JSON-RPC APIs (#1218)
  rpc/apis.go
  rpc/backend/account_info.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_info.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/evm_backend.go
  rpc/backend/filters.go
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/miner/api.go
  rpc/namespaces/ethereum/personal/api.go
  rpc/websockets.go
Due: clients

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
