Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

tests: added back 300s timeout period
  scripts/integration-test-all.sh
Due: none

test: uncomment failing test
  tests/rpc/rpc_test.go
Due: none

fix: Increase timeout time and wait time before calls
  scripts/integration-test-all.sh
  tests/rpc/rpc_test.go
Due: none

fix: commented out timeout test
  tests/rpc/ws_test.go
Due: none

patch trace block as well
  proto/ethermint/evm/v1/query.proto
  rpc/backend/tracing.go
  x/evm/keeper/grpc_query.go
  x/evm/types/events.pb.go
  x/evm/types/query.pb.go
  x/feemarket/types/events.pb.go
Due: modules, clients

add get tx trace res func
  x/evm/keeper/grpc_query.go
Due: modules

add test
  x/evm/keeper/grpc_query_test.go
Due: modules

update dep
  gomod2nix.toml
Due: none

make proto-all
  x/evm/types/events.pb.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
  x/feemarket/types/events.pb.go
Due: none

avoid duplicate register proto type in evm
  x/evm/keeper/migrations_test.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/types/params.go
Due: modules

set KeyTable
  app/app.go
Due: app

update from version to v.19.x which support submit-proposal
  tests/integration_tests/configs/upgrade-test-package.nix
  tests/integration_tests/cosmoscli.py
Due: none

test AvailableExtraEIPs
  x/evm/migrations/v4/migrate_test.go
Due: modules

keep grpc query compatible with version before migrate
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/keeper/params.go
Due: app, modules

fix duplicate register & migrate in feemarket
  app/app.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/keeper/params.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/migrations/v4/migrate_test.go
  x/feemarket/types/params.go
  x/feemarket/types/params_test.go
Due: app, modules

update nix
  gomod2nix.toml
Due: none

tests: uncommenting tests
  tests/rpc/rpc_test.go
Due: none

Refactor EIP-712 TypedData generation to match standard Cosmos SDK functionality
  ethereum/eip712/eip712.go
Due: none

support typed event for bloom & txLog
  rpc/backend/blocks.go
  rpc/backend/chain_info.go
  rpc/types/utils.go
  x/evm/types/events.go
  x/feemarket/types/events.go
Due: modules, clients

partial revert typed ethereumTx
  x/evm/keeper/msg_server.go
Due: modules

fix: change event emitting to typed event
  app/ante/setup.go
Due: app

fix: fixed unhandler error
  app/ante/setup.go
  tests/rpc/rpc_test.go
  tests/rpc/ws_test.go
Due: app

fix: revert block bloom and eth tx events
  app/ante/setup.go
  x/evm/keeper/keeper.go
  x/evm/types/events.go
  x/feemarket/types/events.go
Due: app, modules

Add support for Legacy EIP-712 encoding
  app/ante/eip712.go
  app/ante/utils_test.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712.go
  ethereum/eip712/eip712_legacy.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding_legacy.go
Due: app, core

test message call speed
  tests/integration_tests/hardhat/contracts/TestMessageCall.sol
  tests/integration_tests/test_message_call.py
  tests/integration_tests/utils.py
Due: none

adjust test-rpc action timeout to 30 minutes
  .github/workflows/test.yml
Due: none

fix: revert changes from TypedEvents
  proto/ethermint/evm/v1/events.proto
  proto/ethermint/feemarket/v1/events.proto
  scripts/integration-test-all.sh
  tests/rpc/rpc_test.go
  x/evm/keeper/abci_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/types/events.pb.go
  x/feemarket/keeper/abci.go
  x/feemarket/types/events.pb.go
Due: modules

fix: formatter and linter
  x/feemarket/keeper/abci.go
Due: modules

fix: double quote to prevent globbing and word splitting
  scripts/integration-test-all.sh
Due: none

fix: added token to codecov
  .github/workflows/test.yml
Due: none

fix: re-added events.proto for usage later
  proto/ethermint/evm/v1/events.proto
  proto/ethermint/feemarket/v1/events.proto
Due: none

fix: revert changes from TypedEvents (#1600)
  .github/workflows/test.yml
  scripts/integration-test-all.sh
  tests/rpc/rpc_test.go
  x/evm/keeper/abci_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/types/events.pb.go
  x/feemarket/keeper/abci.go
  x/feemarket/types/events.pb.go
Due: modules

Revert "partial revert typed ethereumTx"
  x/evm/keeper/msg_server.go
Due: modules

Revert "support typed event for bloom & txLog"
  rpc/backend/blocks.go
  rpc/backend/chain_info.go
  rpc/types/utils.go
  x/evm/types/events.go
  x/feemarket/types/events.go
Due: modules, clients

Fix: typos
  docs/api/proto-docs.md
Due: none

Fix: typo
  docs/architecture/README.md
Due: none

Fix: typos
  docs/architecture/adr-001-state.md
Due: none

Add basic test coverage; remove unnecessary code
  app/ante/utils_test.go
  ethereum/eip712/eip712.go
  ethereum/eip712/eip712_legacy.go
  ethereum/eip712/eip712_test.go
Due: app

Path conditions:
  app: any of: app/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  modules: any of: x/, but not: x/**/client/, docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  core: any of: core/, crypto/, types/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
  clients: any of: rpc/, client/, x/**/client/, but not: docs, *.md, cmd, **/*.pb.go, **/*.pb.gw.go, types/*.pb.go, x/**/*.pb.gw.go, tests/*, scripts/
