Repository evmos/ethermint: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      core:
        target: 50%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  core:
    paths:
      - "core/"
      - "crypto/"
      - "types/"
  clients:
    paths:
      - "rpc/"
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "cmd"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "types/*.pb.go"
  - "x/**/*.pb.gw.go"
  - "tests/*"
  - "scripts/"

evm: refactor `traceTx` (#613)
  CHANGELOG.md
  x/evm/keeper/grpc_query.go
Due: modules

evm: unit tests
  x/evm/types/dynamic_fee_tx_test.go
Due: modules

tests wip
  app/ante/ante.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  go.mod
  go.sum
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/utils_test.go
Due: app, modules

Add unit tests for DynamicFeeTx.Validate()
  x/evm/types/dynamic_fee_tx_test.go
Due: modules

bump geth version
  go.mod
  go.sum
Due: none

update
  x/evm/keeper/grpc_query_test.go
Due: modules

evm: geth 1.10.9 fee market changes
  app/ante/ante.go
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  app/app.go
  docs/api/proto-docs.md
  docs/protodoc-markdown.tmpl
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/interfaces.go
  x/evm/types/params.go
  x/evm/types/query.pb.go
  x/evm/types/tx_args.go
Due: app, modules

update
  app/ante/ante.go
  app/ante/eth.go
  app/ante/eth_test.go
  x/evm/keeper/grpc_query.go
  x/evm/types/params.go
Due: app, modules

Start get and set signature values tests
  x/evm/types/dynamic_fee_tx_test.go
Due: modules

get set values
  x/evm/types/dynamic_fee_tx_test.go
Due: modules

Add tests for GetTo()
  x/evm/types/dynamic_fee_tx_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

deps: bump IBC-go
  go.mod
  go.sum
Due: none

evm: geth 1.10.9 fee market changes to `Keeper` and `AnteHandler` (#620)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  app/app.go
  docs/api/proto-docs.md
  docs/protodoc-markdown.tmpl
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/interfaces.go
  x/evm/types/params.go
  x/evm/types/query.pb.go
  x/evm/types/tx_args.go
Due: app, modules

deps: bump IBC-go (#621)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

Add GetNonce test
  x/evm/types/dynamic_fee_tx_test.go
Due: modules

grpc traceTx
  x/evm/keeper/grpc_query.go
Due: modules

Add GetValue test
  x/evm/types/dynamic_fee_tx_test.go
Due: modules

Start copy test
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/dynamic_fee_tx_test.go
Due: modules

rm fee market from ante
  app/ante/eth.go
Due: app

Add WIP newDynamicFeeTx test
  x/evm/types/dynamic_fee_tx_test.go
Due: modules

rm cdc and changelog
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
Due: clients

evm, rpc: fix tx log attribute value is not parsable by some client (#615)
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  x/evm/keeper/msg_server.go
Due: modules, clients

Add WIP legacy_tx_test
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/legacy_tx.go
  x/evm/types/legacy_tx_test.go
Due: modules

pair programming session
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/legacy_tx_test.go
Due: modules

Add TestLegacyTxValidate
  x/evm/types/legacy_tx_test.go
Due: modules

Add TestLegacyTxSetSignatureValues & GetSignatureValues
  x/evm/types/legacy_tx_test.go
Due: modules

fix TransactionArgs
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/utils_test.go
  x/evm/types/tx_args.go
Due: modules

lint
  client/config_test.go
  x/evm/types/dynamic_fee_tx.go
Due: modules, clients

update proto
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/types/evm.pb.go
  x/evm/types/query.go
  x/evm/types/query.pb.go
Due: modules, clients

Add legacyTx tests
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/legacy_tx_test.go
Due: modules

update tx args
  x/evm/types/tx_args.go
Due: modules

space
  proto/ethermint/evm/v1/evm.proto
Due: none

evm: fix iterator on deeply nested cache contexts (#617)
  CHANGELOG.md
  x/evm/keeper/context_stack.go
  x/evm/keeper/state_transition.go
Due: modules

Merge main, forgot to save one file
  x/evm/types/dynamic_fee_tx.go
Due: modules

rpc: geth v1.10.9 changes
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/types/utils.go
Due: clients
